@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard"; }

section.PlayWith section.visual {
  background: url("../img/img_visual_bg.png") no-repeat top/100% 100%;
  height: 748px;
  padding: 95px 0 93px; }
  @media (max-width: 375px) {
    section.PlayWith section.visual {
      background: url("../img/img_m_visual_bg.png") no-repeat top/100% 100%;
      height: 527px;
      padding: 32px 0 40px; } }
  section.PlayWith section.visual .inner {
    padding: 0 23px;
    margin: 0 auto;
    max-width: 701px; }
    section.PlayWith section.visual .inner .visual-tit {
      max-width: 686px; }
      @media (max-width: 375px) {
        section.PlayWith section.visual .inner .visual-tit {
          display: none; } }
      section.PlayWith section.visual .inner .visual-tit img {
        width: 100%; }
    section.PlayWith section.visual .inner .mob-visual-tit {
      max-width: 686px;
      display: none; }
      @media (max-width: 375px) {
        section.PlayWith section.visual .inner .mob-visual-tit {
          display: block; } }
      section.PlayWith section.visual .inner .mob-visual-tit img {
        width: 100%; }

section.PlayWith section.schedule {
  background-color: #F9E07A;
  padding: 263px 0 75px;
  position: relative; }
  @media (max-width: 375px) {
    section.PlayWith section.schedule {
      padding: 146px 0 40px; } }
  section.PlayWith section.schedule .inner {
    max-width: 701px;
    margin: 0 auto;
    padding: 0 23px; }
    section.PlayWith section.schedule .inner .video-box {
      position: absolute;
      top: -191px;
      left: 50%;
      transform: translateX(-50%); }
      @media (max-width: 375px) {
        section.PlayWith section.schedule .inner .video-box {
          top: -74px;
          width: 321px; } }
      section.PlayWith section.schedule .inner .video-box .video-btn-box {
        display: block;
        max-width: 701px; }
        section.PlayWith section.schedule .inner .video-box .video-btn-box img {
          width: 100%; }
    section.PlayWith section.schedule .inner .schedule-wrap {
      margin: 0 auto;
      max-width: 482px; }
      section.PlayWith section.schedule .inner .schedule-wrap .subject-box {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -0.03em;
        color: #000;
        text-align: center; }
      section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list {
        padding-top: 20px; }
        section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row {
          display: flex; }
          section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row .subject-box {
            font-size: 22px;
            font-weight: 700;
            letter-spacing: -0.03em;
            color: #000;
            min-width: 97px;
            line-height: 160%;
            text-align: left; }
            @media (max-width: 375px) {
              section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row .subject-box {
                font-size: 15px;
                min-width: 67px; } }
          section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row .desc-box {
            margin-left: 52px;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: -0.03em;
            color: #000;
            line-height: 160%; }
            @media (max-width: 375px) {
              section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row .desc-box {
                margin-left: 16px;
                font-size: 15px; } }
            section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row .desc-box .label-box {
              background-color: #0D2A64;
              padding: 5px;
              font-size: 20px;
              font-weight: 700;
              letter-spacing: -0.03em;
              color: #ffffff; }
              @media (max-width: 375px) {
                section.PlayWith section.schedule .inner .schedule-wrap .schedule-row-list .row .desc-box .label-box {
                  padding: 2px;
                  font-size: 14px; } }
      section.PlayWith section.schedule .inner .schedule-wrap .msg-box {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #95802E;
        text-align: center; }
        @media (max-width: 375px) {
          section.PlayWith section.schedule .inner .schedule-wrap .msg-box {
            font-size: 12px; } }

section.PlayWith section.information {
  padding: 80px 0;
  background: url("../img/img_benefit_bg.png") no-repeat top/100% 100%; }
  @media (max-width: 375px) {
    section.PlayWith section.information {
      background: url("../img/img_m_benefit_bg.png") no-repeat top/100% 100%;
      padding: 40px 0; } }
  section.PlayWith section.information .inner {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 730px; }
    section.PlayWith section.information .inner .info-wrap .row + .row {
      padding-top: 61px; }
      @media (max-width: 375px) {
        section.PlayWith section.information .inner .info-wrap .row + .row {
          padding-top: 40px; } }
    section.PlayWith section.information .inner .info-wrap .row .con-box {
      padding-top: 31px; }
      @media (max-width: 375px) {
        section.PlayWith section.information .inner .info-wrap .row .con-box {
          padding-top: 20px; } }
      section.PlayWith section.information .inner .info-wrap .row .con-box.type-benefit {
        position: relative; }
        section.PlayWith section.information .inner .info-wrap .row .con-box.type-benefit:after {
          position: absolute;
          content: '';
          background: url("../img/img_cloud_1.png") no-repeat center/cover;
          width: 166px;
          height: 82px;
          bottom: 107px;
          left: -232px; }
        section.PlayWith section.information .inner .info-wrap .row .con-box.type-benefit:before {
          position: absolute;
          content: '';
          background: url("../img/img_cloud_2.png") no-repeat center/cover;
          width: 98px;
          height: 49px;
          bottom: -29px;
          right: -199px; }
      section.PlayWith section.information .inner .info-wrap .row .con-box.type-mission {
        position: relative; }
        section.PlayWith section.information .inner .info-wrap .row .con-box.type-mission:after {
          position: absolute;
          content: '';
          background: url("../img/img_cloud_3.png") no-repeat center/cover;
          width: 166px;
          height: 82px;
          top: 120px;
          left: -215px; }
        section.PlayWith section.information .inner .info-wrap .row .con-box.type-mission:before {
          position: absolute;
          content: '';
          background: url("../img/img_cloud_4.png") no-repeat center/cover;
          width: 166px;
          height: 82px;
          top: -16px;
          right: -130px; }
      section.PlayWith section.information .inner .info-wrap .row .con-box .img-box {
        max-width: 730px;
        position: relative; }
        section.PlayWith section.information .inner .info-wrap .row .con-box .img-box img {
          width: 100%; }
      section.PlayWith section.information .inner .info-wrap .row .con-box .date-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -7px -7px; }
        @media (max-width: 375px) {
          section.PlayWith section.information .inner .info-wrap .row .con-box .date-list {
            flex-flow: row wrap;
            padding: 0 36px; } }
        section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box {
          width: calc(25% - 14px);
          height: 155px;
          background-color: #F9E07A;
          border-radius: 50%;
          border: 2px solid #000000;
          display: flex;
          align-content: center;
          justify-content: center;
          flex-flow: wrap;
          margin: 7px 7px; }
          @media (max-width: 375px) {
            section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box {
              width: calc(50% - 14px);
              height: 124px;
              margin: 7px 7px;
              flex-flow: column;
              align-items: center; } }
          section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box.type-col {
            background-color: #82C0FF; }
          section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box .subject-box {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.04em;
            color: #000; }
            @media (max-width: 375px) {
              section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box .subject-box {
                font-size: 14px; } }
          section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box .desc-box {
            padding-top: 14px;
            font-weight: 700;
            font-size: 22px;
            line-height: 110%;
            color: #000; }
            @media (max-width: 375px) {
              section.PlayWith section.information .inner .info-wrap .row .con-box .date-list .date-con-box .desc-box {
                font-size: 18px;
                padding-top: 7px; } }
    section.PlayWith section.information .inner .submit-box {
      padding-top: 44px; }
      @media (max-width: 375px) {
        section.PlayWith section.information .inner .submit-box {
          padding-top: 30px; } }
      section.PlayWith section.information .inner .submit-box .submit-btn-box {
        max-width: 480px;
        margin: 0 auto; }
        section.PlayWith section.information .inner .submit-box .submit-btn-box + .submit-btn-box {
          margin-top: 12px; }
          @media (max-width: 375px) {
            section.PlayWith section.information .inner .submit-box .submit-btn-box + .submit-btn-box {
              margin-top: 10px; } }
        section.PlayWith section.information .inner .submit-box .submit-btn-box .submit-btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 600;
          color: #ffffff;
          letter-spacing: -0.05em;
          background-color: #000000;
          border-radius: 999px;
          padding: 25px 5px;
          text-decoration: none; }
          @media (max-width: 375px) {
            section.PlayWith section.information .inner .submit-box .submit-btn-box .submit-btn {
              font-size: 18px;
              padding: 19px 5px; } }

section.PlayWith section.view {
  background-color: #1EB26C;
  padding: 80px 0 120px; }
  @media (max-width: 375px) {
    section.PlayWith section.view {
      padding: 40px 0 100px; } }
  section.PlayWith section.view .inner {
    padding: 0 21px;
    max-width: 730px;
    margin: 0 auto; }
    section.PlayWith section.view .inner .view-con-box {
      max-width: 730px;
      padding-top: 30px; }
      section.PlayWith section.view .inner .view-con-box img {
        width: 100%; }
    section.PlayWith section.view .inner .view-btn-box {
      padding-top: 40px;
      width: 100%; }
      @media (max-width: 375px) {
        section.PlayWith section.view .inner .view-btn-box {
          padding-top: 20px; } }
      section.PlayWith section.view .inner .view-btn-box .view-btn {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.05em;
        color: #ffffff;
        background-color: #000000;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 480px;
        text-decoration: none;
        padding: 25px 5px; }
        @media (max-width: 375px) {
          section.PlayWith section.view .inner .view-btn-box .view-btn {
            font-size: 18px;
            padding: 18px 5px; } }
    section.PlayWith section.view .inner .warning-box {
      padding-top: 67px; }
      @media (max-width: 375px) {
        section.PlayWith section.view .inner .warning-box {
          padding-top: 40px; } }
      section.PlayWith section.view .inner .warning-box .subject-box {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.05em;
        color: #265740; }
      section.PlayWith section.view .inner .warning-box .desc-box {
        padding-top: 18px; }
        @media (max-width: 375px) {
          section.PlayWith section.view .inner .warning-box .desc-box {
            padding-top: 10px; } }
        section.PlayWith section.view .inner .warning-box .desc-box .txt {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: #265740;
          line-height: 160%; }
          @media (max-width: 375px) {
            section.PlayWith section.view .inner .warning-box .desc-box .txt {
              font-size: 12px;
              text-indent: -5px; } }
    section.PlayWith section.view .inner .foot-logo-box {
      padding-top: 61px;
      max-width: 107px;
      margin: 0 auto; }
      section.PlayWith section.view .inner .foot-logo-box img {
        width: 100%; }

article.subject-tit-box .subject-tit-txt {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #000; }
  @media (max-width: 375px) {
    article.subject-tit-box .subject-tit-txt {
      font-size: 24px; } }

/*# sourceMappingURL=style.css.map */