@charset "UTF-8"; //전세계의 문자와 숫자, 기호 등 원활하게 인코딩하는 방법

$font:'NanumBarunGothic';

@each $font-size in L, R, B{
	@font-face {
		font-family:$font;
		src: url("../font/#{$font}-#{$font-size}.woff")format('woff');

		@if $font == L{
			font-weight: 300;
		}

		@else if $font == R {
			font-weight: 400;
		}

		@else if $font == B {
			font-weight: 700;
		}

		font-style: normal;
	}
}

*{
	margin: 0;
	padding: 0;
	font-family:'NanumBarunGothic';
}

.lotto-play-contents{
	margin: 0 auto;
	width: 1024px;
	.lotto-group{
		background: #1C1D4A url("../img/img_bg.png")no-repeat top right/ 880px 170px;
		header{
			padding: 18px 26px 0;
			.header-box{
				display: inline-flex;
				align-items: center;

				h1.logo-box{
					.logo-btn{
						width: 133px;

						img{
							max-width: 100%;
						}
					}
				}

				.logo-txt{
					color: #FFF;
					font-size: 28px;
					font-weight: 600;
					line-height: normal;
				}
			}
		}

		main{
			.lotto-check-con-box{
				.inner{
					padding: 80px 48px 109px;

					.user-subject{
						display: flex;
						align-items: center;
						justify-content: space-between;
						height: 46px;//높이값을 주지 않으면 패딩값이 겹쳐지는 이유는?

						.name-box{
							color: var(--Lotto-FFFFFF, #FFF);
							font-size: 20px;
							font-weight: 400;
							line-height: normal;
						}

						.con-box{
							display: flex;
							align-items: center;
							.point-box{
								color: var(--Lotto-FFFFFF, #FFF);
								font-size: 20px;
								font-weight: 600;
								line-height: normal;
							}

							.lobby-btn-box{
								padding-left: 24px;
								.lobby-btn{
									color: var(--Lotto-5899FA, #5899FA);
									font-size: 16px;
									font-weight: 600;
									line-height: normal;
									border-radius: 100px;
									border: 1px solid var(--Lotto-5899FA, #5899FA);
									padding: 13px 15px;
									text-decoration: none;
								}
							}
						}
					}

					.lotto-check-form-box{
						padding-top: 40px;

						.lotto-tab-box{
							.tab-list{
								ul{
									display: flex;
									align-items: center;
									justify-content: center;
									margin: 0 -2px;
									li{
										width: calc(25% - 4px);
										margin: 0 2px;
										list-style: none;

										.tab-btn{
											text-decoration: none;
											color: var(--Lotto-888888, #888);
											font-size: 16px;
											font-weight: 400;
											line-height: normal;
											display: flex;
											align-items: center;
											justify-content: center;
											border-radius: 10px 10px 0 0;
											background: var(--Lotto-2B2D5D, #2B2D5D);
											box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.20);
											padding: 15px 0;

											&.on{
												color: var(--Lotto-FFFFFF, #FFF);
												font-weight: 600;
												background: #34B5F7;
											}
										}
									}
								}
							}
						}

						.lotto-check-layout{
							background: url("../img/img_check_bg.png")no-repeat center/100% 100%;

							padding: 41px 24px;

							.msg-box{
								display: flex;



								.icon-box{
									border-radius: 50%;
									background: rgba(88, 153, 250, 0.30);
									color: #FFF;
									font-size: 14px;
									font-weight: 400;
									display: inline-flex;
									align-items: center;
									justify-content: center;
									width: 18px;
									height: 18px;
								}

								.msg-txt{
									padding-left: 10px;
									color: var(--Lotto-FFFFFF, #FFF);
									font-size: 16px;
									font-weight: 400;
									height: 18px;

								}
							}

							.lotto-check-box{
								padding-top: 32px;
								.lotto-wrap{
									background-color: #ffffff;
									border-radius: 10px;
									border: 1px solid var(--Lotto-EF3A81, #EF3A81);
									overflow: hidden;
									display: flex;
									align-items: center;

									.lotto-chk-box{
										width: 20%;

										&+.lotto-chk-box{
											border-left: 1px solid #EF3A81;
										}


										.subject{
											display: flex;
											align-items: center;
											justify-content: center;
											height: 40px;
											border-bottom: 1px solid #EF3A81;

											.label-box{
												color: var(--Lotto-EF3A81, #EF3A81);
												font-size: 16px;
												font-weight: 600;
												line-height: normal;
												width: 40px;
												display: flex;
												align-items: center;
												justify-content: center;

											}
											.desc-box{
												flex: 1;
												min-width: 0;
												height: 100%;
												width: 100%;
												display: flex;
												align-items: center;
												justify-content: center;
												color: var(--Lotto-FFFFFF, #FFF);
												font-size: 16px;
												font-weight: 600;
												line-height: normal;
												background: var(--Lotto-EF3A81, #EF3A81);
											}
										}

										.con-box{
											padding: 20px 24px;

											.num-btn-wrap{

												display: flex;
												flex-flow: wrap;
												margin: -6px -6px;

												.num-btn-box{
													width: calc(20% - 12px);
													margin: 6px 6px;



													label{
														cursor: pointer;
														width: 100%;

														input[type=checkbox]{
															position: absolute;
															left: -9999px;

															&:checked{

																& ~ .txt{
																	background: #000000;
																	color: #ffffff;

																	&:after{
																		display: none;
																	}

																	&:before{
																		display: none;
																	}

																}

															}
														}

														.txt{
															position: relative;
															width: 100%;
															color: var(--Lotto-EF3A81, #EF3A81);
															font-size: 12px;
															font-weight: 600;
															line-height: normal;
															display: flex;
															align-items: center;
															justify-content: center;
															height: 21px;

															&:after{
																content: '';
																background: url("../img/ic_click_front.svg")no-repeat center/cover;
																width: 16px;
																height: 2px;
																position: absolute;
																top: 0;
																left: 50%;
																transform: translateX(-50%);
															}

															&:before{
																content: '';
																background: url("../img/ic_click_back.svg")no-repeat center/cover;
																width: 16px;
																height: 2px;
																position: absolute;
																bottom: 0;
																left: 50%;
																transform: translateX(-50%);
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}