@charset "UTF-8";


// 모바일
@mixin m{
	@media (max-width: 1024px) {
		@content
	}
}



$font : 'pretendard'; //pretendard를 변수에 담은 것
@each $fonts in T, L, R, M, B, EB {

	@font-face {
		font-family: $font; //변수로 선언한 변수명으로 적기 변수명으로 선언하지 않았을 경우 사용할 폰트명 적어주기
		src: url('../fonts/#{$font}-#{$fonts}.woff') format('woff');
		// 사스 문법에서는 문자열 내에서 변수를 호출하기 위해 # 문법을 사용한다.
		@if $fonts == T {
			font-weight: 200;
		} @else if $fonts == L {
			font-weight: 300;
		} @else if $fonts == R {
			font-weight: 400;
		} @else if $fonts == M {
			font-weight: 500;
		} @else if $fonts == B {
			font-weight: 700;
		} @else if $fonts == EB {
			font-weight: 900;
		}
		font-style: normal;
	}
}


*{
	margin: 0 ;
	font-size: 0;
	font-family: $font;

}

.inner{
	padding: 0 20px;
}

.goods-contents{


}

section.visual{
	background-color: #AD263B;
	padding: 60px 0 74px;
	@include m{
	    padding: 40px 0 40px;
	}
	.visual-tit-box{
		max-width: 597px;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}

	.visual-con-box{
		padding-top: 45px;
		margin: 0 auto;
		max-width: 579px;
		img{
			width: 100%;

		}
	}
}

section.event {
	background-color: #E3B2B2;
	padding: 80px 0 100px;
	@include m{
	    padding: 40px 0 60px;
	}

	.inner {

		&.wrap {
			max-width: 800px;
			margin: 0 auto;
		}
	}

	.event-info-box {
		.row-list-box {
			.row {

				& + .row {
					padding-top: 50px;
					@include m{
					    padding-top: 40px;
					}

				}

				.con-box {
					text-align: center;
					padding-top: 16px;
					color: #000;
					font-size: 17px;
					font-weight: 400;
					line-height: 140%;

					@include m{
						font-size: 14px;
						line-height: 160%;
					}


				}

			}

		}

		.event-info-con-box {
			padding: 50px 84px 40px;
			margin-top: 80px;
			max-width: 800px;
			background-color: #fff;
			@include m{
				padding: 31px 29px 30px;
				margin-top: 40px;
			}

			.con-tit-box {
				.tit-txt {
					margin: 0 auto;
					max-width: 286px;

					img {
						width: 100%;

					}
				}

				.desc-box {
					padding-top: 21px;
					color: #000;
					text-align: center;
					font-size: 20px;
					font-weight: 400;
					line-height: 100%;
					letter-spacing: -0.6px;
				}
			}

			.event-info-con-img-box {
				padding-top: 40px;
				max-width: 655px;
				margin: 0 auto;

				img {
					width: 100%;

				}
			}

			.event-apply-btn-box {
				padding-top: 37px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include m{
				    padding-top: 31px;
				}

				.apply-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					max-width: 360px;
					padding: 20px 10px;
					border-radius: 10px;
					background: #000;
					color: #FFF;
					font-size: 18px;
					font-weight: 700;
					letter-spacing: -0.54px;
					text-decoration: none;
					@include m{
						font-weight: 600;
					}
				}
			}

			.event-date-box {
				margin-top: 40px;
				border-top: 1px dashed #CECECE;
				@include m{
					margin-top: 30px;
				}


				.date-wrap {
					padding-top: 40px;
					padding-left: 71px;
					@include m{
						padding-top: 20px;
						padding-left: 0;
					}


					.row-list{


						.row {
							display: flex;
							align-items: center;
							@include m{
							    align-items: start;
							}

							& + .row {
								padding-top: 17px;
								@include m{
								    padding-top: 16px;
								}
							}

							.subject-box {
								width: 114px;
								@include m{
								    width: 92px;
								}
								.subject-txt {
									color: #000;
									font-size: 16px;
									font-weight: 600;
									letter-spacing: -0.8px;
									@include m{
										font-size: 14px;
										letter-spacing: -0.7px;
									}

								}
							}

							.desc-box {
								display: flex;
								justify-content: center;
								flex: 1;
								@include m{
								    justify-content: start;
								}

								.icon-box {
									width: 16px;
									height: 16px;
									background: url("img/ic_date.svg") no-repeat center/ 16px 16px;
									padding-right: 6px;



								}
							}

							.desc-txt {
								flex: 1;//icon-box의 고정값을 가지고 있고 desc-txt가 그 나머지 값을 값을 갖도록하기 위함.
								color: #000;
								font-size: 16px;
								font-weight: 300;
								line-height: 18px;
								@include m{
									font-size: 14px;

								}
							}
						}
					}


				}
			}

			.msg-box{
				padding-top: 24px;
				color: #854444;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: -0.7px;
			}
		}

		.view-btn-box{
			padding-top: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			@include m{
			    padding-top: 40px;
			}
			.view-btn{
				display: flex;
				padding: 20px 10px;
				width: 100%;
				max-width: 360px;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				background: #000;
				color: #FFF;
				font-size: 18px;
				font-weight: 700;
				letter-spacing: -0.54px;
				text-decoration: none;
			}
		}
	}
}



article.label-box{
	display: flex;
	justify-content: center;
	.label-txt{

		border-radius: 50px;
		background: #AD263B;
		padding: 5px 14px;
		color: #FFF;
		font-size: 16px;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;

		@include m{
			font-size: 15px;
		}
	}
}
