




section.korean-language-test{




	.language-inner{
		background: url("../img/korean-language-test/img_korea_language_bg.png")no-repeat center/100% 100%;
		padding: 80px 20px;


		.iso-tit-box{
			font-size: 32px;
			font-weight: 600;
			color: #FFFFff;
			text-align: center;
		}

		.language-con-box{
			padding-top: 40px;
			margin:0 -20px;


			.language-table-list{
				padding: 0 20px;
				overflow-x: scroll;

				table{

					table-layout: fixed;
					border: 1px solid #707070;
					border-left: 1px solid transparent;
					border-right: 1px solid transparent;
					thead{

						tr{
							background-color: #292929;
							height: 30px;

							th{
								font-size: 16px;
								font-weight: 600;
								letter-spacing: -0.02em;
								color: #fff;
								line-height: 18px;
							}
						}

					}

					tbody{
						tr{

							td{
								font-size: 16px;
								font-weight: 600;
								letter-spacing: -0.02em;
								color: #fff;
								line-height: 18px;
								border: 1px solid #555555;
								border-top: 1px solid transparent;
								text-align: center;
								padding: 8px;
								&.t-start{
									text-align: start;

								}
								&:last-child{
									border-right: 1px solid transparent;
								}
								&:first-child{
									border-left: 1px solid transparent;
								}



								ul.language-con-list{
									li{
										position: relative;

										&:after{
											content: '';
											width: 3px;
											height: 3px;
											border-radius: 50%;
											background-color: #FFFFff;
											position: absolute;
											left: 11px;
											top: 10px;
										}

										.txt-box{
											font-size: 16px;
											font-weight: 400;
											letter-spacing: -0.02em;
											color: #fff;
											line-height: 22px;
											padding-left: 24px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
