@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
  background-color: #1B2333; }
  .wrapper header {
    background-color: #162955; }
    .wrapper header .main-box {
      padding: 13px 33px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .wrapper header .main-box .header-box {
        display: flex;
        align-items: center; }
        .wrapper header .main-box .header-box .logo-box .logo {
          width: 213px;
          height: 44px;
          display: block; }
          .wrapper header .main-box .header-box .logo-box .logo img {
            width: 100%; }
        .wrapper header .main-box .header-box .header-tit-box {
          padding-left: 70px;
          display: flex;
          align-items: center; }
          .wrapper header .main-box .header-box .header-tit-box .icon {
            background: url("../img/ic_panorama.svg") no-repeat center/cover;
            width: 19px;
            height: 18px;
            display: block; }
          .wrapper header .main-box .header-box .header-tit-box .txt-box {
            padding-left: 10px;
            font-size: 18px;
            font-weight: 600;
            color: #ffffff; }
        .wrapper header .main-box .header-box .share-btn-box {
          padding-left: 45px; }
          .wrapper header .main-box .header-box .share-btn-box .share-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 200px;
            height: 40px;
            background-color: #3060EA;
            border-radius: 30px; }
            .wrapper header .main-box .header-box .share-btn-box .share-btn i.icon-share {
              background: url("../img/ic_share.svg") no-repeat center/20px 20px;
              width: 20px;
              height: 20px;
              display: inline-flex; }
            .wrapper header .main-box .header-box .share-btn-box .share-btn .txt-box {
              padding-left: 10px;
              font-size: 18px;
              font-weight: 600;
              color: #EBEFF7; }
        .wrapper header .main-box .header-box .setting-btn-box {
          padding-left: 45px; }
          .wrapper header .main-box .header-box .setting-btn-box .setting-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none; }
            .wrapper header .main-box .header-box .setting-btn-box .setting-btn i.icon-setting {
              background: url("../img/ic_setting.svg") no-repeat center/19px 19px;
              width: 19px;
              height: 19px;
              display: inline-flex; }
            .wrapper header .main-box .header-box .setting-btn-box .setting-btn .txt-box {
              padding-left: 10px;
              font-size: 18px;
              font-weight: 600;
              color: #EBEFF7; }
      .wrapper header .main-box .header-option-box + .header-option-box {
        position: relative;
        padding-left: 50px; }
        .wrapper header .main-box .header-option-box + .header-option-box:after {
          content: '';
          width: 1px;
          height: 20px;
          position: absolute;
          top: 3px;
          left: 25px;
          background-color: #dddddd; }
      .wrapper header .main-box .header-option-box .option-box {
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 24px; }
        .wrapper header .main-box .header-option-box .option-box .txt-box {
          font-size: 14px;
          font-weight: 400;
          color: #FFFFff;
          padding-right: 10px; }
        .wrapper header .main-box .header-option-box .option-box .icon.type-user {
          background: url("../img/ic_user.svg") no-repeat center/cover;
          width: 24px;
          height: 24px;
          display: block; }
        .wrapper header .main-box .header-option-box .option-box .icon.type-lang {
          background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
          width: 8px;
          height: 4px;
          display: block; }
        .wrapper header .main-box .header-option-box .option-box .icon.type-login {
          background: url("../img/ic_login.svg") no-repeat center/cover;
          width: 24px;
          height: 24px;
          display: block; }
    .wrapper header .sub-box {
      border-top: 1px solid #37466F;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px 33px; }
      .wrapper header .sub-box .con-box {
        display: flex;
        align-items: center;
        justify-content: center; }
        .wrapper header .sub-box .con-box .btn-wrap {
          display: inline-flex;
          align-items: center;
          justify-content: center; }
          .wrapper header .sub-box .con-box .btn-wrap .btn-nav {
            background-color: #6393EF;
            border-radius: 3px;
            width: 42px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper header .sub-box .con-box .btn-wrap .btn-nav + .btn-nav {
              margin-left: 10px; }
            .wrapper header .sub-box .con-box .btn-wrap .btn-nav i.icon-forward {
              background: url("../img/ic_forward.svg") no-repeat center/cover;
              width: 18px;
              height: 9px; }
            .wrapper header .sub-box .con-box .btn-wrap .btn-nav i.icon-prev {
              background: #6393EF url("../img/ic_prev.svg") no-repeat center/cover;
              width: 16px;
              height: 16px; }
        .wrapper header .sub-box .con-box .sub-tit-box {
          font-size: 18px;
          font-weight: 600;
          color: #ffffff; }
          .wrapper header .sub-box .con-box .sub-tit-box i.icon-sub-tit {
            background: url("../img/ic_sub_tit.svg") no-repeat center/14px 14px;
            width: 14px;
            height: 14px;
            display: inline-flex; }
        .wrapper header .sub-box .con-box .nav-wrap {
          margin-left: 10px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .wrapper header .sub-box .con-box .nav-wrap .txt-box {
            font-size: 15px;
            font-weight: 300;
            color: #D2D2D2;
            letter-spacing: -0.025em;
            height: 20px; }
            .wrapper header .sub-box .con-box .nav-wrap .txt-box.type-bold {
              color: #FFFFFF;
              font-weight: 600; }
          .wrapper header .sub-box .con-box .nav-wrap .next-dot {
            height: 20px;
            padding: 0 8px; }
            .wrapper header .sub-box .con-box .nav-wrap .next-dot i.icon-next-dot {
              background: url("../img/ic_sub_tit.svg") no-repeat center/cover;
              width: 16px;
              height: 16px;
              display: block;
              margin-top: 2px; }
    .wrapper header .search-wrap {
      background-color: #1B2333;
      padding: 12px 29px 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #59606B; }
      .wrapper header .search-wrap .item-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 36px; }
        .wrapper header .search-wrap .item-box + .item-box {
          padding-left: 35px; }
        .wrapper header .search-wrap .item-box .txt-box {
          font-size: 15px;
          font-weight: 300;
          color: #E5EBFF;
          line-height: 36px;
          letter-spacing: -0.02em;
          margin-right: 12px; }
        .wrapper header .search-wrap .item-box .url-txt {
          padding-right: 5px;
          font-size: 15px;
          font-weight: 500;
          color: #ffffff; }
        .wrapper header .search-wrap .item-box .tbox input {
          border: 1px solid #374971;
          background-color: #1E2431;
          height: 36px;
          width: 241px;
          border-radius: 3px;
          outline: none;
          color: #ffffff;
          padding: 6px 12px; }
          .wrapper header .search-wrap .item-box .tbox input::placeholder {
            color: #FFFFff; }
        .wrapper header .search-wrap .item-box .tbox.short input {
          width: 121px; }
        .wrapper header .search-wrap .item-box .pbox input {
          border: 1px solid #374971;
          background-color: #1E2431;
          height: 36px;
          width: 130px;
          border-radius: 3px;
          outline: none;
          color: #ffffff;
          padding: 6px 12px; }
          .wrapper header .search-wrap .item-box .pbox input::placeholder {
            color: #FFFFff; }
        .wrapper header .search-wrap .item-box .rbox + .rbox {
          padding-left: 20px; }
        .wrapper header .search-wrap .item-box .rbox label {
          display: flex;
          align-items: center;
          justify-content: center; }
          .wrapper header .search-wrap .item-box .rbox label input[type=radio] {
            position: absolute;
            left: -9999px; }
            .wrapper header .search-wrap .item-box .rbox label input[type=radio]:checked ~ i {
              background: url("../img/ic_radio_on.svg") no-repeat center/cover; }
            .wrapper header .search-wrap .item-box .rbox label input[type=radio]:checked ~ .chk-txt {
              color: red; }
          .wrapper header .search-wrap .item-box .rbox label .chk-txt {
            font-size: 15px;
            font-weight: 500;
            color: #ffffff;
            line-height: 24px;
            margin-right: 8px; }
          .wrapper header .search-wrap .item-box .rbox label i {
            background: url("../img/ic_radio_off.svg") no-repeat center/cover;
            width: 24px;
            height: 24px;
            display: block; }
    .wrapper header .save-btn-box {
      padding-left: 36px; }
      .wrapper header .save-btn-box .save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #204F7A;
        border-radius: 3px;
        width: 90px;
        height: 36px; }
        .wrapper header .save-btn-box .save-btn i.icon-save {
          background: url("../img/ic_save.svg") no-repeat center;
          width: 16px;
          height: 16px; }
        .wrapper header .save-btn-box .save-btn .txt-box {
          color: #FFFFFF;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.025em;
          line-height: 16px;
          padding-left: 10px; }
  .wrapper .contents {
    margin: 0 auto; }
    .wrapper .contents .inner {
      padding-top: 195px; }
      .wrapper .contents .inner .choice-wrap .choice-btn {
        text-decoration: none;
        background-color: #2193E5;
        width: 298px;
        height: 300px;
        border-radius: 12px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; }
        .wrapper .contents .inner .choice-wrap .choice-btn .img-box {
          background: url("../img/img_choice_panorama.svg") no-repeat center/cover;
          width: 120px;
          height: 120px; }
        .wrapper .contents .inner .choice-wrap .choice-btn .txt-box {
          font-size: 28px;
          font-weight: 500;
          letter-spacing: -0.025em;
          color: #FFFFff; }

/*# sourceMappingURL=style.css.map */