@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
  background-color: #EBEFF7; }
  .wrapper header {
    background-color: #162955; }
    .wrapper header .main-box {
      padding: 13px 33px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .wrapper header .main-box .header-box {
        display: flex;
        align-items: center; }
        .wrapper header .main-box .header-box .logo-box .logo {
          width: 213px;
          height: 44px;
          display: block; }
          .wrapper header .main-box .header-box .logo-box .logo img {
            width: 100%; }
        .wrapper header .main-box .header-box .header-tit-box {
          padding-left: 70px;
          display: flex;
          align-items: center; }
          .wrapper header .main-box .header-box .header-tit-box .icon {
            background: url("../img/ic_panorama.svg") no-repeat center/cover;
            width: 19px;
            height: 18px;
            display: block; }
          .wrapper header .main-box .header-box .header-tit-box .txt-box {
            padding-left: 10px;
            font-size: 18px;
            font-weight: 600;
            color: #ffffff; }
        .wrapper header .main-box .header-box .share-btn-box .share-btn .txt-box {
          font-size: 18px;
          font-weight: 600;
          color: #EBEFF7; }
      .wrapper header .main-box .header-option-box + .header-option-box {
        position: relative;
        padding-left: 50px; }
        .wrapper header .main-box .header-option-box + .header-option-box:after {
          content: '';
          width: 1px;
          height: 20px;
          position: absolute;
          top: 3px;
          left: 25px;
          background-color: #dddddd; }
      .wrapper header .main-box .header-option-box .option-box {
        text-decoration: none;
        display: flex;
        align-items: center; }
        .wrapper header .main-box .header-option-box .option-box .txt-box {
          font-size: 14px;
          font-weight: 400;
          color: #FFFFff;
          padding-right: 10px; }
        .wrapper header .main-box .header-option-box .option-box .icon.type-lang {
          background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
          width: 8px;
          height: 4px;
          display: block; }
        .wrapper header .main-box .header-option-box .option-box .icon.type-login {
          background: url("../img/ic_login.svg") no-repeat center/cover;
          width: 24px;
          height: 24px;
          display: block; }
    .wrapper header .sub-box .sub-tit-box {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      padding: 13px 33px;
      border-top: 1px solid #37466F; }
      .wrapper header .sub-box .sub-tit-box i.icon-sub-tit {
        background: url("../img/ic_sub_tit.svg") no-repeat center/14px 14px;
        width: 14px;
        height: 14px;
        display: inline-flex; }
  .wrapper .contents {
    margin: 0 auto;
    padding: 57px 0;
    background-color: #EBEFF7; }
    .wrapper .contents .inner {
      width: 1024px;
      background-color: #fff;
      padding: 41px 49px 63px; }
      .wrapper .contents .inner .agree-wrap {
        border-bottom: 1px solid #D0D0D0; }
        .wrapper .contents .inner .agree-wrap .checkbox-wrap {
          padding-top: 27px; }
          .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group {
            padding: 20px 0; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group + .checkbox-group {
              border-top: 1px solid #DEDEDE; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group .checkbox-item {
              display: flex;
              align-items: center;
              justify-content: space-between; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group label {
              cursor: pointer;
              display: inline-flex;
              align-items: center; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group label input[type="checkbox"] {
                opacity: 0;
                position: absolute;
                width: 0;
                height: 0;
                font-size: 20px;
                font-weight: 400;
                color: #222222; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group label .checkmark {
                position: relative;
                background: url("../img/ic_agree_off.svg") no-repeat center/cover;
                width: 22px;
                height: 22px;
                display: inline-flex; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group label .txt-box {
                padding-left: 10px; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group label input[type="checkbox"]:checked + .checkmark {
                background: url("../img/ic_agree_on.svg") no-repeat center/cover; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group .checkbox-group {
              margin-bottom: 15px;
              display: flex;
              align-items: center; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group button {
              padding: 5px 10px;
              font-size: 0.9em;
              background-color: #007bff;
              color: white;
              border: none;
              border-radius: 3px;
              cursor: pointer; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .checkbox-group button:hover {
              background-color: #0056b3; }
          .wrapper .contents .inner .agree-wrap .checkbox-wrap .terms {
            display: none;
            border: 1px solid #ccc;
            padding: 15px;
            margin-top: 10px;
            overflow-y: auto;
            background-color: #f9f9f9;
            border-radius: 5px;
            font-size: 0.9em;
            height: 280px; }
            .wrapper .contents .inner .agree-wrap .checkbox-wrap .terms .txt-box {
              color: #222222; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .terms .txt-box .subject-box {
                font-size: 28px;
                font-weight: 700; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .terms .txt-box .sub-box {
                padding-top: 15px;
                font-size: 18px;
                font-weight: 600; }
              .wrapper .contents .inner .agree-wrap .checkbox-wrap .terms .txt-box .desc-box {
                padding-top: 15px;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px; }
      .wrapper .contents .inner .join-info-wrap {
        padding-top: 38px;
        border-bottom: 1px solid #D0D0D0; }
        .wrapper .contents .inner .join-info-wrap .inner {
          width: 472px;
          margin: 0 auto; }
        .wrapper .contents .inner .join-info-wrap .form-box {
          padding: 30px 0;
          position: relative; }
          .wrapper .contents .inner .join-info-wrap .form-box .form-txt-box {
            display: flex;
            align-items: center;
            padding-bottom: 7px; }
            .wrapper .contents .inner .join-info-wrap .form-box .form-txt-box .form-txt {
              font-size: 16px;
              font-weight: 400;
              color: #222222;
              line-height: -0.3px; }
            .wrapper .contents .inner .join-info-wrap .form-box .form-txt-box .desc-box {
              padding-left: 10px;
              font-size: 13px;
              font-weight: 400;
              color: #0085FF;
              line-height: -0.025em; }
          .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con {
            display: flex;
            align-items: center; }
            .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con .tbox {
              width: 100%;
              padding-right: 8px; }
              .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con .tbox input {
                width: 100%;
                height: 42px;
                border-radius: 3px;
                background-color: #fff;
                padding: 0 5px;
                border: 1px solid #C6C6C6; }
                .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con .tbox input:focus {
                  outline: none; }
            .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con .dot-box {
              padding-right: 8px; }
            .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con .ebox select {
              height: 42px;
              width: 140px;
              border-radius: 3px;
              background-color: #fff;
              padding: 0 5px;
              border: 1px solid #C6C6C6; }
              .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .tbox-con .ebox select:focus {
                outline: none; }
          .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .overlap-btn-box {
            width: 100px; }
            .wrapper .contents .inner .join-info-wrap .form-box .form-con-box .overlap-btn-box .overlap-btn {
              border: 1px solid #D8D8D8;
              background-color: #F3F3F3;
              border-radius: 3px;
              font-size: 16px;
              font-weight: 400;
              color: #222222;
              line-height: -0.2px;
              text-decoration: none;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center; }
          .wrapper .contents .inner .join-info-wrap .form-box .send-btn-box {
            padding-top: 10px;
            width: 100%; }
            .wrapper .contents .inner .join-info-wrap .form-box .send-btn-box .send-btn {
              border: 1px solid #D8D8D8;
              background-color: #F3F3F3;
              border-radius: 3px;
              font-size: 16px;
              font-weight: 400;
              color: #222222;
              line-height: -0.2px;
              text-decoration: none;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center; }
          .wrapper .contents .inner .join-info-wrap .form-box .msg-box {
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center; }
            .wrapper .contents .inner .join-info-wrap .form-box .msg-box .icon {
              background: url("../img/ic_warning.svg") no-repeat center/cover;
              width: 22px;
              height: 22px; }
            .wrapper .contents .inner .join-info-wrap .form-box .msg-box .txt-box {
              font-size: 15px;
              font-weight: 400;
              color: #FF004D;
              line-height: -0.025em; }
      .wrapper .contents .inner .join-option-box {
        display: flex;
        align-items: center;
        justify-content: center; }
        .wrapper .contents .inner .join-option-box .option-btn-box {
          padding-top: 35px; }
          .wrapper .contents .inner .join-option-box .option-btn-box + .option-btn-box {
            padding-left: 26px; }
          .wrapper .contents .inner .join-option-box .option-btn-box .option-btn {
            background-color: #3060EA;
            height: 54px;
            width: 212px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #FFFFff;
            font-size: 20px;
            font-weight: 500; }
            .wrapper .contents .inner .join-option-box .option-btn-box .option-btn.c-blue {
              background-color: #3E4E75; }

article.subject-txt-box {
  font-size: 28px;
  font-weight: 800;
  color: #1E2431; }

/*# sourceMappingURL=style.css.map */