@font-face {
  font-family: "NanumBarunGothic";
  src: url("../font/NanumBarunGothic-L.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../font/NanumBarunGothic-R.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../font/NanumBarunGothic-B.woff") format("woff");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'NanumBarunGothic';
}

.lotto-play {
  width: 1024px;
  margin: 0 auto;
}

.lotto-play .lotto-contents {
  background: #1C1D4A url("../img/img_check_bg.png") no-repeat center/cover;
}

.lotto-play .lotto-contents .inner {
  padding: 41px 24px 109px;
}

.lotto-play .lotto-contents .inner .label-box {
  display: flex;
  align-items: center;
}

.lotto-play .lotto-contents .inner .label-box .label-icon-box {
  border-radius: 100px;
  background: rgba(88, 153, 250, 0.3);
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.lotto-play .lotto-contents .inner .label-box .label-icon-box .txt {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.lotto-play .lotto-contents .inner .label-box .label-txt-box {
  padding-left: 10px;
  display: inline-flex;
  align-items: center;
}

.lotto-play .lotto-contents .inner .label-box .label-txt-box .txt {
  color: var(--Lotto-FFFFFF, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box {
  padding-top: 32px;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--Lotto-EF3A81, #EF3A81);
  background: #FFF;
  display: flex;
  align-items: center;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box {
  width: 20%;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box + .item-box {
  border-left: 1px solid #EF3A81;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .subject-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EF3A81;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .subject-box .mark-box {
  color: var(--Lotto-EF3A81, #EF3A81);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .subject-box .pay-box {
  flex: 1;
  color: var(--Lotto-FFFFFF, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--Lotto-EF3A81, #EF3A81);
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box {
  padding: 20px 24px;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group {
  display: flex;
  margin: -6px -6px;
  flex-flow: wrap;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box {
  width: calc(20% - 12px);
  margin: 6px 6px;
  position: relative;
  font-size: 0;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label input[type=checkbox]:checked ~ .txt {
  background: #000000;
  color: #ffffff;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label input[type=checkbox]:checked ~ .txt:after {
  display: none;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label input[type=checkbox]:checked ~ .txt:before {
  display: none;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label .txt {
  color: #EF3A81;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 21px;
  position: relative;
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label .txt:after {
  content: '';
  background: url("../img/ic_click_front.svg") no-repeat center/cover;
  width: 16px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lotto-play .lotto-contents .inner .lotto-check-form-box .lotto-check-wrap .item-box .con-box .num-chk-group .num-box label .txt:before {
  content: '';
  background: url("../img/ic_click_back.svg") no-repeat center/cover;
  width: 16px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=style.css.map */