@charset "UTF-8";


$font: 'NanumBarunGothic';

@each $font-size in L, R, B{
	@font-face {
		font-family:$font;
		src: url("../font/#{$font}-#{$font-size}.woff")format('woff');

		@if $font == L{
			font-weight: 300;
		}
		@else if $font == R {
			font-weight: 400;
		}
		@else if $font == B {
			font-weight: 700;
		}
		font-style:normal;
	}
}


*{
	margin: 0;
	padding: 0;
	font-family:'NanumBarunGothic';
}


.lotto-play {
	width: 1024px;
	margin: 0 auto;

	.lotto-contents{
		background: #1C1D4A url("../img/img_check_bg.png")no-repeat center/cover;
		border-radius: 10px;
		.lotto-group{
			padding: 37px 24px;

			.lotto-chk-form-box{
				background-color: #ffffff;
				border-radius: 10px;
				border: 1px solid var(--Lotto-EF3A81, #EF3A81);

				.lotto-chk-wrap{

					.chk-box{
						width: 20%;
						.subject-box{
							display: flex;
							align-items: center;
							height: 40px;
							border-bottom: 1px solid var(--Lotto-EF3A81, #EF3A81);

							.mark-box{
								color: var(--Lotto-EF3A81, #EF3A81);
								text-align: center;
								font-family: NanumBarunGothic;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								width: 40px;
								display: flex;
								align-items: center;
								justify-content: center;
							}
							.pay-box{
								flex: 1;
								display: flex;
								align-items: center;
								justify-content: center;
								min-width: 0;
								height: 100%;
								color: var(--Lotto-FFFFFF, #FFF);
								text-align: center;
								font-family: NanumBarunGothic;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								background: var(--Lotto-EF3A81, #EF3A81);
							}
						}

						.con-box{
							.num-btn-wrap{
								.num-btn{
									label{
										input []
									}
								}
							}
						}
					}
				}
			}
		}
	}


}

