@charset "UTF-8";


$font : 'NanumBarunGothic';
@each $size in L, R, B{

	@font-face{
		font-family:$font;
		src: url("../fonts/#{$font}-#{$size}.woff") format('woff');

		@if $font == L {
			font-weight: 300;
		}
		@else if $font == R {
			font-weight: 400;
		}
		@else if $font == B {
			font-weight: 700;
		}
		font-style:normal;
	}
}


*{ //*은 전체 태그에 값을 주는 것이기 때문에 고정해야 할 콘텐츠 값을 주면 안됨.
	margin: 0;
	padding: 0;
	font-family: 'NanumBarunGothic'; //폰트체를 적용하고 난 뒤 전체에 적용이 될 수 있도록 지정해야함.
}

.lotto-contents{
	width: 928px;
	margin: 0 auto;
	background: #1C1D4A url("../img/img_check_bg.png")no-repeat center/cover;


	.lotto-check-layout{
		padding: 41px 24px 31px;
		.desc-box{
			display: flex;
			align-items: center;

			.icon-box {
				color: #FFF;
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
				border-radius: 100px;
				background: rgba(88, 153, 250, 0.30);
				display: flex;
				justify-content: center;
				width: 18px;
				height: 18px;
				margin-right: 10px;

			}

			.txt{
				color: #FFF;
				font-size: 16px;
				font-weight: 400;
				line-height: 19px;

			}
		}

		.check-board-box{
			margin-top: 32px;
			border-radius: 10px;
			border: 1px solid #EF3A81;
			background-color: #ffffff;
			overflow: hidden;

			.number-board-wrap{
				display: flex;
				width: 20%;

				.number-box{
					.subject-box{
						display: flex;
						align-items: center;
						border-bottom: 1px solid #EF3A81;
						text-align: center;
						font-size: 16px;
						font-weight: 600;
						line-height: 19px;

						.mark-box{
							color:#EF3A81;
							width: 40px;
							height: 40px;
							display: flex;
							align-items: center;
							justify-content: center;
						}

						.subject-txt{
							color: #FFF;
							width: 136px;
							height: 40px;
							background-color: #EF3A81;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}

					.con-box{
						padding: 20px 24px;

						.num-chk-group{
							display: flex;
							flex-flow: wrap;
							margin: -6px -6px;

							.num-chk-box{
								width: calc(20% - 12px);
								margin: 6px 6px;
								position: relative;
								display: inline-flex;
								align-items: center;
								font-size: 0;

								label{
									cursor: pointer; //손 모양으로 클릭을 예측 할 수 있게 도와줌
									width: 100%;

									input[type=checkbox] {
										position: absolute; //기존 체크 아이콘을 날리기 위한.
										left: -9999px;


										&:checked { //체크를 했을 때 바껴지는 체크박스 디자인 커스텀

											& ~ .txt{ // ~선택자는 앞에 선택한 선택자 뒤에 오는 형제들을 말함.
												background-color: #000;
												color: #fff;

												&:after{
													display: none;
												}
												&:before{
													display: none;
												}
											}
										}
									}

									.txt {
										width: 100%;
										display: flex;
										justify-content: center;
										align-items: center;
										position: relative;
										color: #EF3A81;
										font-size: 12px;
										font-weight: 600;
										height: 21px;

										&:after{
											position: absolute;
											content:'';
											background: url("../img/ic_click_front.svg")no-repeat center/cover;
											width: 15px;
											height: 2px;
											top: 0;
											left: 50%;
											transform: translateX(-50%);

										}
										&:before{
											position: absolute;
											content:'';
											background: url("../img/ic_click_back.svg")no-repeat center/cover;
											width: 15px;
											height: 2px;
											bottom: 0;
											left: 50%; //가운데 정렬 맞추기
											transform: translateX(-50%); //가운데 정렬 맞추기

										}
									}
								}
							}
						}

						.option-box{
							text-align: right;
							margin-top: 20px;

							.option-btn-box{
								position: relative;
								font-size: 0;

								& + .option-btn-box{
									margin-top: 8px;
								}

								label{
									cursor: pointer;
									display: inline-flex;
									align-items: center;

									input[type=radio] , input[type=checkbox]{
										position: absolute;
										left: -9999px;


										&:checked{
											& ~ i {
												background: url("../img/ic_check_on.svg")no-repeat center/cover;

											}
										}
									}

									i{ //아이콘을 띄우는 이유는 텍스트가 길어질 때 가운데 정렬을 하지 않고 맨 위에 그대로 고정 되어 있을 수 있도록 하기 위함. 만약 텍스트에 따라 가운데 정렬로 같이 따라가게 할 때 띄우지 않고 flex로 가운데 정렬 맞춰주기
										right: 0;
										top: 1px;
										position: absolute;
										width: 16px;
										height: 16px;
										line-height: 18px;
										background: url("../img/ic_check_off.svg")no-repeat center/cover;

									}

									.txt{
										color: #EF3A81;
										text-align: right;
										font-size: 13px;
										font-weight: 600;
										line-height: 16px;
										padding-right: 27px;
									}

								}
							}
						}
					}





				}


			}
		}
	}
}

