@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic-L.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic-R.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic-B.woff") format("woff");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.lotto-contents {
  width: 928px;
  margin: 0 auto;
  background: #1C1D4A url("../img/img_check_bg.png") no-repeat center/cover;
}

.lotto-contents .lotto-check-layout {
  padding: 41px 24px 31px;
}

.lotto-contents .lotto-check-layout .desc-box {
  display: flex;
  align-items: center;
}

.lotto-contents .lotto-check-layout .desc-box .icon-box {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 100px;
  background: rgba(88, 153, 250, 0.3);
  display: flex;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.lotto-contents .lotto-check-layout .desc-box .txt {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.lotto-contents .lotto-check-layout .check-board-box {
  margin-top: 32px;
  border-radius: 10px;
  border: 1px solid #EF3A81;
  background-color: #ffffff;
  overflow: hidden;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap {
  display: flex;
  width: 20%;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .subject-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EF3A81;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .subject-box .mark-box {
  color: #EF3A81;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .subject-box .subject-txt {
  color: #FFF;
  width: 136px;
  height: 40px;
  background-color: #EF3A81;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box {
  padding: 20px 24px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group {
  display: flex;
  flex-flow: wrap;
  margin: -6px -6px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box {
  width: calc(20% - 12px);
  margin: 6px 6px;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 0;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label {
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label input[type=checkbox]:checked ~ .txt {
  background-color: #000;
  color: #fff;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label i {
  top: 1px;
  position: absolute;
  width: 16px;
  height: 17px;
  line-height: 18px;
  background: #0000;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label .txt {
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label .txt:after {
  position: absolute;
  content: '';
  background: url("../img/ic_click_front.svg") no-repeat center/cover;
  width: 15px;
  height: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box label .txt:before {
  position: absolute;
  content: '';
  background: url("../img/ic_click_back.svg") no-repeat center/cover;
  width: 15px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .num-chk-group .num-chk-box .num-chk-txt {
  color: #EF3A81;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box {
  text-align: right;
  margin-top: 20px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box {
  position: relative;
  font-size: 0;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box + .option-btn-box {
  margin-top: 8px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label input[type=radio], .lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label input[type=radio]:checked ~ i, .lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label input[type=checkbox]:checked ~ i {
  background: url("../img/ic_check_on.svg") no-repeat center/cover;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label i {
  right: 0;
  top: 1px;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 18px;
  background: url("../img/ic_check_off.svg") no-repeat center/cover;
}

.lotto-contents .lotto-check-layout .check-board-box .number-board-wrap .number-box .con-box .option-box .option-btn-box label .txt {
  color: #EF3A81;
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  padding-right: 27px;
}

/*# sourceMappingURL=style.css.map */