@charset "utf-8";


$font : 'Pretendard'; // 변수를 지정

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}




// 모바일
@mixin m{
	@media (max-width: 375px) {
		@content
	}
}


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font;

}


section.custom{
	.custom-group{
		background: url("../img/img_bg.png") repeat top/ auto auto;

		.inner{
			max-width: 995px;
			margin: 0 auto;

			.tit-box{
				img{
					width: 100%;
				}
			}

			.sing-contents{
				margin: 0 auto;
				max-width: 700px;
				position: relative;
				top: -236px;

				.sing-wrap{
					.item-box{

						&+ .item-box{
							padding-top: 56px;
						}
						.step-tit-box{
							font-size: 20px;
							font-weight: 700;
							color: #303030;
							letter-spacing: -0.05em;
						}

						.info-box{
							padding-top: 10px;
							font-size: 20px;
							font-weight: 500;
							letter-spacing: -0.05em;
							color: #303030;
						}

						.con-box{
							padding-top: 20px;

							.sing-subject-box{
								.tbox{
									input{
										color: #2E2E2E;
										font-size: 18px;
										letter-spacing: -0.04em;
										width: 100%;
										padding: 20px 16px;
										font-weight: 700;
										outline: none;
										border: 2px solid #19191A ;
										border-radius: 3px;

										::placeholder{
											color: #dddddd;
										}

									}
								}
							}

							.sing-con-box {
								padding-top: 20px;

								.textbox{
									textarea{
										width: 100%;
										height: 500px;
										resize: none;
										padding: 20px 16px;
										font-size: 18px;
										font-weight: 600;
										letter-spacing: -0.04em;
										color: #2E2E2E;
										line-height: 25px;
										border: 2px solid #19191A ;
										border-radius: 3px;
									}
								}
							}

							.


						}
					}
				}
			}
		}
	}
}
