@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  box-sizing: border-box;
  font-size: 0;
  padding: 0;
  margin: 0;
  font-family: "Pretendard"; }

section.PlayWith {
  margin: 0 auto;
  max-width: 1920px; }

section.visual {
  background: url("../img/img_visual_bg.png") no-repeat top/cover;
  height: 725px;
  padding-top: 95px; }
  section.visual .inner {
    max-width: 610px;
    margin: 0 auto;
    padding: 0 27px; }
  section.visual .visual-box .visual-tit .tit-box {
    max-width: 686px; }
    section.visual .visual-box .visual-tit .tit-box img {
      width: 100%; }
  section.visual .visual-box .visual-tit .sub-tit-box {
    padding-top: 30px;
    max-width: 470px;
    margin: 0 auto; }
    section.visual .visual-box .visual-tit .sub-tit-box img {
      width: 100%; }

section.schedule {
  background-color: #F9E07A;
  position: relative; }
  section.schedule .inner {
    max-width: 610px;
    margin: 0 auto;
    padding: 0 27px; }
  section.schedule .visual-con-box {
    padding: 263px 0 60px; }
    section.schedule .visual-con-box .visual-video-img {
      top: -222px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      max-width: 700px; }
      section.schedule .visual-con-box .visual-video-img img {
        width: 100%; }
    section.schedule .visual-con-box .visual-date-box {
      text-align: center; }
      section.schedule .visual-con-box .visual-date-box .date-tit-box {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -0.03em;
        color: #000; }
      section.schedule .visual-con-box .visual-date-box .row-list {
        padding-top: 20px; }
        section.schedule .visual-con-box .visual-date-box .row-list .row-box {
          display: flex; }
          section.schedule .visual-con-box .visual-date-box .row-list .row-box + .row-box {
            padding-top: 10px; }
          section.schedule .visual-con-box .visual-date-box .row-list .row-box .subject-box {
            font-size: 22px;
            font-weight: 700;
            letter-spacing: -0.03em;
            color: #000;
            min-width: 149px;
            text-align: left; }
          section.schedule .visual-con-box .visual-date-box .row-list .row-box .desc-box {
            font-size: 22px;
            font-weight: 500;
            letter-spacing: -0.03em;
            color: #000; }
            section.schedule .visual-con-box .visual-date-box .row-list .row-box .desc-box .label-box {
              background-color: #0D2A64;
              padding: 5px;
              font-size: 20px;
              font-weight: 700;
              letter-spacing: -0.03em;
              color: #ffffff; }
      section.schedule .visual-con-box .visual-date-box .msg-box {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #95802E; }

section.benefit {
  background: url("../img/img_benefit_bg.png") no-repeat center/cover;
  padding: 80px 0; }
  section.benefit .inner {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 27px; }
  section.benefit .item-wrap .item-box + .item-box {
    padding-top: 60px; }
  section.benefit .item-wrap .item-box .con-box {
    margin-top: 31px; }
    section.benefit .item-wrap .item-box .con-box.type-cloud {
      position: relative;
      background-color: #ffffff;
      border: 2px solid #000000;
      padding: 39px 20px 31px; }
      section.benefit .item-wrap .item-box .con-box.type-cloud:after {
        content: '';
        position: absolute;
        background: url("../img/img_cloud_1.png") no-repeat center/cover;
        width: 166px;
        height: 82px;
        top: 223px;
        left: -234px; }
      section.benefit .item-wrap .item-box .con-box.type-cloud:before {
        content: '';
        position: absolute;
        background: url("../img/img_cloud_2.png") no-repeat center/cover;
        width: 98px;
        height: 49px;
        top: 392px;
        right: -201px; }
    section.benefit .item-wrap .item-box .con-box .subject-box {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      letter-spacing: -0.03em;
      text-align: center; }
      section.benefit .item-wrap .item-box .con-box .subject-box .point-box {
        font-size: 20px;
        font-weight: 700;
        color: #000;
        letter-spacing: -0.03em;
        box-shadow: inset 0 -13px 0 #D9FCDB; }
    section.benefit .item-wrap .item-box .con-box .desc-list {
      padding-top: 35px;
      display: flex;
      align-content: center;
      justify-content: center; }
      section.benefit .item-wrap .item-box .con-box .desc-list .desc-box + .desc-box {
        padding-left: 30px; }
      section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-img-box {
        border-radius: 50%;
        background-color: #F1F1F1;
        width: 170px;
        height: 170px;
        position: relative; }
        section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-img-box .img-box {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%; }
          section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-img-box .img-box img {
            width: 100%; }
          section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-img-box .img-box.type-item1 {
            top: 55px;
            max-width: 158px;
            height: 118px; }
          section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-img-box .img-box.type-item2 {
            top: 55px;
            max-width: 91px;
            height: 119px; }
          section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-img-box .img-box.type-item3 {
            top: 36px;
            max-width: 151px;
            height: 147px; }
      section.benefit .item-wrap .item-box .con-box .desc-list .desc-box .desc-txt {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #000000;
        text-align: center;
        padding-top: 21px; }
    section.benefit .item-wrap .item-box .con-box .process-list {
      display: flex;
      background-color: #ffffff;
      border: 2px solid #000000;
      padding: 39px 20px 31px;
      justify-content: center; }
      section.benefit .item-wrap .item-box .con-box .process-list .process-box {
        position: relative; }
        section.benefit .item-wrap .item-box .con-box .process-list .process-box + .process-box {
          margin-left: 68px; }
          section.benefit .item-wrap .item-box .con-box .process-list .process-box + .process-box:after {
            content: '';
            position: absolute;
            background: url("../img/ic_process.svg") no-repeat center/cover;
            width: 12px;
            height: 12px;
            top: 61px;
            left: -39px; }
        section.benefit .item-wrap .item-box .con-box .process-list .process-box .process-img-box {
          background-color: #F1F1F1;
          border-radius: 50%;
          width: 138px;
          height: 138px;
          position: relative; }
          section.benefit .item-wrap .item-box .con-box .process-list .process-box .process-img-box .img-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            section.benefit .item-wrap .item-box .con-box .process-list .process-box .process-img-box .img-box img {
              width: 100%; }
            section.benefit .item-wrap .item-box .con-box .process-list .process-box .process-img-box .img-box.type-item1 {
              max-width: 82px; }
            section.benefit .item-wrap .item-box .con-box .process-list .process-box .process-img-box .img-box.type-item2 {
              max-width: 82px; }
            section.benefit .item-wrap .item-box .con-box .process-list .process-box .process-img-box .img-box.type-item3 {
              max-width: 78px; }
        section.benefit .item-wrap .item-box .con-box .process-list .process-box .txt {
          padding-top: 18px;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.03em;
          color: #000;
          line-height: 140%;
          text-align: center; }
          section.benefit .item-wrap .item-box .con-box .process-list .process-box .txt b {
            font-weight: 700;
            font-size: 16px; }
          section.benefit .item-wrap .item-box .con-box .process-list .process-box .txt .msg-box {
            font-size: 13px;
            font-weight: 500;
            letter-spacing: -0.03em;
            color: #838383; }
    section.benefit .item-wrap .item-box .con-box .mission-list .mission-box .mission-img-box .img-box {
      max-width: 730px; }
      section.benefit .item-wrap .item-box .con-box .mission-list .mission-box .mission-img-box .img-box img {
        width: 100%; }
    section.benefit .item-wrap .item-box .con-box .date-list {
      display: flex;
      align-items: center;
      justify-content: center; }
      section.benefit .item-wrap .item-box .con-box .date-list .date-box {
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: #F9E07A;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 38px 33px; }
        section.benefit .item-wrap .item-box .con-box .date-list .date-box + .date-box {
          margin-left: 14px; }
        section.benefit .item-wrap .item-box .con-box .date-list .date-box .subject-box {
          font-size: 16px;
          font-weight: 500;
          color: #000;
          letter-spacing: -0.04em; }
        section.benefit .item-wrap .item-box .con-box .date-list .date-box .desc-box {
          padding-top: 14px;
          font-size: 22px;
          font-weight: 700;
          line-height: 110%;
          color: #000; }
  section.benefit .benefit-btn-box {
    padding-top: 44px; }
    section.benefit .benefit-btn-box .btn-box {
      max-width: 480px;
      margin: 0 auto; }
      section.benefit .benefit-btn-box .btn-box + .btn-box {
        margin-top: 12px; }
      section.benefit .benefit-btn-box .btn-box .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        width: 100%;
        height: 70px;
        border-radius: 999px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.05em;
        color: #ffffff;
        text-decoration: none;
        padding: 25px 0; }

article.tit-box .tit-txt {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #000000;
  text-align: center; }

/*# sourceMappingURL=style.css.map */