@charset "utf-8";


$font : 'Pretendard'; // 변수를 지정

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}


*{
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
	margin: 0;
	//font-family: 'Pretendard'; //대소문자를 구분하므로 정확하게 기재
	font-family: $font; //변수는 '' 안에 넣어주지 않음.
}


section.PlayWith{
	margin: 0 auto;
	max-width: 1920px;
}

section.visual{
	background: url("../img/img_visual_bg.png")no-repeat top / cover;
	height: 725px;
	padding-top: 95px;

	.inner{
		max-width: 610px;
		margin: 0 auto;
		padding: 0 27px;
	}

	.visual-box{
		.visual-tit{
			.tit-box{
				max-width: 686px;
				img{
					width: 100%;
				}
			}
			.sub-tit-box{
				padding-top: 30px;
				max-width: 470px;
				margin: 0 auto;
				img{
					width: 100%;

				}
			}
		}

	}
}

section.schedule{
	background-color: #F9E07A;
	position: relative;

	.inner{
		max-width: 610px;
		margin: 0 auto;
		padding: 0 27px;
	}

	.visual-con-box{
		padding: 263px 0 60px; //기준에 맞춰서 padding값 주기



		.visual-video-img{ //visual과 schedule을 따로 만들어서 video부분을 띄어서 맞추기
			top:-222px;//위에 끝점을 맞춘 뒤 여백만큼 빼주기
			position: absolute;
			left:50%;
			transform: translateX(-50%);
			margin:0 auto;
			max-width: 700px;

			img{
				width: 100%;
			}
		}
		.visual-date-box{
			text-align: center;

			.date-tit-box{
				font-size: 35px;
				font-weight: 700;
				letter-spacing: -0.03em;
				color: #000;
			}
			.row-list{
				padding-top: 20px;
				.row-box{
					display: flex;

					&+.row-box{
						padding-top: 10px;
					}

					.subject-box{
						font-size: 22px;
						font-weight: 700;
						letter-spacing: -0.03em;
						color: #000;
						min-width: 149px;
						text-align: left;


					}

					.desc-box{
						font-size: 22px;
						font-weight: 500;
						letter-spacing: -0.03em;
						color: #000;
						.label-box{
							background-color: #0D2A64;
							padding: 5px;
							font-size: 20px;
							font-weight: 700;
							letter-spacing: -0.03em;
							color: #ffffff;

						}

					}
				}
			}
			.msg-box{
				padding-top: 20px;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.03em;
				color: #95802E;

			}
		}
	}

}

section.benefit{
	background-color: #FDF2C8;
	padding: 80px 0;
	.inner{
		max-width: 730px;
		margin: 0 auto;
		padding: 0 27px;
	}

	.item-wrap{

		.item-box{

			& + .item-box{
				padding-top: 60px;
			}
			.con-box{
				background-color: #ffffff;
				border: 2px solid #000000;
				padding: 39px 20px 50px;
				margin-top: 31px;


				&.type-cloud{
					position: relative;
					&:after{
						content: '';
						position: absolute;
						background: url("../img/img_cloud_1.png")no-repeat center/cover;
						width: 166px;
						height: 82px;
						top: 223px;
						left: -234px;
					}
					&:before{
						content: '';
						position: absolute;
						background: url("../img/img_cloud_2.png")no-repeat center/cover;
						width: 98px;
						height: 49px;
						top: 392px;
						right: -201px;
					}
				}
				.subject-box{
					font-size: 20px;
					font-weight: 700;
					color: #000;
					letter-spacing: -0.03em;
					text-align: center;

					.point-box{
						font-size: 20px;
						font-weight: 700;
						color: #000;
						letter-spacing: -0.03em;
						box-shadow: inset 0 -13px 0 #D9FCDB;

					}
				}

				.desc-list{
					padding-top: 35px;
					display: flex;
					align-content: center;
					justify-content: center;

					.desc-box{

						& + .desc-box{
							padding-left: 30px;
						}


						.desc-img-box{
							border-radius: 50%;
							background-color:#F1F1F1;
							width: 170px;
							height: 170px;
							position: relative;

							.img-box{ //뒷 배경까지 같이 이미지를 저장하면 깨질 수 있으므로 배경 위에 띄우는 형식으로 주기
								position: absolute;
								left: 50%;
								transform: translateX(-50%);
								width: 100%;

								img{
									width: 100%;

								}

								&.type-item1{
									top: 55px;
									max-width: 158px;
									height: 118px;

								}


								&.type-item2{
									top: 55px;
									max-width: 91px;
									height: 119px;

								}


								&.type-item3{
									top: 36px;
									max-width: 151px;
									height: 147px;

								}
							}

						}

						.desc-txt{
							font-size: 16px;
							font-weight: 500;
							letter-spacing: -0.03em;
							color: #000000;
							text-align: center;
							padding-top: 21px;

						}
					}


				}

				.process-list{
					display: flex;
					align-content: center;
					justify-content: center;
					.process-box{
						position: relative;

						& + .process-box{
							margin-left: 68px;

							&:after{
								content: '';
								position: absolute;
								background: url("../img/ic_process.svg")no-repeat center/cover;
								width: 12px;
								height: 12px;
								top: 61px;
								left: -39px;
							}


						}
						.process-img-box{
							background-color: #F1F1F1;
							border-radius: 50%;
							width: 138px;
							height: 138px;
							position: relative;

							.img-box{
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);

								img{
									width: 100%;

								}

								&.type-item1{
									max-width: 82px;

								}

								&.type-item2{
									max-width: 82px;
								}

								&.type-item3{
									max-width: 78px;

								}
							}
						}
					}
				}
			}
		}
	}

}

article.tit-box{
	.tit-txt{
		font-size: 35px;
		font-weight: 700;
		letter-spacing: -0.03em;
		color: #000000;
		text-align: center;

	}

}