@charset "UTF-8";


$font: 'NanumBarunGothic';

@each $font-size in L, R, B{
	@font-face {
		font-family:$font;
		src: url("../font/#{$font}-#{$font-size}.woff")format('woff');

		@if $font == L{
			font-weight: 300;
		}
		@else if $font == R {
			font-weight: 400;
		}
		@else if $font == B {
			font-weight: 700;
		}
		font-style:normal;
	}
}


*{
	margin: 0;
	padding: 0;
	font-family:'NanumBarunGothic';

}



.lotto-play{
	width: 1024px;
	margin: 0 auto;
	background: linear-gradient(180deg, #2B2D5D 0%, #1C1D4A 100%);
	.lotto-group{
		background: url("../img/img_bg.png")no-repeat right top ; //배경의 위치 x,y 축 둘다 잡기, 배경의 값은 3배수 일 때 지정해주기


			header{
				.logo-box{
					display: flex;
					align-items: center;
					padding: 18px 26px 0;
					h1.logo{
						.logo-btn{
							max-width: 133px;
							img{
								max-width: 100%;
							}
						}
					}

					.logo-txt{
						color: #FFF;

						font-family: NanumBarunGothic;
						font-size: 28px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}
				}

			}

			main{
				.lotto-check-contents{
					.inner{
						.user-info-box{
							display: flex;
							align-items: center;
							justify-content: space-between;
							.user-subject{
								color: #FFF;

								font-family: NanumBarunGothic;
								font-size: 28px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}

							.user-con-box{
								display: inline-flex;
								align-items: center;

								.user-point-box{
									color: var(--Lotto-FFFFFF, #FFF);
									text-align: right;
									font-family: NanumBarunGothic;
									font-size: 20px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}

								.user-lobby-btn-box{
									padding-left: 10px;

									.user-lobby-btn{
										text-decoration: none;
										color: var(--Lotto-5899FA, #5899FA);
										font-family: NanumBarunGothic;
										font-size: 16px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
										border-radius: 100px;
										border: 1px solid var(--Lotto-5899FA, #5899FA);

										padding: 13px 16px;


									}
								}
							}
						}
					}
				}
			}

	}



}

article.lotto-game-layout{
	.list-wrap{
		background-color: #ffffff;

		.con-box{
			width: 25%;
			.chk-list{
				display: flex;
				flex-flow: wrap;
				margin: -6px -6px;

				.chk-box{
					width: calc(20% - 12px);
					margin: 6px 6px;
					label{
						cursor: pointer;
						input{


							&[type=checkbox]{
								position: absolute;
								left: -9999px;

								&:checked{
									& ~ .txt{
										background-color: #000000;
										color: #FFFF33;

									}
								}



							}

						}

						.txt{
							color: var(--Lotto-EF3A81, #EF3A81);
							text-align: center;
							font-family: NanumBarunGothic;
							font-size: 12px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							height: 21px;
							display: inline-flex;
							justify-content: center;




						}
					}
				}
			}
		}
	}
}
