@charset "UTF-8";

@mixin m {
	@media (max-width: 800px) {
		@content
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}
}



section.visual{
	.inner{
		position: relative;

		.info-box{
			position: absolute;
			top:0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 1620px;
			width: calc(100% - 150px);
			z-index: 100;
			color: white;

		}

		.img-box{
			aspect-ratio: 1920 / 624;
			@include m{
			    aspect-ratio: 360 / 176;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;

				&.web{

					@include m{
					    display: none;
					}
				}

				&.mobile{
					display: none;
					@include m{
					    display: block;
					}
				}
			}
		}
	}
}

section.card-box{
	.inner{
		max-width: 1620px;
		width: calc(100% - 150px);
		margin: 0 auto;
		padding: 100px 0;

		@include m{
		    width: calc(100% - 40px);
		}

		ul.card-wrap{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 80px 100px;
			@include m{
			    grid-template-columns: repeat(1, 1fr);
			    gap: 20px ;
			}

			li{

				.item-box{
					height: 288px;
					border-radius: 10px;
					padding: 55px 40px;
					position: relative;
					overflow: hidden;
					@include m{
						height: 114px;
						padding: 14px 14px;

					}


					&:after{
						content:'';
						position: absolute;
						right:0;
						bottom:0;
						width: 304px;
						aspect-ratio: 304  / 232;
						@include m{
						    width: 86px;
						}


					}


					&.listen{

						background: radial-gradient(113.06% 86.59% at 28.75% 27.49%, #FFF8FC 32.38%, #FFEEF8 55.5%, #FFE8F5 100%);



						&:after{
							background:  url("./img/img_mania_item1.png")no-repeat center / cover;

							@include m{
								background:  url("./img/img_mania_item1_m.png")no-repeat center / cover;

							}
						}



					}

					&.gift{
						background: radial-gradient(113.06% 86.59% at 28.75% 27.49%, #FFF8FC 32.38%, #FFEEF8 55.5%, #FFE8F5 100%);

						&:after{
							background:  url("./img/img_mania_item1.png")no-repeat center / cover;
							@include m{
								background:  url("./img/img_mania_item1_m.png")no-repeat center / cover;

							}
						}


					}

					&.coin{
						background: radial-gradient(113.06% 86.59% at 28.75% 27.49%, #FFF8FC 32.38%, #FFEEF8 55.5%, #FFE8F5 100%);

						&:after{
							background:  url("./img/img_mania_item1.png")no-repeat center / cover;
							@include m{
								background:  url("./img/img_mania_item1_m.png")no-repeat center / cover;

							}
						}


					}


					.info-box{
						position: absolute;
						z-index: 100;
					}

				}
			}
		}
	}

}




section.banner{
	.inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1320px;
		width: calc(100% - 40px);
		margin: 0 auto;
		@include m{
		}


		.title-box{
			text-align: center;
			@include m{
			    order: 2;
				padding-top: 30px;
			}

		}


		.banner-wrap{
			margin-top: 100px;
			display: flex;
			align-items: center;
			border: 3px solid #000000;
			border-radius: 150px;
			height: 181px;
			overflow: hidden;
			position: relative;
			@include m{
			    height: 125px;
			    overflow: visible;
			}


			.info-box{
				width: 567px;
				padding: 26px 33px 26px 112px;
				@include m{
				    width: 100%;
				    padding:  50px 0;

					text-align: center;
				}


			}


			.img-box{
				min-width: 0;
				flex: 1;
				background: url("./img/img_mania_banner.png")no-repeat center / 100% 100%;
				width: 100%;
				height: 181px;
				@include m{
				    position: absolute;
					background: url("./img/img_mania_banner_m.png")no-repeat center / cover;
					width: 118px;
					height: 118px;
					aspect-ratio: 1/1;
					border-radius: 0;
					top: -65px;
					left: 50%;
					transform: translateX(-50%);
				}

			}
		}

	}
}