@charset "UTF-8";

@mixin m {
	@media (max-width: 800px) {
		@content
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}
}


section.visual{
	.inner{
		position: relative;
		.info-box{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 1620px;
			width: calc(100% - 150px);
			z-index: 100;
			color: white;

		}

		.img-box{
			aspect-ratio: 1920 / 624;
			@include m{
			    aspect-ratio: 360 / 176;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;

				&.web{
					@include m{
					    display: none;
					}
				}

				&.mobile{
					display: none;

					@include m{
					    display: flex;
					}
				}
			}
		}
	}
}

section.card{
	padding: 100px 0 100px;
	@include m{
		padding: 30px 0 30px;
	}
	.inner{
		max-width: 1620px;
		width: calc(100% - 40px);
		margin: 0 auto;

		.title-box{
			text-align: center;
		}

		ul.card-wrap{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 80px 100px;
			@include m{
				grid-template-columns: repeat(1, 1fr);
				gap: 20px ;
			}

			li{
				min-width: 0;
				.item{
					height: 288px;
					border-radius: 10px;
					padding: 55px 40px;
					position: relative;
					overflow: hidden;

					@include m{
					    height: 114px;
						padding: 14px 14px;

					}
					@include m{
					    overflow: visible;
					}

					&:after{
						content:'';
						position: absolute;
						right:0;
						bottom:0;
						width: 304px;
						aspect-ratio: 304  / 232;

						@include m{
						    width: 86px;
						}
					}


					&.listen{

						background: radial-gradient(113.06% 86.59% at 28.75% 27.49%, #FFF8FC 32.38%, #FFEEF8 55.5%, #FFE8F5 100%);



						&:after{
							background:  url("./img/img_mania_item1.png")no-repeat center / cover;
							@include m{
							    background:  url("./img/img_mania_item1_m.png")no-repeat center / cover;
							}
						}

					}

					&.gift{
						background: radial-gradient(113.06% 86.59% at 28.75% 27.49%, #F5FDFF 32.38%, #ECF6FF 55.5%, #D9E6FF 100%);



						&:after{
							background:  url("./img/img_mania_item1.png")no-repeat center / cover;
							@include m{
								background:  url("./img/img_mania_item1_m.png")no-repeat center / cover;
							}
						}
					}


					&.coin{
						background: radial-gradient(113.06% 86.59% at 28.75% 27.49%, #FFFFF8 32.38%, #FFE 55.5%, #FFFEE8 100%);


						&:after{
							background:  url("./img/img_mania_item1.png")no-repeat center / cover;
							@include m{
								background:  url("./img/img_mania_item1_m.png")no-repeat center / cover;
							}
						}
					}


					.info-box{
						position: absolute;
						z-index: 100;

					}
				}
			}
		}
	}
}


section.banner{
	.inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1320px;
		width: calc(100% - 40px);
		margin: 0 auto;
		height: 181px;

		.title-box{
			text-align: center;
			@include m{
			    order: 2;
			}
		}

		.banner-wrap{
			border-radius: 155px;
			border: 3px solid #E5E5E5;
			display: flex;
			overflow: hidden;
			align-items: center;
			position: relative;
			@include m{
			    overflow: visible;
			}
			.info-box{
				width: 657px;
				padding: 28px 33px ;


			}

			.img-box{
				flex: 1;
				min-width: 0;
				background: url("./img/img_mania_banner.png")no-repeat center / 100% 100%;
				height: 181px;
				width: 100%;


				@include m{
					width: 118px;
					height: auto;
					aspect-ratio: 1/ 1;
				    position: absolute;
						top: -64px;
					left: 50%;
					transform: translateX(-50%);
					background: url("./img/img_mania_banner_m.png")no-repeat center / cover;

					order: 1;
				}
			}
		}
	}
}