@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  font-family: 'pretendard'; }

article.info-msg-box {
  display: flex;
  align-items: center; }
  article.info-msg-box .ic-msg {
    display: block;
    background: url("../img/ic_msg.svg") no-repeat center/cover;
    width: 18px;
    height: 18px; }
  article.info-msg-box .info-msg-txt {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFff; }

.lotto-container {
  margin: 0 auto;
  width: 1024px; }
  .lotto-container .inner {
    background: #1c1d4a url("../img/img_logo_bg.png") no-repeat top right/880px 170px;
    padding: 18px 26px 108px; }
    .lotto-container .inner header .header-group .logo-wrap .logo-box {
      display: block;
      width: 213px;
      height: 96px; }
      .lotto-container .inner header .header-group .logo-wrap .logo-box img {
        max-width: 100%; }
    .lotto-container .inner .contents {
      padding-top: 80px;
      width: 928px;
      margin: 0 auto; }
      .lotto-container .inner .contents .user-wrap {
        display: flex;
        justify-content: space-between; }
        .lotto-container .inner .contents .user-wrap .item-box {
          display: flex;
          align-items: center; }
          .lotto-container .inner .contents .user-wrap .item-box .user-mane-box {
            font-size: 20px;
            font-weight: 400;
            color: #ffffff; }
          .lotto-container .inner .contents .user-wrap .item-box .point-box {
            font-size: 20px;
            font-weight: 600;
            color: #ffffff; }
          .lotto-container .inner .contents .user-wrap .item-box .lobby-btn-box {
            margin-left: 24px; }
            .lotto-container .inner .contents .user-wrap .item-box .lobby-btn-box .lobby-btn {
              color: #5899FA;
              font-size: 16px;
              font-weight: 600;
              border-radius: 100px;
              width: 92px;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #5899FA;
              text-decoration: none; }
      .lotto-container .inner .contents .logo-layout-wrap {
        padding-top: 40px; }
        .lotto-container .inner .contents .logo-layout-wrap .lotto-tab-list {
          display: flex;
          align-items: center;
          justify-content: center; }
          .lotto-container .inner .contents .logo-layout-wrap .lotto-tab-list .tab-btn-box {
            background-color: #2B2D5D;
            border-radius: 10px 10px 0 0;
            font-size: 16px;
            font-weight: 400;
            color: #888888;
            width: 25%;
            padding: 15px 5px;
            cursor: pointer;
            border: 1px solid transparent; }
            .lotto-container .inner .contents .logo-layout-wrap .lotto-tab-list .tab-btn-box + .tab-btn-box {
              margin-left: 4px; }
            .lotto-container .inner .contents .logo-layout-wrap .lotto-tab-list .tab-btn-box.active {
              background: #34B5F7;
              color: #FFFFff;
              font-weight: 600; }
        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group {
          background: url("../img/img_check_bg.png") no-repeat center/102% 100%; }
          .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner {
            padding: 41px 24px 37px; }
            .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box {
              border-bottom: 1px solid #41427a;
              padding-bottom: 24px; }
              .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box:first-child {
                border-bottom: 1px solid #6E6F9D;
                padding-bottom: 38px; }
              .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box + .item-box {
                padding-top: 32px; }
              .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board {
                padding-top: 32px; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-wrap {
                  border: 1px solid #EF3A81;
                  border-radius: 10px;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  background-color: #fff; }
                  .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-wrap .chk-box {
                    width: 20%; }
                    .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-wrap .chk-box + .chk-box {
                      border-left: 1px solid #EF3A81; }
                    .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-wrap .chk-box .subject-box {
                      background-color: #fff;
                      display: flex;
                      align-items: center;
                      height: 40px;
                      font-size: 16px;
                      font-weight: 600; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-wrap .chk-box .subject-box .label-box {
                        color: #EF3A81;
                        min-width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-wrap .chk-box .subject-box .price-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        border-left: 1px solid #EF3A81;
                        background-color: #EF3A81;
                        color: #FFFFff;
                        width: 100%; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box {
                  border-top: 1px solid #EF3A81;
                  padding: 20px 24px 28px; }
                  .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner {
                    display: flex;
                    align-items: center;
                    flex-flow: wrap; }
                    .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn {
                      width: calc(20% - 12px);
                      margin: 6px 6px; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn label {
                        cursor: pointer;
                        width: 100%;
                        display: block; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn label input[type=checkbox] {
                          position: absolute;
                          left: -9999px; }
                          .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn label input[type=checkbox]:checked ~ .txt {
                            background: #000000;
                            color: #ffffff; }
                            .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn label input[type=checkbox]:checked ~ .txt:after {
                              display: none; }
                            .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn label input[type=checkbox]:checked ~ .txt:before {
                              display: none; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn .txt {
                        position: relative;
                        width: 100%;
                        color: #EF3A81;
                        font-size: 12px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 21px; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn .txt:after {
                          content: '';
                          background: url("../img/ic_click_front.svg") no-repeat center/cover;
                          width: 16px;
                          height: 2px;
                          position: absolute;
                          top: 0;
                          left: 50%;
                          transform: translateX(-50%); }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .chk-inner .num-btn .txt:before {
                          content: '';
                          background: url("../img/ic_click_back.svg") no-repeat center/cover;
                          width: 16px;
                          height: 2px;
                          position: absolute;
                          bottom: 0;
                          left: 50%;
                          transform: translateX(-50%); }
                  .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box {
                    padding-top: 21px; }
                    .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn {
                      text-align: right; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn + .option-btn {
                        padding-top: 8px; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label {
                        cursor: pointer;
                        position: relative; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label input[type=radio] {
                          position: absolute;
                          left: -9999px; }
                          .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label input[type=radio]:checked ~ i {
                            background: url("../img/ic_check_on.svg") no-repeat center/cover; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label .txt {
                          color: #EF3A81;
                          font-size: 13px;
                          font-weight: 600;
                          padding-right: 27px; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label i {
                          position: absolute;
                          content: '';
                          background: url("../img/ic_check_off.svg") no-repeat center/cover;
                          width: 16px;
                          height: 16px;
                          top: 2px;
                          right: 0; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label {
                        position: relative; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label input [type=radio] {
                          position: absolute;
                          left: -9999px; }
                          .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label input [type=radio]:checked ~ i {
                            background: url("../img/ic_check_on.svg") no-repeat center/cover; }
                      .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label {
                        position: relative; }
                        .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .checked-board .chk-con-box .option-btn-box .option-btn label input[type=radio] {
                          position: absolute;
                          left: -9999px; }
              .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .buy-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .buy-wrap .total-buy-box {
                  font-size: 20px;
                  font-weight: 600;
                  color: #FFFFff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #34B5F7;
                  border-radius: 50px;
                  background-color: rgba(43, 45, 93, 0.9);
                  width: 280px;
                  height: 60px; }
                  .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .buy-wrap .total-buy-box .subject-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center; }
                  .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .buy-wrap .total-buy-box .total-num-box {
                    border-left: 1px solid #34B5F7;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .checked-wrap .buy-wrap .buy-btn-box .buy-btn {
                  background-color: #34B5F7;
                  font-size: 20px;
                  font-weight: 600;
                  color: #FFFFff;
                  border-radius: 50px;
                  width: 260px;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  border: 1px solid transparent; }
              .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list {
                margin-top: 28px;
                display: flex;
                align-items: center;
                justify-content: center; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list .buy-number {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  background-color: #FBB600;
                  width: 44px;
                  height: 44px;
                  font-size: 20px;
                  font-weight: 600;
                  color: #FFFFff; }
                  .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list .buy-number + .buy-number {
                    margin-left: 12px; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list .bg-yellow {
                  background-color: #ffd700; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list .bg-blue {
                  background-color: #4169e1; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list .bg-red {
                  background-color: #ff6347; }
                .lotto-container .inner .contents .logo-layout-wrap .lotto-check-group .check-inner .item-box .number-buy-wrap .number-list-container .number-list .bg-green {
                  background-color: #2e8b57; }

/*# sourceMappingURL=style1.css.map */