@charset "UTF-8";

$font: 'Pretendard';

@each $font-size in R, M, B, SB {

	@font-face {
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		} @else if $font-size == M {
			font-weight: 500;
		} @else if $font-size == B {
			font-weight: 700;
		} @else if $font-size == SB {
			font-weight: 800;
		}

		font-style: normal;
	}
}


* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;

}


.wrapper {
	.map {
		.map-inner {
			.map-wrap {
				.side-tab-panel-container {


					.side-tab-panel-group {
						position: absolute;
						height: 100vh;
						left: 0;
						top: 0;
						bottom: 0;
						z-index: 2;

						//토글 버튼과 index가 같이 있어야 하는 이유는? 버튼이 사라지지 않게 하고, 고정한 자리에 그대로 있지 않게 하기위해서

						button.toggle-btn {
							background-color: #0F1825;
							width: 24px;
							height: 82px;
							border-radius: 0 5px 5px 0;
							cursor: pointer;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: 155px;
							right: -24px;

							i.icon-box {
								background: url("../img/ic_sub_tit_on.svg") no-repeat center/cover;
								width: 5px;
								height: 10px;
							}
						}


						.side-tab-panel-wrap {
							overflow: hidden;
							width: 508px;

							//width:0 으로 줘야지 index 화면만 안보이게 할 수 있기 때문에
							&.is-hidden {
								width: 0;
							}

							.side-tab-panel-inner {
								background-color: #0F1825;
								padding: 21px 20px;
								height: 100vh;

								.tab-btn-wrap {
									display: flex;
									align-items: center;
									justify-content: center;

									button.tab-btn {
										background-color: #1D2942;
										width: 50%;
										display: flex;
										align-items: center;
										justify-content: center;
										padding: 9px;
										border-style: none;

										&.active {
											background-color: #3060EA;

										}


										i.icon-box {
											&.ic-list {
												background: url("../img/ic_tab_list.svg");
												width: 20px;
												height: 20px;
											}

											&.ic-signup {
												background: url("../img/ic_tab_singup.svg");
												width: 20px;
												height: 20px;


											}
										}

										.txt {
											padding-left: 12px;
											font-size: 18px;
											font-weight: 500;
											color: #FFFFff;

										}
									}
								}

								.tab-index-list {
									padding-top: 20px;

									.tab-index {

										display: none;

										&.is-show {
											display: block;
										}

										.desc-box {

											.input-wrap {
												.all-check-box {
													.cbox {
														label {
															position: relative;
															cursor: pointer;


															input[type=checkbox] {
																position: absolute;
																left: -9999px;

																&:checked {

																	& ~ i {
																		background: url("../img/ic_agree_on.svg") no-repeat center/ cover;

																	}
																}


															}

															i {
																position: absolute;
																background: url("../img/ic_agree_off.svg") no-repeat center/ cover;
																width: 22px;
																height: 22px;

															}

															.check-txt {
																padding-left: 30px;
																font-size: 18px;
																font-weight: 400;
																color: #FFFFff;
																line-height: 22px;

															}
														}
													}
												}

												.check-wrap {
													display: flex;
													align-items: center;
													padding-top: 8px;

													.check-box {
														& + .check-box {
															padding-left: 15px;
														}

														.cbox {


															label {
																position: relative;
																cursor: pointer;

																input[type=checkbox] {
																	position: absolute;
																	left: -9999px;

																	&:checked {


																		& ~ i {
																			background: url("../img/ic_agree_on.svg") no-repeat center/ cover;

																		}
																	}


																}

																i {
																	position: absolute;
																	background: url("../img/ic_agree_off.svg") no-repeat center/ cover;
																	width: 22px;
																	height: 22px;

																}

																.check-txt {
																	padding-left: 30px;
																	font-size: 18px;
																	font-weight: 400;
																	color: #FFFFff;
																	line-height: 22px;

																}
															}
														}

													}

												}

												.tbox-wrap {

													.con-box {

														& + .con-box {
															margin-top: 10px;
														}

														.tbox {
															.txt-box {
																font-size: 14px;
																font-weight: 500;
																color: #9FA8B8;
																letter-spacing: -0.03em;
																padding-bottom: 7px;
															}

															input {
																padding: 8px 12px;
																border-radius: 3px;
																border: 1px solid #374971;
																background-color: rgba(59, 62, 69, 0.3);
																width: 100%;
																height: 40px;

																&::placeholder {
																	font-size: 15px;
																	font-weight: 400;
																	color: #E5E5E5;
																	letter-spacing: -0.05em;
																}
															}
														}

														.tbox textarea {
															/* 기존 스타일 유지 */
															resize: none;
															width: 100%;
															height: 80px;
															background-color: rgba(0, 9, 28, 0.3);
															border: 1px solid #374971;
															border-radius: 3px;
															color: #E5E5E5;
															padding: 8px 12px;

															/* Firefox용 */
															scrollbar-width: thin; /* 얇은 스크롤바 */
															scrollbar-color: #444e6e #181f29; /* thumb, track 순서 */

															/* Webkit 브라우저용 (Chrome, Edge, Safari) */
															&::-webkit-scrollbar {
																width: 8px;
																background: #181f29;
															}

															&::-webkit-scrollbar-thumb {
																background: #444e6e;
																border-radius: 8px;
															}

															&::-webkit-scrollbar-track {
																background: #181f29;
																border-radius: 8px;
															}
														}


														.datebox {
															.txt-box {
																font-size: 14px;
																font-weight: 500;
																color: #9FA8B8;
																letter-spacing: -0.03em;
																padding-bottom: 7px;
															}

															input {
																padding: 8px 12px;
																position: relative;
																width: 100%;
																height: 40px;
																border: 1px solid #374971;
																background-color: rgba(59, 62, 69, 0.3);
																border-radius: 3px;
																font-size: 15px;
																font-weight: 400;
																color: #E5E5E5;

															}


														}

														.select-box {
															.txt-box {
																font-size: 14px;
																font-weight: 500;
																color: #9FA8B8;
																letter-spacing: -0.03em;
																padding-bottom: 7px;
															}

															select {
																font-size: 15px;
																font-weight: 400;
																color: #E5E5E5;
																padding: 5px;
																height: 40px;
																width: 100%;
																border-radius: 3px;
																border: 1px solid #374971;
																outline: none;
																box-sizing: border-box;
																appearance: none;
																background: #0F1825 url(../img/ic_sbox_arrow.svg) no-repeat right 5px top 15px / 10px 5px;
															}
														}


														.file-box {
															.fhead-box {
																display: flex;
																align-items: center;
																justify-content: space-between;
																padding-bottom: 7px;

																.con-box {
																	display: flex;
																	align-items: center;
																	justify-content: center;

																	.txt-box {
																		font-size: 14px;
																		font-weight: 500;
																		color: #9FA8B8;
																		letter-spacing: -0.03em;

																	}

																	.total-byte-box {
																		padding-left: 14px;
																		color: #E5E5E5;
																		font-size: 13px;
																		font-weight: 400;
																		letter-spacing: -0.01em;


																		.point {
																			color: #11D4FF;

																		}

																	}
																}
															}
														}

														.file-table-box {
															.file-table-wrap {
																background-color: #1B2333;
																padding: 11px 10px;

																.table-box {

																	max-height: 110px; // 원하는 높이로 설정 (예시)
																	overflow-y: auto; // 세로 스크롤 활성화
																	overflow-x: auto;


																	table {
																		color: #E6ECF8;
																		font-size: 14px;
																		font-weight: 400;
																		letter-spacing: -0.05em;
																		width: 100%;
																		border-radius: 5px 5px 0 0;
																		border-collapse: separate;
																		border-spacing: 0;
																		border-bottom: 1px solid rgba(41, 54, 82, 0.5);
																		text-align: center;
																		height: 93px;


																		thead {

																			tr {

																			}

																			th {
																				background-color: #23304B;
																				padding: 7px;
																				position: sticky;
																				top: 0;
																				z-index: 1;

																				&.ellipsis {
																					white-space: nowrap;
																					text-overflow: ellipsis;
																					display: block;
																					overflow: hidden;
																					width: 166px;

																				}

																			}
																		}

																		tbody {


																			tr {

																			}

																			td {
																				background-color: #1B2333;
																				padding: 7px;
																				border-bottom: 1px solid rgba(41, 54, 82, 0.5);


																				&.ellipsis {
																					white-space: nowrap;
																					text-overflow: ellipsis;
																					display: block;
																					overflow: hidden;
																					width: 200px;

																				}


																			}

																			.del-box {
																				display: flex;
																				align-items: center;
																				justify-content: center;

																				.ic-del {
																					display: block;
																					background: url("../img/ic_del.svg") no-repeat center/cover;
																					width: 16px;
																					height: 16px;
																				}
																			}
																		}
																	}
																}


															}
														}

														.fbox {

															label {
																position: relative;
																cursor: pointer;
																background-color: #204F7A;
																border-radius: 3px;
																border: 1px solid #204F7A;
																display: flex;
																align-items: center;
																justify-content: center;
																width: 95px;
																height: 30px;

																input[type=file] {
																	position: absolute;
																	left: -9999px;
																}

																i {
																	position: absolute;
																	background: url("../img/ic_file.svg") no-repeat center/ cover;
																	width: 16px;
																	height: 16px;
																	left: 12px;
																	top: 7px;

																}

																.file-upload {
																	padding-left: 24px;
																	font-size: 13px;
																	font-weight: 500;
																	color: #FFFFff;
																	letter-spacing: -0.01em;
																	background-color: #204F7A;
																	border-radius: 3px;
																	border: 1px solid #204F7A;


																}
															}
														}
													}
												}
											}

											.agree-option-box {
												border-top: 1px solid rgba(62, 78, 117, 0.5);
												padding: 15px 20px;

												margin-top: 15px;
												display: flex;
												align-items: center;
												justify-content: space-around;

												.option-btn-box {
													height: 54px;
													width: 100%;

													& + .option-btn-box {
														padding-left: 20px;
													}

													.option-btn {
														display: flex;
														align-items: center;
														justify-content: center;
														border-radius: 5px;
														height: 54px;
														font-size: 20px;
														font-weight: 500;
														color: #FFFFff;
														letter-spacing: -0.01em;
														background-color: #274FC1;
														text-decoration: none;

														&.type-close {
															background-color: #3E4E75;
														}


													}
												}
											}

											.search-wrap {
												display: flex;
												align-items: center;
												padding-top: 20px;

												.con-box {

													& + .con-box {
														padding-left: 9px;
													}

													.select-box {
														select {
															font-size: 15px;
															font-weight: 400;
															color: #E5E5E5;
															padding: 5px;
															height: 36px;
															width: 95px;
															border-radius: 3px;
															border: 1px solid #374971;
															outline: none;
															box-sizing: border-box;
															appearance: none;
															background: #0F1825 url("../img/ic_sbox_arrow.svg") no-repeat right 5px top 15px / 10px 5px;
														}

														option {
															color: #E5E5E5;

														}
													}


													.sbox {
														width: 270px;

														input {
															font-size: 15px;
															font-weight: 400;
															color: #E5E5E5;
															padding: 5px;
															height: 36px;
															width: 100%;
															outline: none;
															background-color: #0F1825;
															border-radius: 3px;
															border: 1px solid #374971;


															&::placeholder {


															}
														}
													}


													.search-btn-box {

														.search-btn {
															display: flex;
															align-items: center;
															justify-content: center;
															background-color: #204F7A;
															height: 36px;
															width: 86px;
															padding: 8px;
															border-style: none;
															cursor: pointer;
															border-radius: 3px;

															i.ic-search {
																background: url("../img/ic_search.svg") no-repeat center/cover;
																width: 16px;
																height: 16px;

															}

															.txt {
																font-size: 15px;
																font-weight: 500;
																color: #FFFFff;

															}
														}


													}
												}
											}

											.list-wrap {
												padding-top: 11px;

												.total-box {
													.txt {
														color: #FFFFff;

														.number {
															color: #11D4FF;

														}
													}
												}

												.list-layout {
													padding-top: 7px;

													.table-box {
														table {
															color: #E6ECF8;
															font-size: 14px;
															font-weight: 400;
															letter-spacing: -0.05em;
															width: 100%;
															border-radius: 5px 5px 0 0;
															overflow: hidden;
															border-collapse: separate; /* border-radius가 먹으려면 separate여야 함 */
															border-spacing: 0;
															border-bottom: 1px solid rgba(41, 54, 82, 0.5);

															thead {

																tr {


																}

																th {

																	background-color: #23304B;
																	border: 1px solid #23304B;
																	padding: 7px;

																}
															}

															tbody {


																tr {


																}

																td {
																	padding: 8px;

																	&.txt {
																		text-align: center;


																		&.ellipsis {
																			white-space: nowrap;
																			text-overflow: ellipsis;
																			display: block;
																			overflow: hidden;
																			width: 166px;

																		}
																	}

																	&.option-list {
																		display: flex;
																		align-items: center;
																		justify-content: space-between;

																		.option-btn {
																			&.ic-zoom {
																				display: block;
																				background: url("../img/ic_zone.svg") no-repeat center/cover;
																				width: 16px;
																				height: 16px;
																			}
																		}
																	}

																	&.bg-item {
																		background-color: rgba(41, 54, 82, 0.5);

																	}

																}


															}


														}
													}
												}


												.paging-list {
													padding-top: 15px;

													.paging-box {
														display: flex;
														align-items: center;
														justify-content: center;

														.page {
															margin: 7px 12px;
															display: block;
														}

														.first-btn {
															background: url("../img/ic_frist.svg") no-repeat center/cover;
															width: 11px;
															height: 9px;
														}

														.prev-btn {
															background: url("../img/ic_prev2.svg") no-repeat center/cover;
															width: 5px;
															height: 9px;
														}

														.num-btn {
															font-size: 15px;
															font-weight: 400;
															color: #9CA3AF;
															text-decoration: none;


															&.active {
																background-color: #3E4E75;
																color: #FFFFff;
																border-radius: 3px;
																padding: 3px 12px;
															}
														}

														.next-btn {
															background: url("../img/ic_next.svg") no-repeat center/cover;
															width: 5px;
															height: 9px;
														}

														.last-btn {
															background: url("../img/ic_last.svg") no-repeat center/cover;
															width: 11px;
															height: 9px;
														}
													}
												}
											}

										}
									}
								}
							}
						}
					}
				}

				.map-container {
					width: 100%;
					height: 100%;
					position: relative;

					.map-list {
						.map-item {
							width: 100%;
							height: 100vh;

							&.type-img1 {
								background: url("../img/img_map1.png") no-repeat center/ cover;
							}

							&.type-img2 {
								background: url("../img/img_map2.png") no-repeat center/ cover;
							}

							&.hidden {
								display: none;
							}
						}
					}

					.map-btn-wrap {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						position: absolute;
						z-index: 1;
						top: 21px;
						right: 18px;
						gap: 10px;

						.map-btn {
							width: 40px;
							height: 40px;
							border-radius: 3px;

							&.active {
								border: 3px solid #3060EA;
								overflow: hidden;
							}


							img {
								max-width: 100%;

							}
						}
					}

					.map-info-wrap {
						position: absolute;
						z-index: 1;
						bottom: 20px;
						left: 50%;

						.info-box {
							display: flex;
							background-color: rgba(255, 255, 255, 0.8);
							border-radius: 5px;
							border: 1px solid rgba(0, 0, 0, 0.2);
							padding: 13px 25px;

							.row-box {
								display: flex;
								flex-direction: column;


								& + .row-box {
									padding-left: 100px;
								}

								.item-box {
									display: flex;
									align-items: center;
									justify-content: center;

									.subject-box {
										font-size: 13px;
										font-weight: 400;
										color: #6C6F76;
										letter-spacing: -0.01em;
										min-width: 68px;
									}

									.desc-box {
										padding-left: 13px;
										font-size: 14px;
										font-weight: 400;
										color: #0F1825;
										line-height: 24px;

									}
								}
							}
						}
					}
				}
			}
		}
	}


}


.wrapper2 {
	min-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1B2333;

	.password-container {
		background-color: #242A38;
		margin: 0 auto;
		width: 520px;


		.inner {
			padding: 53px 60px 35px;

			.img-box {

				.img {
					background: url("../img/img_password.png") no-repeat center/cover;
					width: 180px;
					height: 139px;
					margin: 0 auto;
				}

				.subject-txt {
					padding-top: 28px;
					font-size: 20px;
					font-weight: 500;
					color: #FFFFff;

				}
			}

			.input-box {
				padding: 30px 0;

				.ptxt {
					font-size: 14px;
					font-weight: 500;
					letter-spacing: -0.03em;
					color: #9FA8B8;
				}

				.pbox {
					padding-top: 8px;

					input {
						outline: none;
						padding: 8px 17px;
						width: 100%;
						height: 40px;
						border-radius: 3px;
						border: 1px solid #374971;
						color: #FFFFff;
						background-color: #00091C;
					}
				}

				.warning-txt {
					display: flex;
					align-items: center;
					margin-top: 12px;

					i.icon-warning {
						background: url("../img/ic_warning.svg") no-repeat center/cover;
						width: 22px;
						height: 22px;


					}

					.txt-box {
						padding-left: 4px;
						color: #FF2869;
						font-size: 14px;
						font-weight: 300;
						letter-spacing: -0.025em;

					}
				}
			}


			.option-box {
				border-top: 1px solid #59606B;
				padding-top: 19px;
				display: flex;
				align-items: center;

				.option-btn {
					width: 100%;

					& + .option-btn {
						padding-left: 15px;
					}


					.btn {
						background-color: #8230EA;
						width: 100%;
						font-size: 20px;
						font-weight: 500;
						color: #FFFFff;
						letter-spacing: -0.01em;
						text-decoration: none;
						height: 54px;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;


						&.t-cancel {
							background-color: #3E4E75;

						}
					}
				}
			}
		}
	}


}


.wrapper3 {
	min-height: 100dvh;
	background-color: #1B2333;

	.password-container {
		background-color: #242A38;
		margin: 0 auto;
		width: 520px;


		.inner {
			padding: 53px 60px 35px;

			.img-box {

				.img {
					background: url("../img/img_password.png") no-repeat center/cover;
					width: 180px;
					height: 139px;
					margin: 0 auto;
				}

				.subject-txt {
					padding-top: 28px;
					font-size: 20px;
					font-weight: 500;
					color: #FFFFff;

				}
			}

			.input-box {
				padding: 30px 0;

				.ptxt {
					font-size: 14px;
					font-weight: 500;
					letter-spacing: -0.03em;
					color: #9FA8B8;
				}

				.pbox {
					padding-top: 8px;

					input {
						outline: none;
						padding: 8px 17px;
						width: 100%;
						height: 40px;
						border-radius: 3px;
						border: 1px solid #374971;
						color: #FFFFff;
						background-color: #00091C;
					}
				}

				.warning-txt {
					display: flex;
					align-items: center;
					margin-top: 12px;

					i.icon-warning {
						background: url("../img/ic_warning.svg") no-repeat center/cover;
						width: 22px;
						height: 22px;


					}

					.txt-box {
						padding-left: 4px;
						color: #FF2869;
						font-size: 14px;
						font-weight: 300;
						letter-spacing: -0.025em;

					}
				}
			}


			.option-box {
				border-top: 1px solid #59606B;
				padding-top: 19px;
				display: flex;
				align-items: center;

				.option-btn {
					width: 100%;

					& + .option-btn {
						padding-left: 15px;
					}


					.btn {
						background-color: #8230EA;
						width: 100%;
						font-size: 20px;
						font-weight: 500;
						color: #FFFFff;
						letter-spacing: -0.01em;
						text-decoration: none;
						height: 54px;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;


						&.t-cancel {
							background-color: #3E4E75;

						}
					}
				}
			}
		}
	}


	.sing-up-container {
		.inner {
			header {
				background-color: #162955;
				.head-box {

					.row-box {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 10px 30px;

						& + .row-box{
							border-top: 1px solid #37466F;

						}

						&.bg-none{
							background-color: #1B2333;
						}

						.con-box {
							display: flex;
							align-items: center;
							&:nth-child(2){
								padding-left: 104px;
							}

							& + .con-box{
								padding-left: 58px;
							}
							h1.logo-box {
								width: 213px;
								height: 44px;

								.logo-btn {
									img {
										width: 100%;
									}
								}
							}

							.tit-box {
								display: inline-flex;
								align-items: center;

								.icon-box {
									&.ic-panorama {
										background: url("../img/ic_panorama.svg") no-repeat center/cover;
										width: 19px;
										height: 18px;
									}
								}

								.txt-box {
									padding-left: 14px;
									font-size: 18px;
									font-weight: 500;
									color: #FFFFff;
								}
							}


							.sing-up-btn {
								display: inline-flex;
								align-items: center;
								justify-content: center;
								width: 200px;
								height: 40px;
								border-radius: 30px;
								background: #3060EA;
								cursor: pointer;

								.icon-box {
									&.ic_share {
										background: url("../img/ic_share.svg") no-repeat center/cover;
										width: 20px;
										height: 20px;

									}
								}

								.txt-box {
									padding-left: 14px;
									font-size: 18px;
									font-weight: 500;
									color: #FFFFff;
								}
							}

							.setting-btn{
								display: inline-flex;
								align-items: center;
								justify-content: center;
								text-decoration: none;
								.icon-box{
									&.ic-set{
										background: url("../img/ic_setting.svg")no-repeat center/cover;
										width: 18px;
										height: 19px;

									}
								}


								.txt-box{
									padding-left: 14px;
									font-size: 18px;
									font-weight: 500;
									color: #FFFFff;

								}
							}
						}

						.option-wrap{
							display: flex;
							align-items: center;
							.option-box{
								& + .option-box{
									padding-left: 50px;
									position: relative;

									&::after{
										position: absolute;
										content: '';
										width: 1px;
										height: 17px;
										background-color: #323F64;
										top: 4px;
										left: 20px;

									}
								}

								.user-box{
									display: flex;
									align-items: center;

									.txt-box{
										font-size: 14px;
										font-weight: 400;
										color: #FFFFFF;
										letter-spacing: -0.05em;
										padding-right: 13px;
									}

									.icon-box{
										&.ic-user{
											background: url("../img/ic_user.svg")no-repeat center/cover;
											width: 24px;
											height: 24px;

										}
									}
								}

								.select-box{
									width: 100px;
									position: relative;
									select{
										appearance: none;
										-webkit-appearance: none;
										-moz-appearance: none;
										background: #162955 url('../img/ic_logo_arrow.svg') no-repeat right 12px center/12px 8px;
										color: #ffffff;
										border: none;
										padding: 0 36px 0 12px;
										height: 24px;
										width: 100%;
										font-size: 14px;
										font-weight: 400;
										outline: none;
										box-sizing: border-box;
										cursor: pointer;
									}

									option{
									}
								}

								.login-box{
									display: flex;
									align-items: center;

									.txt-box{
										font-size: 14px;
										font-weight: 400;
										color: #FFFFFF;
										letter-spacing: -0.05em;
										padding-right: 13px;
									}

									.icon-box{
										&.ic-login{
											background: url("../img/ic_login.svg")no-repeat center/cover;
											width: 24px;
											height: 24px;
										}
									}
								}
							}
						}

						.sub-row-box{
							display: flex;
							align-items: center;

							.sub-tit-box{
								display: flex;
								align-items: center;
								.txt-box{
									font-size: 16px;
									font-weight: 500;
									color: #ffffff;
									letter-spacing: -0.05em;


									& + .txt-box {
										position: relative;
										padding-left: 20px;

										&::after{
											position: absolute;
											content: url("../img/ic_sub_tit_on.svg");
											top: 0;
											left: 4px;
										}
									}
								}
							}

							.con-box{
								& + .con-box{
									padding-left: 10px;
								}
								.location-btn-box{
									display: flex;
									align-items: center;
									.btn{
										display: flex;
										appearance: none;
										-webkit-appearance: none;
										-moz-appearance: none;
										background: none;
										border: none;
										padding: 0;
										cursor: pointer;
										& + .btn{
											margin-left: 5px;
										}
										.icon-box{
											width: 42px;
											height: 26px;
											&.ic-location1{
												background: url("../img/ic_location1.png")no-repeat center/cover;
											}

											&.ic-location2{
												background: url("../img/ic_location2.png")no-repeat center/cover;


											}
										}
									}
								}


								.txt-box{
									font-size: 15px;
									font-weight: 400;
									color: #D2D2D2;
									letter-spacing: -0.05em;

									& + .txt-box{
										position: relative;
										padding-left: 32px;


										&::after{
											position: absolute;
											content: url("../img/ic_sub_tit_on.svg");
											width: 16px;
											height: 16px;
											top: 1px;
											left: 10px;

										}
									}
								}
							}
						}


					}
				}
			}
		}
	}
}
