@charset "UTF-8";

$font : 'Pretendard';

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;

}


.wrapper {
	.map {
		.map-inner {
			.map-wrap {
				.side-tab-panel-container {


					.side-tab-panel-group {
						position: absolute;
						height: 100vh;
						left:0;
						top:0;
						bottom:0;

						//토글 버튼과 index가 같이 있어야 하는 이유는? 버튼이 사라지지 않게 하고, 고정한 자리에 그대로 있지 않게 하기위해서

						button.toggle-btn {
							background-color: #0F1825;
							width: 24px;
							height: 82px;
							border-radius: 0 5px 5px 0;
							cursor: pointer;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: 155px;
							right: -24px;

							i.icon-box {
								background: url("../img/ic_sub_tit_on.svg") no-repeat center/cover;
								width: 5px;
								height: 10px;
							}
						}


						.side-tab-panel-wrap {
							overflow: hidden;
							width: 508px;

						//width:0 으로 줘야지 index 화면만 안보이게 할 수 있기 때문에
							&.is-hidden {
								width: 0;
							}

							.side-tab-panel-inner {
								background-color: #0F1825;
								padding: 21px 20px;
								height: 100vh;

								.tab-btn-wrap {
									display: flex;
									align-items: center;
									justify-content: center;
									button.tab-btn {
										background-color: #1D2942;
										width: 50%;
										display: flex;
										align-items: center;
										justify-content: center;
										padding: 9px ;
										border-style: none;

										&.active{
											background-color: #3060EA;
											
										}


										i.icon-box {
											&.ic-list {
												background: url("../img/ic_tab_list.svg");
												width: 20px;
												height: 20px;
											}

											&.ic-signup {
												background: url("../img/ic_tab_singup.svg");
												width: 20px;
												height: 20px;


											}
										}

										.txt {
											padding-left: 12px;
											font-size: 18px;
											font-weight: 500;
											color: #FFFFff;

										}
									}
								}

								.tab-index-list{
									padding-top: 20px;
									.tab-index{
										.desc-box{

											.input-wrap{
												.all-check-box{
													.cbox{
														label{
															position: relative;
															cursor: pointer;



															input[type=checkbox]{
																position: absolute;
																left: -9999px;

																&:checked{

																	& ~ i{
																		background: url("../img/ic_agree_on.svg")no-repeat center/ cover;

																	}
																}



															}

															i{
																position: absolute;
																background: url("../img/ic_agree_off.svg")no-repeat center/ cover;
																width: 22px;
																height: 22px;

															}
															.check-txt{
																padding-left: 30px;
																font-size: 18px;
																font-weight: 400;
																color: #FFFFff;
																line-height: 22px;

															}
														}
													}
												}

												.check-wrap{
													display: flex;
													align-items: center;
													padding-top: 8px;

													.check-box{
														& + .check-box{
															padding-left: 15px;
														}

														.cbox{



															label{
																position: relative;
																cursor: pointer;

																input[type=checkbox]{
																	position: absolute;
																	left: -9999px;

																	&:checked{


																		& ~ i{
																			background: url("../img/ic_agree_on.svg")no-repeat center/ cover;

																		}
																	}



																}

																i{
																	position: absolute;
																	background: url("../img/ic_agree_off.svg")no-repeat center/ cover;
																	width: 22px;
																	height: 22px;

																}
																.check-txt{
																	padding-left: 30px;
																	font-size: 18px;
																	font-weight: 400;
																	color: #FFFFff;
																	line-height: 22px;

																}
															}
														}

													}

												}
											}

											.search-wrap{
												display: flex;
												align-items: center;
												padding-top: 20px;

												.con-box{

													& + .con-box{
														padding-left: 9px;
													}
													.select-box {
														select {
															font-size: 15px;
															font-weight: 400;
															color: #E5E5E5;
															padding: 5px;
															height: 36px;
															width: 95px;
															border-radius: 3px;
															border: 1px solid #374971;
															outline: none;
															box-sizing: border-box;
															appearance: none;
															background: #0F1825  url("../img/ic_sbox_arrow.svg")no-repeat right 5px top 15px / 10px 5px ;
														}

														option {
															color: #E5E5E5;

														}
													}


													.sbox{
														width: 270px;
														input{
															font-size: 15px;
															font-weight: 400;
															color: #E5E5E5;
															padding: 5px;
															height: 36px;
															width: 100%;
															outline: none;
															background-color: #0F1825;
															border-radius: 3px;
															border: 1px solid #374971;


															&::placeholder{


															}
														}
													}


													.search-btn-box{

														.search-btn{
															display: flex;
															align-items: center;
															justify-content: center;
															background-color: #204F7A;
															height: 36px;
															width: 86px;
															padding: 8px;
															border-style: none;
															cursor: pointer;
															border-radius: 3px;

															i.ic-search{
																background: url("../img/ic_search.svg")no-repeat center/cover;
																width: 16px;
																height: 16px;

															}

															.txt{
																font-size: 15px;
																font-weight: 500;
																color: #FFFFff;

															}
														}


													}
												}
											}




										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
