@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2; }
  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group button.toggle-btn {
    background-color: #0F1825;
    width: 24px;
    height: 82px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 155px;
    right: -24px; }
    .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group button.toggle-btn i.icon-box {
      background: url("../img/ic_sub_tit_on.svg") no-repeat center/cover;
      width: 5px;
      height: 10px; }
  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap {
    overflow: hidden;
    width: 508px; }
    .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap.is-hidden {
      width: 0; }
    .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner {
      background-color: #0F1825;
      padding: 21px 20px;
      height: 100vh; }
      .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center; }
        .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-btn-wrap button.tab-btn {
          background-color: #1D2942;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 9px;
          border-style: none; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-btn-wrap button.tab-btn.active {
            background-color: #3060EA; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-btn-wrap button.tab-btn i.icon-box.ic-list {
            background: url("../img/ic_tab_list.svg");
            width: 20px;
            height: 20px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-btn-wrap button.tab-btn i.icon-box.ic-signup {
            background: url("../img/ic_tab_singup.svg");
            width: 20px;
            height: 20px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-btn-wrap button.tab-btn .txt {
            padding-left: 12px;
            font-size: 18px;
            font-weight: 500;
            color: #FFFFff; }
      .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list {
        padding-top: 20px; }
        .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index {
          display: none; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index.is-show {
            display: block; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .all-check-box .cbox label {
            position: relative;
            cursor: pointer; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .all-check-box .cbox label input[type=checkbox] {
              position: absolute;
              left: -9999px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .all-check-box .cbox label input[type=checkbox]:checked ~ i {
                background: url("../img/ic_agree_on.svg") no-repeat center/cover; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .all-check-box .cbox label i {
              position: absolute;
              background: url("../img/ic_agree_off.svg") no-repeat center/cover;
              width: 22px;
              height: 22px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .all-check-box .cbox label .check-txt {
              padding-left: 30px;
              font-size: 18px;
              font-weight: 400;
              color: #FFFFff;
              line-height: 22px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap {
            display: flex;
            align-items: center;
            padding-top: 8px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap .check-box + .check-box {
              padding-left: 15px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap .check-box .cbox label {
              position: relative;
              cursor: pointer; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap .check-box .cbox label input[type=checkbox] {
                position: absolute;
                left: -9999px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap .check-box .cbox label input[type=checkbox]:checked ~ i {
                  background: url("../img/ic_agree_on.svg") no-repeat center/cover; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap .check-box .cbox label i {
                position: absolute;
                background: url("../img/ic_agree_off.svg") no-repeat center/cover;
                width: 22px;
                height: 22px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .check-wrap .check-box .cbox label .check-txt {
                padding-left: 30px;
                font-size: 18px;
                font-weight: 400;
                color: #FFFFff;
                line-height: 22px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box + .con-box {
            margin-top: 10px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox .txt-box {
            font-size: 14px;
            font-weight: 500;
            color: #9FA8B8;
            letter-spacing: -0.03em;
            padding-bottom: 7px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox input {
            padding: 8px 12px;
            border-radius: 3px;
            border: 1px solid #374971;
            background-color: rgba(59, 62, 69, 0.3);
            width: 100%;
            height: 40px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox input::placeholder {
              font-size: 15px;
              font-weight: 400;
              color: #E5E5E5;
              letter-spacing: -0.05em; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox textarea {
            /* 기존 스타일 유지 */
            resize: none;
            width: 100%;
            height: 80px;
            background-color: rgba(0, 9, 28, 0.3);
            border: 1px solid #374971;
            border-radius: 3px;
            color: #E5E5E5;
            padding: 8px 12px;
            /* Firefox용 */
            scrollbar-width: thin;
            /* 얇은 스크롤바 */
            scrollbar-color: #444e6e #181f29;
            /* thumb, track 순서 */
            /* Webkit 브라우저용 (Chrome, Edge, Safari) */ }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox textarea::-webkit-scrollbar {
              width: 8px;
              background: #181f29; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox textarea::-webkit-scrollbar-thumb {
              background: #444e6e;
              border-radius: 8px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .tbox textarea::-webkit-scrollbar-track {
              background: #181f29;
              border-radius: 8px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .datebox .txt-box {
            font-size: 14px;
            font-weight: 500;
            color: #9FA8B8;
            letter-spacing: -0.03em;
            padding-bottom: 7px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .datebox input {
            padding: 8px 12px;
            position: relative;
            width: 100%;
            height: 40px;
            border: 1px solid #374971;
            background-color: rgba(59, 62, 69, 0.3);
            border-radius: 3px;
            font-size: 15px;
            font-weight: 400;
            color: #E5E5E5; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .select-box .txt-box {
            font-size: 14px;
            font-weight: 500;
            color: #9FA8B8;
            letter-spacing: -0.03em;
            padding-bottom: 7px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .select-box select {
            font-size: 15px;
            font-weight: 400;
            color: #E5E5E5;
            padding: 5px;
            height: 40px;
            width: 100%;
            border-radius: 3px;
            border: 1px solid #374971;
            outline: none;
            box-sizing: border-box;
            appearance: none;
            background: #0F1825 url(../img/ic_sbox_arrow.svg) no-repeat right 5px top 15px/10px 5px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-box .fhead-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 7px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-box .fhead-box .con-box {
              display: flex;
              align-items: center;
              justify-content: center; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-box .fhead-box .con-box .txt-box {
                font-size: 14px;
                font-weight: 500;
                color: #9FA8B8;
                letter-spacing: -0.03em; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-box .fhead-box .con-box .total-byte-box {
                padding-left: 14px;
                color: #E5E5E5;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: -0.01em; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-box .fhead-box .con-box .total-byte-box .point {
                  color: #11D4FF; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap {
            background-color: #1B2333;
            padding: 11px 10px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box {
              max-height: 110px;
              overflow-y: auto;
              overflow-x: auto; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table {
                color: #E6ECF8;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.05em;
                width: 100%;
                border-radius: 5px 5px 0 0;
                border-collapse: separate;
                border-spacing: 0;
                border-bottom: 1px solid rgba(41, 54, 82, 0.5);
                text-align: center;
                height: 93px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table thead th {
                  background-color: #23304B;
                  padding: 7px;
                  position: sticky;
                  top: 0;
                  z-index: 1; }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table thead th.ellipsis {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                    overflow: hidden;
                    width: 166px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table tbody td {
                  background-color: #1B2333;
                  padding: 7px;
                  border-bottom: 1px solid rgba(41, 54, 82, 0.5); }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table tbody td.ellipsis {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                    overflow: hidden;
                    width: 200px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table tbody .del-box {
                  display: flex;
                  align-items: center;
                  justify-content: center; }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .file-table-box .file-table-wrap .table-box table tbody .del-box .ic-del {
                    display: block;
                    background: url("../img/ic_del.svg") no-repeat center/cover;
                    width: 16px;
                    height: 16px; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .fbox label {
            position: relative;
            cursor: pointer;
            background-color: #204F7A;
            border-radius: 3px;
            border: 1px solid #204F7A;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95px;
            height: 30px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .fbox label input[type=file] {
              position: absolute;
              left: -9999px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .fbox label i {
              position: absolute;
              background: url("../img/ic_file.svg") no-repeat center/cover;
              width: 16px;
              height: 16px;
              left: 12px;
              top: 7px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .input-wrap .tbox-wrap .con-box .fbox label .file-upload {
              padding-left: 24px;
              font-size: 13px;
              font-weight: 500;
              color: #FFFFff;
              letter-spacing: -0.01em;
              background-color: #204F7A;
              border-radius: 3px;
              border: 1px solid #204F7A; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .agree-option-box {
            border-top: 1px solid rgba(62, 78, 117, 0.5);
            padding: 15px 20px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .agree-option-box .option-btn-box {
              height: 54px;
              width: 100%; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .agree-option-box .option-btn-box + .option-btn-box {
                padding-left: 20px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .agree-option-box .option-btn-box .option-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 54px;
                font-size: 20px;
                font-weight: 500;
                color: #FFFFff;
                letter-spacing: -0.01em;
                background-color: #274FC1;
                text-decoration: none; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .agree-option-box .option-btn-box .option-btn.type-close {
                  background-color: #3E4E75; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap {
            display: flex;
            align-items: center;
            padding-top: 20px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box + .con-box {
              padding-left: 9px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .select-box select {
              font-size: 15px;
              font-weight: 400;
              color: #E5E5E5;
              padding: 5px;
              height: 36px;
              width: 95px;
              border-radius: 3px;
              border: 1px solid #374971;
              outline: none;
              box-sizing: border-box;
              appearance: none;
              background: #0F1825 url("../img/ic_sbox_arrow.svg") no-repeat right 5px top 15px/10px 5px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .select-box option {
              color: #E5E5E5; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .sbox {
              width: 270px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .sbox input {
                font-size: 15px;
                font-weight: 400;
                color: #E5E5E5;
                padding: 5px;
                height: 36px;
                width: 100%;
                outline: none;
                background-color: #0F1825;
                border-radius: 3px;
                border: 1px solid #374971; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .search-btn-box .search-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #204F7A;
              height: 36px;
              width: 86px;
              padding: 8px;
              border-style: none;
              cursor: pointer;
              border-radius: 3px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .search-btn-box .search-btn i.ic-search {
                background: url("../img/ic_search.svg") no-repeat center/cover;
                width: 16px;
                height: 16px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .search-wrap .con-box .search-btn-box .search-btn .txt {
                font-size: 15px;
                font-weight: 500;
                color: #FFFFff; }
          .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap {
            padding-top: 11px; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .total-box .txt {
              color: #FFFFff; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .total-box .txt .number {
                color: #11D4FF; }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout {
              padding-top: 7px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table {
                color: #E6ECF8;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.05em;
                width: 100%;
                border-radius: 5px 5px 0 0;
                overflow: hidden;
                border-collapse: separate;
                /* border-radius가 먹으려면 separate여야 함 */
                border-spacing: 0;
                border-bottom: 1px solid rgba(41, 54, 82, 0.5); }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table thead th {
                  background-color: #23304B;
                  border: 1px solid #23304B;
                  padding: 7px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table tbody td {
                  padding: 8px; }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table tbody td.txt {
                    text-align: center; }
                    .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table tbody td.txt.ellipsis {
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      display: block;
                      overflow: hidden;
                      width: 166px; }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table tbody td.option-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between; }
                    .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table tbody td.option-list .option-btn.ic-zoom {
                      display: block;
                      background: url("../img/ic_zone.svg") no-repeat center/cover;
                      width: 16px;
                      height: 16px; }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .list-layout .table-box table tbody td.bg-item {
                    background-color: rgba(41, 54, 82, 0.5); }
            .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list {
              padding-top: 15px; }
              .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box {
                display: flex;
                align-items: center;
                justify-content: center; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .page {
                  margin: 7px 12px;
                  display: block; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .first-btn {
                  background: url("../img/ic_frist.svg") no-repeat center/cover;
                  width: 11px;
                  height: 9px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .prev-btn {
                  background: url("../img/ic_prev2.svg") no-repeat center/cover;
                  width: 5px;
                  height: 9px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .num-btn {
                  font-size: 15px;
                  font-weight: 400;
                  color: #9CA3AF;
                  text-decoration: none; }
                  .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .num-btn.active {
                    background-color: #3E4E75;
                    color: #FFFFff;
                    border-radius: 3px;
                    padding: 3px 12px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .next-btn {
                  background: url("../img/ic_next.svg") no-repeat center/cover;
                  width: 5px;
                  height: 9px; }
                .wrapper .map .map-inner .map-wrap .side-tab-panel-container .side-tab-panel-group .side-tab-panel-wrap .side-tab-panel-inner .tab-index-list .tab-index .desc-box .list-wrap .paging-list .paging-box .last-btn {
                  background: url("../img/ic_last.svg") no-repeat center/cover;
                  width: 11px;
                  height: 9px; }

.wrapper .map .map-inner .map-wrap .map-container {
  width: 100%;
  height: 100%;
  position: relative; }
  .wrapper .map .map-inner .map-wrap .map-container .map-list .map-item {
    width: 100%;
    height: 100vh; }
    .wrapper .map .map-inner .map-wrap .map-container .map-list .map-item.type-img1 {
      background: url("../img/img_map1.png") no-repeat center/cover; }
    .wrapper .map .map-inner .map-wrap .map-container .map-list .map-item.type-img2 {
      background: url("../img/img_map2.png") no-repeat center/cover; }
    .wrapper .map .map-inner .map-wrap .map-container .map-list .map-item.hidden {
      display: none; }
  .wrapper .map .map-inner .map-wrap .map-container .map-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    top: 21px;
    right: 18px;
    gap: 10px; }
    .wrapper .map .map-inner .map-wrap .map-container .map-btn-wrap .map-btn {
      width: 40px;
      height: 40px;
      border-radius: 3px; }
      .wrapper .map .map-inner .map-wrap .map-container .map-btn-wrap .map-btn.active {
        border: 3px solid #3060EA;
        overflow: hidden; }
      .wrapper .map .map-inner .map-wrap .map-container .map-btn-wrap .map-btn img {
        max-width: 100%; }
  .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50%; }
    .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap .info-box {
      display: flex;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 13px 25px; }
      .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap .info-box .row-box {
        display: flex;
        flex-direction: column; }
        .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap .info-box .row-box + .row-box {
          padding-left: 100px; }
        .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap .info-box .row-box .item-box {
          display: flex;
          align-items: center;
          justify-content: center; }
          .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap .info-box .row-box .item-box .subject-box {
            font-size: 13px;
            font-weight: 400;
            color: #6C6F76;
            letter-spacing: -0.01em;
            min-width: 68px; }
          .wrapper .map .map-inner .map-wrap .map-container .map-info-wrap .info-box .row-box .item-box .desc-box {
            padding-left: 13px;
            font-size: 14px;
            font-weight: 400;
            color: #0F1825;
            line-height: 24px; }

.wrapper2 {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B2333; }
  .wrapper2 .password-container {
    background-color: #242A38;
    margin: 0 auto;
    width: 520px; }
    .wrapper2 .password-container .inner {
      padding: 53px 60px 35px; }
      .wrapper2 .password-container .inner .img-box .img {
        background: url("../img/img_password.png") no-repeat center/cover;
        width: 180px;
        height: 139px;
        margin: 0 auto; }
      .wrapper2 .password-container .inner .img-box .subject-txt {
        padding-top: 28px;
        font-size: 20px;
        font-weight: 500;
        color: #FFFFff; }
      .wrapper2 .password-container .inner .input-box {
        padding: 30px 0; }
        .wrapper2 .password-container .inner .input-box .ptxt {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.03em;
          color: #9FA8B8; }
        .wrapper2 .password-container .inner .input-box .pbox {
          padding-top: 8px; }
          .wrapper2 .password-container .inner .input-box .pbox input {
            outline: none;
            padding: 8px 17px;
            width: 100%;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #374971;
            color: #FFFFff;
            background-color: #00091C; }
        .wrapper2 .password-container .inner .input-box .warning-txt {
          display: flex;
          align-items: center;
          margin-top: 12px; }
          .wrapper2 .password-container .inner .input-box .warning-txt i.icon-warning {
            background: url("../img/ic_warning.svg") no-repeat center/cover;
            width: 22px;
            height: 22px; }
          .wrapper2 .password-container .inner .input-box .warning-txt .txt-box {
            padding-left: 4px;
            color: #FF2869;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: -0.025em; }
      .wrapper2 .password-container .inner .option-box {
        border-top: 1px solid #59606B;
        padding-top: 19px;
        display: flex;
        align-items: center; }
        .wrapper2 .password-container .inner .option-box .option-btn {
          width: 100%; }
          .wrapper2 .password-container .inner .option-box .option-btn + .option-btn {
            padding-left: 15px; }
          .wrapper2 .password-container .inner .option-box .option-btn .btn {
            background-color: #8230EA;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            color: #FFFFff;
            letter-spacing: -0.01em;
            text-decoration: none;
            height: 54px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper2 .password-container .inner .option-box .option-btn .btn.t-cancel {
              background-color: #3E4E75; }

.wrapper3 {
  min-height: 100dvh;
  background-color: #1B2333; }
  .wrapper3 .password-container {
    background-color: #242A38;
    margin: 0 auto;
    width: 520px; }
    .wrapper3 .password-container .inner {
      padding: 53px 60px 35px; }
      .wrapper3 .password-container .inner .img-box .img {
        background: url("../img/img_password.png") no-repeat center/cover;
        width: 180px;
        height: 139px;
        margin: 0 auto; }
      .wrapper3 .password-container .inner .img-box .subject-txt {
        padding-top: 28px;
        font-size: 20px;
        font-weight: 500;
        color: #FFFFff; }
      .wrapper3 .password-container .inner .input-box {
        padding: 30px 0; }
        .wrapper3 .password-container .inner .input-box .ptxt {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.03em;
          color: #9FA8B8; }
        .wrapper3 .password-container .inner .input-box .pbox {
          padding-top: 8px; }
          .wrapper3 .password-container .inner .input-box .pbox input {
            outline: none;
            padding: 8px 17px;
            width: 100%;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #374971;
            color: #FFFFff;
            background-color: #00091C; }
        .wrapper3 .password-container .inner .input-box .warning-txt {
          display: flex;
          align-items: center;
          margin-top: 12px; }
          .wrapper3 .password-container .inner .input-box .warning-txt i.icon-warning {
            background: url("../img/ic_warning.svg") no-repeat center/cover;
            width: 22px;
            height: 22px; }
          .wrapper3 .password-container .inner .input-box .warning-txt .txt-box {
            padding-left: 4px;
            color: #FF2869;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: -0.025em; }
      .wrapper3 .password-container .inner .option-box {
        border-top: 1px solid #59606B;
        padding-top: 19px;
        display: flex;
        align-items: center; }
        .wrapper3 .password-container .inner .option-box .option-btn {
          width: 100%; }
          .wrapper3 .password-container .inner .option-box .option-btn + .option-btn {
            padding-left: 15px; }
          .wrapper3 .password-container .inner .option-box .option-btn .btn {
            background-color: #8230EA;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            color: #FFFFff;
            letter-spacing: -0.01em;
            text-decoration: none;
            height: 54px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper3 .password-container .inner .option-box .option-btn .btn.t-cancel {
              background-color: #3E4E75; }
  .wrapper3 .sing-up-container .inner header .head-box .row-box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box {
      display: flex;
      align-items: center; }
      .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box:nth-child(2) {
        padding-left: 104px; }
      .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box + .con-box {
        padding-left: 58px; }
      .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box h1.logo-box {
        width: 213px;
        height: 44px; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box h1.logo-box .logo-btn img {
          width: 100%; }
      .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .tit-box {
        display: inline-flex;
        align-items: center; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .tit-box .icon-box.ic-panorama {
          background: url("../img/ic_panorama.svg") no-repeat center/cover;
          width: 19px;
          height: 18px; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .tit-box .txt-box {
          padding-left: 14px;
          font-size: 18px;
          font-weight: 500;
          color: #FFFFff; }
      .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .sing-up-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 40px;
        border-radius: 30px;
        background: #3060EA;
        cursor: pointer; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .sing-up-btn .icon-box.ic_share {
          background: url("../img/ic_share.svg") no-repeat center/cover;
          width: 20px;
          height: 20px; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .sing-up-btn .txt-box {
          padding-left: 14px;
          font-size: 18px;
          font-weight: 500;
          color: #FFFFff; }
      .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .setting-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .setting-btn .icon-box.ic-set {
          background: url("../img/ic_setting.svg") no-repeat center/cover;
          width: 18px;
          height: 19px; }
        .wrapper3 .sing-up-container .inner header .head-box .row-box .con-box .setting-btn .txt-box {
          padding-left: 14px;
          font-size: 18px;
          font-weight: 500;
          color: #FFFFff; }

/*# sourceMappingURL=style.css.map */