@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper2 {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B2333; }
  .wrapper2 .password-container {
    background-color: #242A38;
    margin: 0 auto;
    width: 520px; }
    .wrapper2 .password-container .inner {
      padding: 53px 60px 35px; }
      .wrapper2 .password-container .inner .img-box .img {
        background: url("../img/img_password.png") no-repeat center/cover;
        width: 180px;
        height: 139px;
        margin: 0 auto; }
      .wrapper2 .password-container .inner .img-box .subject-txt {
        padding-top: 28px;
        font-size: 20px;
        font-weight: 500;
        color: #FFFFff; }
      .wrapper2 .password-container .inner .input-box {
        padding: 30px 0; }
        .wrapper2 .password-container .inner .input-box .ptxt {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.03em;
          color: #9FA8B8; }
        .wrapper2 .password-container .inner .input-box .pbox {
          padding-top: 8px; }
          .wrapper2 .password-container .inner .input-box .pbox input {
            outline: none;
            padding: 8px 17px;
            width: 100%;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #374971;
            color: #FFFFff;
            background-color: #00091C; }
        .wrapper2 .password-container .inner .input-box .warning-txt {
          display: flex;
          align-items: center;
          margin-top: 12px; }
          .wrapper2 .password-container .inner .input-box .warning-txt i.icon-warning {
            background: url("../img/ic_warning.svg") no-repeat center/cover;
            width: 22px;
            height: 22px; }
          .wrapper2 .password-container .inner .input-box .warning-txt .txt-box {
            padding-left: 4px;
            color: #FF2869;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: -0.025em; }
      .wrapper2 .password-container .inner .option-box {
        border-top: 1px solid #59606B;
        padding-top: 19px;
        display: flex;
        align-items: center; }
        .wrapper2 .password-container .inner .option-box .option-btn {
          width: 100%; }
          .wrapper2 .password-container .inner .option-box .option-btn + .option-btn {
            padding-left: 15px; }
          .wrapper2 .password-container .inner .option-box .option-btn .btn {
            background-color: #8230EA;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            color: #FFFFff;
            letter-spacing: -0.01em;
            text-decoration: none;
            height: 54px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper2 .password-container .inner .option-box .option-btn .btn.t-cancel {
              background-color: #3E4E75; }

/*# sourceMappingURL=style2.css.map */