@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-font-size.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-font-size.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-font-size.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "pretendard";
  src: url("../fonts/pretendard-font-size.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "pretendard"; }
  @media (max-width: 375px) {
    * {
      width: 100%; } }

.inner {
  width: 800px;
  margin: 0 auto; }
  @media (max-width: 375px) {
    .inner {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }

.section-wrap .banner-box {
  background-color: #AD263B;
  width: 100%;
  padding: 60px 0 74px; }
  .section-wrap .banner-box .banner-tit-box {
    max-width: 597px;
    margin: 0 auto; }
    @media (max-width: 375px) {
      .section-wrap .banner-box .banner-tit-box {
        display: none; } }
    .section-wrap .banner-box .banner-tit-box img {
      width: 100%; }
  .section-wrap .banner-box .m-banner-tit-box {
    display: none;
    max-width: 597px;
    margin: 0 auto; }
    @media (max-width: 375px) {
      .section-wrap .banner-box .m-banner-tit-box {
        display: block; } }
    .section-wrap .banner-box .m-banner-tit-box img {
      width: 100%; }
  .section-wrap .banner-box .banner-img-box {
    padding-top: 45px;
    margin: 0 auto;
    max-width: 660px; }
    @media (max-width: 375px) {
      .section-wrap .banner-box .banner-img-box {
        display: none; } }
    .section-wrap .banner-box .banner-img-box img {
      width: 100%;
      margin-left: -29px; }
  .section-wrap .banner-box .m-banner-img-box {
    padding-top: 25px;
    max-width: 376px;
    display: none; }
    @media (max-width: 375px) {
      .section-wrap .banner-box .m-banner-img-box {
        display: block; } }
    .section-wrap .banner-box .m-banner-img-box img {
      width: 100%;
      margin-left: -20px; }

.section-wrap .event-guide-box {
  background-color: #E3B2B2;
  padding: 80px 0 100px; }
  .section-wrap .event-guide-box .guide-item-group {
    text-align: center; }
    .section-wrap .event-guide-box .guide-item-group .item-box + .item-box {
      padding-top: 50px; }
    .section-wrap .event-guide-box .guide-item-group .item-box .con-box {
      padding-top: 16px;
      font-size: 17px;
      line-height: 140%; }
  .section-wrap .event-guide-box .event-info-box {
    padding-top: 80px; }
    .section-wrap .event-guide-box .event-info-box .inner {
      padding: 50px 50px 40px;
      background-color: #fff; }
      @media (max-width: 375px) {
        .section-wrap .event-guide-box .event-info-box .inner {
          padding: 30px 20px 30px; } }
      .section-wrap .event-guide-box .event-info-box .inner .event-tit-box {
        max-width: 268px;
        margin: 0 auto; }
        .section-wrap .event-guide-box .event-info-box .inner .event-tit-box img {
          width: 100%; }
      .section-wrap .event-guide-box .event-info-box .inner .event-sub-txt-box {
        font-size: 20px;
        letter-spacing: -0.3%;
        text-align: center;
        padding-top: 20px; }
      .section-wrap .event-guide-box .event-info-box .inner .event-img-box {
        max-width: 655px;
        margin: 0 auto;
        padding-top: 40px; }
        @media (max-width: 375px) {
          .section-wrap .event-guide-box .event-info-box .inner .event-img-box {
            display: none; } }
        .section-wrap .event-guide-box .event-info-box .inner .event-img-box img {
          width: 100%; }
      .section-wrap .event-guide-box .event-info-box .inner .m-event-img-box {
        max-width: 655px;
        margin: 0 auto;
        padding-top: 40px;
        display: none; }
        @media (max-width: 375px) {
          .section-wrap .event-guide-box .event-info-box .inner .m-event-img-box {
            display: block; } }
        .section-wrap .event-guide-box .event-info-box .inner .m-event-img-box img {
          width: 100%; }
      .section-wrap .event-guide-box .event-info-box .inner .apply-btn-box {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 20px; }
        .section-wrap .event-guide-box .event-info-box .inner .apply-btn-box .apply-btn {
          background-color: #000000;
          border-radius: 10px;
          border: 2px solid #000000;
          font-size: 18px;
          font-weight: 700;
          color: #FFFFFF;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 360px;
          padding: 20px 5px; }
      .section-wrap .event-guide-box .event-info-box .inner .date-wrap {
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px dashed #CECECE; }
        .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list {
          max-width: 553px;
          margin: 0 auto; }
          .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item {
            display: flex;
            align-items: center; }
            .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item + .date-item {
              padding-top: 16px; }
            .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item .subject-box {
              width: 114px;
              margin-right: 24px; }
            .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item .con-box {
              display: flex;
              align-items: center; }
              @media (max-width: 375px) {
                .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item .con-box {
                  align-items: flex-start; } }
              .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item .con-box i.ic-calender {
                display: inline-flex;
                background: url("../img/ic_calender.svg") no-repeat center/cover;
                width: 14px;
                height: 14px; }
                @media (max-width: 375px) {
                  .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item .con-box i.ic-calender {
                    margin-right: 6px;
                    height: 16px;
                    width: 16px; } }
              @media (max-width: 375px) {
                .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .date-item .con-box .con-txt {
                  font-size: 14px;
                  line-height: 16px; } }
          .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .info-desc {
            padding-top: 20px;
            color: #854444;
            letter-spacing: -5%;
            line-height: 20px; }
            @media (max-width: 375px) {
              .section-wrap .event-guide-box .event-info-box .inner .date-wrap .item-list .info-desc {
                font-size: 13px;
                text-indent: -11px;
                margin-left: 10px; } }
  .section-wrap .event-guide-box .view-btn-box {
    padding-top: 60px;
    max-width: 360px;
    margin: 0 auto; }
    .section-wrap .event-guide-box .view-btn-box .view-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #FFFFFF;
      background-color: #000000;
      border-radius: 10px;
      padding: 20px 5px;
      width: 100%; }

article.step-box {
  display: flex;
  justify-content: center; }
  article.step-box .step-txt-box {
    background-color: #AD263B;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 14px; }

/*# sourceMappingURL=style.scss.map */