@charset "utf-8";


$font : 'Pretendard'; // 변수를 지정

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}




*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font;
}


section.WorkShop{
	background: url("../img/img_bg.png")no-repeat top/100% 100%;
	padding: 53px 20px 250px;

	.inner{
		max-width: 627px;
		margin: 0 auto;

		.tit-box{
			text-align: center;
			.subject-box{
				max-width: 627px;

				img{
					width: 100%;
				}
			}

			.sub-tit-box{
				padding-top: 34px;
				max-width: 224px;
				margin: 0 auto;
				img{
					width: 100%;
				}
			}
		}

		.form-box{
			padding-top: 86px;
			.form-wrap{
				padding: 0 50px 0 117px;
				.con-box{

					& + .con-box{
						padding-top: 56px;
					}

					.txt{
						font-size: 20px;
						font-weight: 700;
						letter-spacing: -0.06em;
						color: #2E2E2E;

					}

					.tbox{
						padding-top: 20px;

						input{
							border-radius:8px;
							width: 100%;
							padding: 20px 16px;
							outline: none;
							border-color: #000000;


						}
						:focus{
							border-color: transparent;
							outline: 2px solid #d50000;
						}

						::placeholder{
							font-size: 17px;
							font-weight: 600;
							letter-spacing: -0.04em;
							color: #BABCC2;

						}
					}
				}

				.next-btn-box{
					padding-top: 50px;
					.next-btn{
						margin: 0 auto;
						display: flex;
						align-items: center;
						justify-content: center;
						text-decoration: none;
						font-size: 18px;
						font-weight: 700;
						letter-spacing: -0.03em;
						color: #ffffff;
						max-width: 360px;
						padding: 20px 5px;
						border-radius: 10px;
						background-color:#000000 ;


					}
				}
			}


		}


	}
}