@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
  background-color: #EBEFF7; }
  .wrapper header {
    background-color: #162955; }
    .wrapper header .top-box {
      padding: 10px 33px;
      display: flex;
      justify-content: space-between; }
      .wrapper header .top-box .header-box {
        display: flex;
        align-items: center; }
        .wrapper header .top-box .header-box h1 .logo-box {
          display: block;
          width: 213px;
          height: 44px; }
          .wrapper header .top-box .header-box h1 .logo-box img {
            width: 100%; }
        .wrapper header .top-box .header-box .logo-tit-box {
          padding-left: 50px;
          display: flex;
          align-items: center; }
          .wrapper header .top-box .header-box .logo-tit-box .icon-box {
            display: block;
            background: url("../img/ic_panorama.svg") no-repeat center/cover;
            width: 19px;
            height: 18px; }
          .wrapper header .top-box .header-box .logo-tit-box .txt-box {
            padding-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF; }
        .wrapper header .top-box .header-box .header-option-box {
          display: flex;
          align-items: center; }
          .wrapper header .top-box .header-box .header-option-box + .header-option-box {
            position: relative; }
            .wrapper header .top-box .header-box .header-option-box + .header-option-box:after {
              position: absolute;
              content: '';
              width: 1px;
              height: 19px;
              left: 14px;
              top: 3px;
              background-color: #FFFFFF; }
          .wrapper header .top-box .header-box .header-option-box .lang-box {
            text-decoration: none;
            display: flex;
            align-items: center; }
            .wrapper header .top-box .header-box .header-option-box .lang-box .txt-box {
              font-size: 16px;
              font-weight: 400;
              color: #FFFFFF;
              padding-right: 10px; }
            .wrapper header .top-box .header-box .header-option-box .lang-box .icon-box {
              display: block;
              background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
              width: 8px;
              height: 4px; }
          .wrapper header .top-box .header-box .header-option-box .login-box {
            padding-left: 30px;
            text-decoration: none;
            display: flex;
            align-items: center; }
            .wrapper header .top-box .header-box .header-option-box .login-box .txt-box {
              font-size: 16px;
              font-weight: 400;
              color: #FFFFFF;
              padding-right: 10px; }
            .wrapper header .top-box .header-box .header-option-box .login-box .icon-box {
              display: block;
              background: url("../img/ic_login.svg") no-repeat center/cover;
              width: 24px;
              height: 24px; }
    .wrapper header .sub-header-box {
      padding: 10px 33px;
      border-top: 1px solid #ffff; }
      .wrapper header .sub-header-box .txt-box {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF; }
  .wrapper .content {
    flex: 1;
    padding-top: 50px; }
    .wrapper .content .id-group {
      width: 1024px;
      margin: 0 auto; }
      .wrapper .content .id-group .id-box {
        padding: 41px 63px 45px;
        background-color: #fff; }
        .wrapper .content .id-group .id-box.id-box {
          margin-top: 30px; }
        .wrapper .content .id-group .id-box .id-tit-box {
          font-size: 28px;
          font-weight: 700;
          color: #1E2431; }
        .wrapper .content .id-group .id-box .con-box {
          padding: 57px 0 45px;
          width: 472px;
          margin: 0 auto; }
          .wrapper .content .id-group .id-box .con-box .subject-box {
            font-size: 20px;
            font-weight: 400;
            line-height: -0.5px;
            color: #222222;
            text-align: center; }
            .wrapper .content .id-group .id-box .con-box .subject-box .c-blue {
              color: #0085FF; }
          .wrapper .content .id-group .id-box .con-box .id-form-box {
            padding-top: 50px; }
            .wrapper .content .id-group .id-box .con-box .id-form-box .label-box {
              font-size: 16px;
              font-weight: 400;
              letter-spacing: -0.3px;
              color: #222222; }
            .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap {
              display: flex;
              align-items: center;
              padding-top: 7px; }
              .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap .tbox input {
                max-width: 160px;
                height: 42px;
                padding: 0 5px;
                font-size: 17px;
                font-weight: 400;
                letter-spacing: -0.3px;
                color: #000;
                border-radius: 3px;
                border: 1px solid #C6C6C6; }
                .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap .tbox input:focus {
                  outline: none; }
              .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap .sbox {
                padding-left: 5px; }
                .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap .sbox select {
                  width: 160px;
                  height: 42px;
                  padding: 0 5px;
                  font-size: 17px;
                  font-weight: 400;
                  letter-spacing: -0.3px;
                  color: #000;
                  border-radius: 3px;
                  border: 1px solid #C6C6C6;
                  appearance: none;
                  background: url("../img/ic_sbox_arrow.svg") no-repeat right 8px center; }
                  .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap .sbox select:focus {
                    outline: none; }
              .wrapper .content .id-group .id-box .con-box .id-form-box .tbox-wrap .idt-box {
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.3px;
                color: #555555;
                padding: 0 5px; }
        .wrapper .content .id-group .id-box .login-option-box {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 50px;
          border-top: 1px solid #D0D0D0; }
          .wrapper .content .id-group .id-box .login-option-box .option-btn-box {
            width: 212px; }
            .wrapper .content .id-group .id-box .login-option-box .option-btn-box + .option-btn-box {
              padding-left: 22px; }
            .wrapper .content .id-group .id-box .login-option-box .option-btn-box .option-btn {
              border-radius: 5px;
              max-width: 212px;
              height: 54px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              font-weight: 500;
              letter-spacing: -0.01em;
              color: #FFFFFF;
              background-color: #3060EA;
              text-decoration: none; }
              .wrapper .content .id-group .id-box .login-option-box .option-btn-box .option-btn.type-close {
                background-color: #3E4E75; }

/*# sourceMappingURL=style.scss.map */