@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column; }
  .wrapper header {
    background-color: #162955; }
    .wrapper header .main-box {
      padding: 10px 33px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .wrapper header .main-box .header-box {
        display: flex;
        align-items: center; }
        .wrapper header .main-box .header-box h1 .logo-box {
          display: block;
          width: 213px;
          height: 44px; }
          .wrapper header .main-box .header-box h1 .logo-box img {
            max-width: 100%; }
        .wrapper header .main-box .header-box .main-tit-box {
          display: flex;
          align-items: center;
          padding-left: 80px; }
          .wrapper header .main-box .header-box .main-tit-box .icon {
            display: block;
            background: url("../img/ic_panorama.svg") no-repeat center/cover;
            width: 19px;
            height: 18px; }
          .wrapper header .main-box .header-box .main-tit-box .txt {
            font-size: 16px;
            font-weight: 600;
            color: #FFFFFF; }
        .wrapper header .main-box .header-box .option-box + .option-box {
          padding-left: 50px;
          position: relative; }
          .wrapper header .main-box .header-box .option-box + .option-box:after {
            content: '';
            width: 1px;
            height: 18px;
            background-color: #fff;
            position: absolute;
            top: 1px;
            left: 20px; }
        .wrapper header .main-box .header-box .option-box .lang-box .btn {
          display: flex;
          align-items: center;
          text-decoration: none; }
          .wrapper header .main-box .header-box .option-box .lang-box .btn .txt {
            font-size: 16px;
            font-weight: 400;
            color: #FFFFFF; }
          .wrapper header .main-box .header-box .option-box .lang-box .btn .icon {
            background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
            width: 8px;
            height: 4px; }
        .wrapper header .main-box .header-box .option-box .login-box .btn {
          display: flex;
          align-items: center;
          text-decoration: none; }
          .wrapper header .main-box .header-box .option-box .login-box .btn .txt {
            font-size: 16px;
            font-weight: 400;
            color: #FFFFFF; }
          .wrapper header .main-box .header-box .option-box .login-box .btn .icon {
            background: url("../img/ic_login.svg") no-repeat center/cover;
            width: 24px;
            height: 24px; }
    .wrapper header .sub-box {
      padding: 10px 33px;
      border-top: 1px solid #dddddd; }
      .wrapper header .sub-box .txt {
        font-size: 16px;
        font-weight: 800;
        color: #FFFFFF; }
  .wrapper .content {
    min-height: 0;
    flex: 1;
    background-color: #EBEFF7; }
    .wrapper .content .content-inner {
      padding-top: 57px; }
      .wrapper .content .content-inner .id-wrap .id-group {
        width: 1024px;
        margin: 0 auto; }
        .wrapper .content .content-inner .id-wrap .id-group .id-box {
          background-color: #fff;
          padding: 41px 45px; }
          .wrapper .content .content-inner .id-wrap .id-group .id-box + .id-box {
            margin-top: 30px; }
          .wrapper .content .content-inner .id-wrap .id-group .id-box .tit-box {
            font-size: 32px;
            font-weight: 700;
            color: #000; }
          .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box {
            padding-top: 50px; }
            .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .subject-box {
              font-size: 16px;
              font-weight: 400;
              color: #000;
              text-align: center;
              padding-bottom: 50px; }
              .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .subject-box .point-blue {
                color: #3060EA; }
            .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box {
              padding-bottom: 50px;
              width: 472px;
              margin: 0 auto; }
              .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box .label-box {
                font-size: 13px;
                font-weight: 400;
                color: #000; }
              .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box .input-layout {
                display: flex;
                align-items: center;
                padding-top: 20px; }
                .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box .input-layout .tbox input {
                  width: 100%;
                  height: 42px;
                  border: 1px solid #eeeeee;
                  padding: 0 5px; }
                .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box .input-layout .dot-box {
                  font-size: 13px;
                  font-weight: 400;
                  color: #eeeeee;
                  padding: 0 10px; }
                .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box .input-layout select {
                  margin-left: 10px;
                  width: 160px;
                  height: 42px;
                  border: 1px solid #eeeeee;
                  padding: 0 5px;
                  appearance: none;
                  background: url("../img/ic_sbox_arrow.svg") no-repeat right 8px center; }
                  .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .emile-box .input-layout select:focus {
                    outline: none; }
            .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .option-box {
              padding-top: 30px;
              border-top: 1px solid #eeeeee;
              display: flex;
              align-items: center;
              justify-content: center; }
              .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .option-box .btn-box + .btn-box {
                padding-left: 10px; }
              .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .option-box .btn-box .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                width: 212px;
                height: 54px;
                background-color: #3060EA;
                color: #FFFFFF;
                font-size: 20px;
                font-weight: 500;
                text-decoration: none; }
                .wrapper .content .content-inner .id-wrap .id-group .id-box .con-box .option-box .btn-box .btn.type-close {
                  background-color: #3E4E75; }

/*# sourceMappingURL=style3.css.map */