@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard"; }

.restore .wrapper {
  margin: 0 auto;
  width: 700px;
  padding: 46px 0 200px; }
  .restore .wrapper .tittle-box h2.tit-txt {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -5%;
    color: #000000; }
    .restore .wrapper .tittle-box h2.tit-txt .tit-view {
      color: #FF813B; }
  .restore .wrapper .tittle-box .tabs {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end; }
    .restore .wrapper .tittle-box .tabs .tab-box {
      display: flex; }
      .restore .wrapper .tittle-box .tabs .tab-box label {
        position: relative;
        background: #FFFFff;
        padding: 8px 12px;
        font-size: 16px;
        font-weight: 500;
        color: #BABCC2;
        letter-spacing: -0.025em; }
      .restore .wrapper .tittle-box .tabs .tab-box .content {
        display: none;
        position: absolute;
        background: white;
        top: 40px;
        left: 0;
        right: 0;
        padding: 20px 0;
        box-sizing: border-box;
        border-top: 1px solid #ECEDF0;
        border-bottom: 1px solid #ECEDF0; }
    .restore .wrapper .tittle-box .tabs .tab-box [type="radio"] {
      display: none; }
    .restore .wrapper .tittle-box .tabs .tab-box [type="radio"]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
      color: #FF813B; }
    .restore .wrapper .tittle-box .tabs .tab-box [type="radio"]:checked + label + .content {
      z-index: 1;
      display: block; }

article .label-box {
  font-size: 13px;
  color: #FF813B;
  font-weight: 400;
  letter-spacing: -5%; }

article .subject-box {
  padding-top: 14px;
  font-size: 28px;
  font-weight: 700;
  color: #383838;
  letter-spacing: -5%; }

article .con-box {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  letter-spacing: -5%;
  line-height: 21px; }

article .img-box {
  padding: 40px 50px 0; }
  article .img-box .swiper-container {
    overflow: hidden;
    position: relative;
    padding: 0 76px; }
    article .img-box .swiper-container .swiper-wrapper {
      display: flex; }
      article .img-box .swiper-container .swiper-wrapper .swiper-slide .swiper-img {
        width: 448px;
        height: 300px;
        background-color: #D9D9D9; }
    article .img-box .swiper-container .swiper-button-prev,
    article .img-box .swiper-container .swiper-button-next {
      margin-top: 0;
      width: 17px;
      height: 118px;
      top: 50%;
      transform: translatey(-50%);
      position: absolute; }
      article .img-box .swiper-container .swiper-button-prev:after,
      article .img-box .swiper-container .swiper-button-next:after {
        display: none; }
    article .img-box .swiper-container .swiper-button-prev {
      background: url("../img/ic_prev.svg") no-repeat top/cover;
      left: 0; }
    article .img-box .swiper-container .swiper-button-next {
      background: url("../img/ic_next.svg") no-repeat top/cover;
      right: 0; }

article .tate-box {
  padding-top: 18px;
  color: #808080;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -5%; }

/*# sourceMappingURL=style.scss.map */