@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard"; }

section.custom {
  background: url("../img/img_bg.png") repeat top/auto auto; }
  section.custom .custom-group {
    background: url("../img/img_tit.png") no-repeat top center/994px 515px;
    padding-top: 276px; }
    @media (max-width: 375px) {
      section.custom .custom-group {
        background-size: 331px 171px;
        padding-top: 150px; } }
    section.custom .custom-group .inner {
      max-width: 995px;
      margin: 0 auto; }
      @media (max-width: 375px) {
        section.custom .custom-group .inner {
          padding: 0 20px; } }
      section.custom .custom-group .inner .tit-box img {
        width: 100%; }
      section.custom .custom-group .inner .sing-contents {
        margin: 0 auto;
        max-width: 700px;
        position: relative; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box + .item-box {
          padding-top: 56px; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .step-tit-box {
          font-size: 20px;
          font-weight: 700;
          color: #303030;
          letter-spacing: -0.05em; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .info-box {
          padding-top: 10px;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: #303030; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box {
          padding-top: 30px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container {
            overflow: hidden;
            position: relative;
            padding: 0 27px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-wrapper .swiper-slide .item-wrap {
              border-radius: 4px;
              background: #C7C7C7;
              height: 118px;
              position: relative; }
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-wrapper .swiper-slide .item-wrap img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-wrapper .swiper-slide .ic-close {
              background: url("../img/ic_close.svg") no-repeat center/cover;
              width: 24px;
              height: 24px;
              position: absolute;
              right: 10px;
              top: 10px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-button-prev,
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-button-next {
              margin-top: 0;
              width: 17px;
              height: 118px;
              top: 0; }
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-button-prev:after,
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-button-next:after {
                display: none; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-button-prev {
              background: url("../img/ic_prev.svg") no-repeat top/cover;
              left: 0; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .img-list-box .swiper-container .swiper-button-next {
              background: url("../img/ic_next.svg") no-repeat top/cover;
              right: 0; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box {
          padding-top: 20px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .sing-subject-box .tbox input {
            color: #2E2E2E;
            font-size: 18px;
            letter-spacing: -0.04em;
            width: 100%;
            padding: 20px 16px;
            font-weight: 700;
            outline: none;
            border: 2px solid #19191A;
            border-radius: 3px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .sing-subject-box .tbox input ::placeholder {
              color: #dddddd; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .sing-con-box {
            padding-top: 20px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .sing-con-box .textbox textarea {
              width: 100%;
              height: 500px;
              resize: none;
              padding: 20px 16px;
              font-size: 18px;
              font-weight: 600;
              letter-spacing: -0.04em;
              color: #2E2E2E;
              line-height: 25px;
              border: 2px solid #19191A;
              border-radius: 3px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .upload-btn-box .img-upload {
            max-width: 360px;
            background-color: #000000;
            border-radius: 3px;
            padding: 20px 5px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.03em;
            color: #FFFFff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box + .form-con-box {
            padding-top: 20px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .item-box + .item-box {
            margin-top: 20px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .subject-box {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.05em;
            color: #303030; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .tbox {
            padding-top: 12px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .tbox input {
              font-size: 18px;
              font-weight: 600;
              letter-spacing: -0.04em;
              color: #2E2E2E;
              width: 100%;
              padding: 20px 16px;
              outline: none;
              border: 2px solid #19191A;
              border-radius: 3px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox {
            padding-top: 12px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox .add-box {
              display: flex;
              align-items: center; }
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox .add-box + .add-box {
                padding-top: 12px; }
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox .add-box .tbox {
                padding-top: 0;
                width: 100%; }
                section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox .add-box .tbox input {
                  font-size: 18px;
                  font-weight: 600;
                  letter-spacing: -0.04em;
                  color: #2E2E2E;
                  width: 100%;
                  padding: 20px 16px;
                  outline: none;
                  border: 2px solid #19191A;
                  border-radius: 3px;
                  flex: 1; }
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox .add-box .search-btn-box {
                padding-left: 12px; }
                section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .con-box .form-box .form-wrap .form-con-box .addressbox .add-box .search-btn-box .search-btn {
                  background-color: #000000;
                  width: 284px;
                  padding: 20px 5px;
                  text-decoration: none;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 18px;
                  font-weight: 800;
                  letter-spacing: -0.03em;
                  color: #FFFFff;
                  border-radius: 3px; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box {
          padding-top: 57px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box + .agree-chk-box {
            padding-top: 20px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box .cbox label {
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box .cbox label input[type=checkbox] {
              position: absolute;
              left: -9999px; }
              section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box .cbox label input[type=checkbox]:checked ~ i {
                background: url("../img/ic_chk_on.svg") no-repeat center/cover;
                width: 33px;
                height: 33px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box .cbox i {
            background: url("../img/ic_chk_off.svg") no-repeat center/cover;
            width: 33px;
            height: 33px;
            display: block; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box .cbox .txt {
            padding-left: 10px;
            color: #303030;
            font-size: 18px;
            font-weight: 500;
            line-height: 31px;
            letter-spacing: -1.26px; }
            section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .agree-box .agree-wrap .agree-chk-box .cbox .txt .text-underline {
              font-weight: 700;
              text-decoration-line: underline; }
        section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .send-btn-box {
          padding-top: 75px; }
          section.custom .custom-group .inner .sing-contents .sing-wrap .item-box .send-btn-box .send-btn {
            margin: 0 auto;
            border-radius: 3px;
            background: #000;
            max-width: 360px;
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.54px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 5px; }

/*# sourceMappingURL=style.css.map */