@charset "UTF-8";

$font : 'Pretendard';

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;

}


.wrapper{
	header{
		.header-wrap{
			.header-box{
				background-color: #162955;
				padding: 10px 25px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.header-logo{
					display: flex;
					align-items: center;

					.logo-box{
						width: 213px;
						height: 44px;

						img{
							width: 100%;
						}
					}
					.logo-tit{
						padding-left: 104px;
						display: flex;
						align-items: center;
						.logo-icon-box{
							background: url("../img/ic_panorama.svg")no-repeat center/cover;
							width: 19px;
							height: 18px;
						}
						.logo-tit-txt{
							padding-left: 10px;
							font-size: 18px;
							font-weight: 500;
							color: #FFFFFF;



						}
					}
				}

				.header-option-box{
					display: flex;
					align-items: center;
					.lang-box{
						.lang-tit-box{
							text-decoration: none;
							display: flex;
							align-items: center;
							.tit-txt{
								font-size: 14px;
								font-weight: 400;
								letter-spacing: -0.05em;
								color: #FFFFFF;

							}

							.icon-box{
								margin-left: 18px;
								background: url("../img/ic_logo_arrow.svg")no-repeat center/cover;
								width: 8px;
								height: 4px;

							}
						}
					}

					.login-btn-box {
							margin-left: 50px;
						.login-btn {
							text-decoration: none;
							display: flex;
							align-items: center;
							.txt-box {

								font-size: 14px;
								font-weight: 400;
								letter-spacing: -0.05em;
								color: #FFFFFF;

							}

							.icon-box {
								margin-left: 13px;
								background: url("../img/ic_login.svg") no-repeat center/cover;
								width: 24px;
								height: 24px;

							}

						}
					}
				}
			}

			.header-sub-tit{
				background-color: #162955;
				padding: 5px 33px 12px;
				border-top: 1px solid #37466F;
				.sub-tit{
					font-size: 16px;
					font-weight: 700;
					letter-spacing: -0.05em;
					color: #E5EBFF;
				}

			}
		}
	}

	.login-contents{
		background-color: #EBEFF7;
		min-height: 100vh;
		height: 100dvh;

		.login-inner-wrap{
			padding-top: 153px;

			.login-box{
				width: 820px;
				height: 520px;
				margin: 0 auto;
				display: flex;
				align-items: center;

				.login-img-box{
					width: 416px;
					height: 520px;
					img{
						width: 100%;
						height: 100%;
					}
				}

				.login-form-layout{
					background-color: #fff;
					flex: 1;
					height: 100%;
					padding: 36px 48px 85px;
					.form-wrap{
						.login-subject-box{
							.subject-txt{
								font-size: 28px;
								font-weight: 700;
								color: #1E2431;

							}
						}

						.login-form-box{
							padding-top: 31px;
							.item-box{

								& + .item-box{
									padding-top: 30px;
								}
								.t-txt{
									font-size: 18px;
									font-weight: 400;
									color: #222222;

								}

								.tbox{
									margin-top: 10px;
									input{
										background-color: #fff;
										border-radius: 3px;
										border: 1px solid #C6C6C6;
										width: 100%;
										height: 42px;
										padding: 0 5px;
										color: #000;
										&:focus {outline: none;}


									}
								}
							}

							.login-btn-box{
								padding-top: 52px;
								position: relative;
								.login-btn{
									background-color: #3060EA;
									width: 320px;
									height: 54px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 5px;
									color: #FFFFFF;
									font-size: 20px;
									font-weight: 500;
									letter-spacing: -0.01em;
									text-decoration: none;
									
								}

								.msg-box{
									display: flex;
									align-items: center;
									position: absolute;
									top: 5px;
									.icon-box{
										background: url("../img/ic_warning.svg")no-repeat center/cover;
										width: 22px;
										height: 22px;
									}
									.msg-txt{
										padding-left: 5px;
										font-size: 14px;
										font-weight: 400;
										color: #FF004D;
										letter-spacing: -0.05em;


									}
								}

							}

							.login-option-box{
								display: flex;
								align-items: center;
								justify-content: space-around;
								padding-top: 23px;
								.option-item{

									&+.option-item{
										margin-left: 60px;
										position: relative;
										&:after{
											content: '';
											background-color: #D0D0D0;
											width: 1px;
											height: 22px;
											position: absolute;
											left: -46px;
											top: 1px;
										}
									}
									.option-btn{
										text-decoration: none;
										font-size: 16px;
										font-weight: 400;
										letter-spacing: -0.3px;
										color: #888888;
									}
								}
							}


						}
					}
				}
			}
		}
	}
}