@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.contents {
  height: 100dvh;
  background-color: #1B2333;
  display: flex;
  flex-direction: column; }
  .contents .header-box {
    background-color: #162955; }
    .contents .header-box .top-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 31px; }
      .contents .header-box .top-box .row-box {
        display: flex;
        align-items: center; }
        .contents .header-box .top-box .row-box .item-box + .item-box {
          padding-left: 60px; }
        .contents .header-box .top-box .row-box .item-box .logo-btn {
          display: block;
          width: 213px;
          height: 44px; }
          .contents .header-box .top-box .row-box .item-box .logo-btn img {
            max-width: 100%; }
        .contents .header-box .top-box .row-box .item-box .set-menu-wrap {
          display: flex;
          align-items: center; }
          .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu + .set-menu {
            padding-left: 45px; }
          .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box {
            display: flex;
            align-items: center; }
            .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .ic-panorama {
              background: url("../img/ic_panorama.svg") no-repeat center/cover;
              width: 19px;
              height: 18px; }
            .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .txt {
              padding-left: 8px;
              font-size: 16px;
              font-weight: 500;
              color: #FFFFff; }
            .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .out-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              background-color: #3060EA;
              border-radius: 30px;
              width: 200px;
              height: 40px; }
              .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .out-btn .ic-out {
                background: url("../img/ic_share.svg") no-repeat center/cover;
                width: 20px;
                height: 20px; }
              .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .out-btn .txt {
                padding-left: 8px;
                font-size: 16px;
                font-weight: 500;
                color: #FFFFff; }
            .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .set-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              width: 100px;
              height: 40px; }
              .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .set-btn .ic-set {
                background: url("../img/ic_setting.svg") no-repeat center/cover;
                width: 18px;
                height: 19px; }
              .contents .header-box .top-box .row-box .item-box .set-menu-wrap .set-menu .con-box .set-btn .txt {
                padding-left: 8px;
                font-size: 16px;
                font-weight: 500;
                color: #FFFFff; }
        .contents .header-box .top-box .row-box .login-option-wrap {
          display: flex;
          align-items: center; }
          .contents .header-box .top-box .row-box .login-option-wrap .login-option + .login-option {
            padding-left: 60px;
            position: relative; }
            .contents .header-box .top-box .row-box .login-option-wrap .login-option + .login-option::after {
              content: '';
              background-color: #FFFFff;
              width: 1px;
              height: 20px;
              position: absolute;
              top: 2px;
              left: 26px; }
          .contents .header-box .top-box .row-box .login-option-wrap .login-option .con-box {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 100px; }
            .contents .header-box .top-box .row-box .login-option-wrap .login-option .con-box .txt {
              padding-right: 8px;
              font-size: 16px;
              font-weight: 500;
              color: #FFFFff; }
            .contents .header-box .top-box .row-box .login-option-wrap .login-option .con-box .icon-box.ic-user {
              background: url("../img/ic_user.svg") no-repeat center/cover;
              width: 24px;
              height: 24px; }
            .contents .header-box .top-box .row-box .login-option-wrap .login-option .con-box .icon-box.ic-login {
              background: url("../img/ic_login.svg") no-repeat center/cover;
              width: 24px;
              height: 24px; }
          .contents .header-box .top-box .row-box .login-option-wrap .login-option .select-box select {
            background-color: transparent;
            border: none;
            font-size: 16px;
            font-weight: 500;
            color: #FFFFff;
            cursor: pointer; }
          .contents .header-box .top-box .row-box .login-option-wrap .login-option .select-box option {
            font-size: 16px;
            font-weight: 500;
            color: #FFFFff;
            background-color: #162955; }
    .contents .header-box .bottom-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #37466F;
      padding: 10px 31px; }
      .contents .header-box .bottom-box .row-box .con-box {
        display: flex;
        align-items: center; }
        .contents .header-box .bottom-box .row-box .con-box .sub-tit {
          display: flex;
          align-items: center; }
          .contents .header-box .bottom-box .row-box .con-box .sub-tit .txt {
            font-size: 16px;
            font-weight: 500;
            color: #FFFFff; }
          .contents .header-box .bottom-box .row-box .con-box .sub-tit .tit-arrow {
            padding: 0 8px;
            background: url("../img/ic_arrow.svg") no-repeat center/cover;
            width: 14px;
            height: 14px; }
        .contents .header-box .bottom-box .row-box .con-box .nav-btn-wrap {
          display: flex;
          align-items: center; }
          .contents .header-box .bottom-box .row-box .con-box .nav-btn-wrap .nav-btn {
            background-color: #6393EF;
            border-radius: 3px;
            border: none;
            width: 42px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer; }
            .contents .header-box .bottom-box .row-box .con-box .nav-btn-wrap .nav-btn + .nav-btn {
              margin-left: 10px; }
            .contents .header-box .bottom-box .row-box .con-box .nav-btn-wrap .nav-btn .btn-icon.ic-first {
              background: url("../img/ic_nav_frist.svg") no-repeat center/cover;
              width: 18px;
              height: 9px; }
            .contents .header-box .bottom-box .row-box .con-box .nav-btn-wrap .nav-btn .btn-icon.ic-prev {
              background: url("../img/ic_nav_prev.svg") no-repeat center/cover;
              width: 18px;
              height: 9px; }
        .contents .header-box .bottom-box .row-box .con-box .nav-page-list {
          display: flex;
          align-items: center;
          padding-left: 20px; }
          .contents .header-box .bottom-box .row-box .con-box .nav-page-list .page-item {
            font-size: 16px;
            font-weight: 500;
            color: #FFFFff; }
          .contents .header-box .bottom-box .row-box .con-box .nav-page-list .page-arrow {
            padding: 0 20px;
            background: url("../img/ic_arrow.svg") no-repeat center/cover;
            width: 14px;
            height: 14px; }
  .contents .save-contents .save-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 31px; }
    .contents .save-contents .save-wrap .save-box {
      display: flex;
      align-items: center;
      justify-content: center; }
      .contents .save-contents .save-wrap .save-box + .save-box {
        padding-left: 35px; }
      .contents .save-contents .save-wrap .save-box .input-item {
        display: flex;
        align-items: center;
        justify-content: center; }
        .contents .save-contents .save-wrap .save-box .input-item + .input-item {
          padding-left: 20px; }
        .contents .save-contents .save-wrap .save-box .input-item .txt-box {
          font-size: 15px;
          font-weight: 400;
          color: #FFFFff;
          padding-right: 15px;
          flex-shrink: 0; }
        .contents .save-contents .save-wrap .save-box .input-item .address-box {
          font-size: 15px;
          font-weight: 400;
          color: #FFFFff;
          padding-right: 20px; }
        .contents .save-contents .save-wrap .save-box .input-item .sbox input {
          height: 36px;
          border-radius: 3px;
          border: 1px solid #374971;
          background-color: #1E2431;
          padding: 0 10px;
          width: 100%;
          color: #FFFFff; }
          .contents .save-contents .save-wrap .save-box .input-item .sbox input::placeholder {
            font-size: 15px;
            font-weight: 300;
            color: #FFFFff; }
        .contents .save-contents .save-wrap .save-box .input-item .radio-box {
          display: flex;
          align-items: center;
          justify-content: center; }
          .contents .save-contents .save-wrap .save-box .input-item .radio-box .rbox + .rbox {
            padding-left: 10px; }
          .contents .save-contents .save-wrap .save-box .input-item .radio-box .rbox label {
            display: flex;
            align-items: center;
            justify-content: center; }
          .contents .save-contents .save-wrap .save-box .input-item .radio-box .rbox input[type=radio] {
            position: absolute;
            left: -9999px; }
            .contents .save-contents .save-wrap .save-box .input-item .radio-box .rbox input[type=radio]:checked ~ i {
              background: url("../img/ic_radio_on.svg") no-repeat center/cover; }
          .contents .save-contents .save-wrap .save-box .input-item .radio-box .rbox .txt-box {
            font-size: 15px;
            font-weight: 300;
            color: #FFFFff; }
          .contents .save-contents .save-wrap .save-box .input-item .radio-box .rbox i {
            background: url("../img/ic_radio_off.svg") no-repeat center/cover;
            width: 24px;
            height: 24px; }
        .contents .save-contents .save-wrap .save-box .input-item .pbox input {
          height: 36px;
          border-radius: 3px;
          border: 1px solid #374971;
          background-color: #1E2431;
          padding: 0 10px;
          width: 100%;
          color: #FFFFff; }
      .contents .save-contents .save-wrap .save-box .save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #204F7A;
        border-radius: 3px;
        width: 90px;
        height: 36px;
        border: none;
        cursor: pointer; }
        .contents .save-contents .save-wrap .save-box .save-btn .ic-save {
          background: url("../img/ic_save.svg") no-repeat center/cover;
          width: 16px;
          height: 16px; }
        .contents .save-contents .save-wrap .save-box .save-btn .txt-box {
          font-size: 16px;
          font-weight: 500;
          color: #FFFFff; }
  .contents .view-contents {
    flex: 1; }
    .contents .view-contents .inner {
      position: relative;
      height: 100%; }
      .contents .view-contents .inner .view-box {
        height: 100%; }
        .contents .view-contents .inner .view-box .view-img {
          max-width: 1440px;
          height: 100%;
          display: flex; }
          .contents .view-contents .inner .view-box .view-img img {
            width: 100%;
            height: 100%; }
      .contents .view-contents .inner .icon-list .icon-pick {
        position: absolute;
        transform: translate(-50%, -50%); }
        .contents .view-contents .inner .icon-list .icon-pick .icon-wrap {
          position: relative;
          display: flex; }
          .contents .view-contents .inner .icon-list .icon-pick .icon-wrap:hover {
            cursor: pointer; }
            .contents .view-contents .inner .icon-list .icon-pick .icon-wrap:hover .icon-menu {
              display: block; }
          .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-btn .ic {
            display: block; }
            .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-btn .ic.ic-blue {
              background: url("../img/ic_blue.svg") no-repeat center/cover;
              width: 32px;
              height: 32px; }
            .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-btn .ic.ic-red {
              background: url("../img/ic_red.svg") no-repeat center/cover;
              width: 32px;
              height: 32px; }
          .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-menu {
            display: none;
            padding-right: 15px;
            z-index: 100;
            position: absolute;
            right: 30px;
            top: 0; }
            .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-menu .menu-list {
              background-color: rgba(255, 255, 255, 0.8);
              border: 1px solid rgba(0, 0, 0, 0.2);
              border-radius: 5px;
              padding: 3px 0; }
              .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-menu .menu-list .menu-item {
                padding: 5px; }
                .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-menu .menu-list .menu-item:hover {
                  background-color: #3060EA; }
                  .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-menu .menu-list .menu-item:hover .menu-btn {
                    color: #fff; }
                .contents .view-contents .inner .icon-list .icon-pick .icon-wrap .icon-menu .menu-list .menu-item .menu-btn {
                  font-size: 15px;
                  font-weight: 500;
                  letter-spacing: -0.03em;
                  color: #1E2431;
                  text-decoration: none;
                  white-space: nowrap; }
      .contents .view-contents .inner .left-side-tab {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #1C2026; }
        .contents .view-contents .inner .left-side-tab .side-btn-box {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #1C2026;
          width: 24px;
          height: 82px;
          border-radius: 0 3px 3px 0;
          position: absolute;
          right: -24px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer; }
          .contents .view-contents .inner .left-side-tab .side-btn-box .side-btn {
            background: url("../img/ic_sub_tit_off.svg") no-repeat center/cover;
            width: 5px;
            height: 10px; }
        .contents .view-contents .inner .left-side-tab .side-tab-contents {
          width: 360px; }
          .contents .view-contents .inner .left-side-tab .side-tab-contents.hidden {
            width: 0;
            overflow: hidden; }
          .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-btn-wrap {
            display: flex;
            align-items: center;
            justify-content: center; }
            .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-btn-wrap .btn {
              font-size: 18px;
              font-weight: 500;
              color: #FFFFFF;
              background-color: #1D2942;
              border: none;
              width: 50%;
              height: 42px;
              cursor: pointer; }
              .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-btn-wrap .btn.active {
                background-color: #3060EA; }
          .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content {
            display: none; }
            .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content.show {
              display: block; }
            .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner {
              color: #ffffff; }
              .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap {
                padding: 5px; }
                .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table {
                  width: 100%;
                  border-spacing: 0; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table thead {
                    background-color: #23304B; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table tbody .chk-box {
                    text-align: center; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table tbody .icon-box {
                    display: flex;
                    justify-content: center; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table tbody .icon-box .ic-star {
                      background: url("../img/ic_star.svg") no-repeat center/cover;
                      width: 21px;
                      height: 21px; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table tbody .icon-box .ic-triangle {
                      background: url("../img/ic_triangle.svg") no-repeat center/cover;
                      width: 21px;
                      height: 21px; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table tbody .icon-box .del-btn {
                      background: url("../img/ic_del.svg") no-repeat center/cover;
                      width: 21px;
                      height: 21px; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .table-wrap table tbody .txt {
                    font-size: 14px;
                    color: #fff;
                    text-align: center; }
              .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap {
                align-items: center;
                justify-content: center;
                flex-flow: column;
                padding: 5px;
                display: flex;
                gap: 20px; }
                .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box {
                  border-radius: 3px;
                  position: relative;
                  overflow: hidden;
                  border: 2px solid transparent; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box:hover {
                    border: 2px solid #3e7bfa; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box:hover .overlay-wrap {
                      display: block; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .img-box {
                    max-width: 260px;
                    height: 162px; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .img-box img {
                      width: 100%; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .img-box .badge {
                      position: absolute;
                      top: 12px;
                      right: 12px;
                      padding: 4px 12px;
                      border-radius: 12px;
                      font-size: 13px;
                      font-weight: 500; }
                      .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .img-box .badge.published {
                        border: 1px solid #fff;
                        background: #3e7bfa;
                        color: #fff; }
                      .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .img-box .badge.unpublished {
                        border: 1px solid #9EA6BA;
                        background: #3d4150;
                        color: #b0b3bb; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .con-box {
                    background-color: #232837;
                    font-weight: 400;
                    font-size: 13px;
                    padding: 10px; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .con-box .subject-box {
                      font-weight: 500;
                      font-size: 16px; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .list-view-box .con-box .desc-box {
                      display: flex;
                      justify-content: space-between; }
                  .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                    background-color: rgba(0, 9, 28, 0.8); }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-wrap {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex-flow: row wrap;
                      height: 144px; }
                      .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-wrap .option-btn-box {
                        width: 50%; }
                        .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-wrap .option-btn-box:hover {
                          background-color: #3060EA; }
                        .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-wrap .option-btn-box .option-btn {
                          font-size: 15px;
                          font-weight: 500;
                          color: #fff;
                          text-decoration: none;
                          height: 38px;
                          display: flex;
                          align-items: center;
                          justify-content: center; }
                    .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-toggle {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      min-height: 87px;
                      margin-top: 18px;
                      border-top: 1px solid rgba(255, 255, 255, 0.15); }
                      .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-toggle .txt-box {
                        font-size: 16px;
                        font-weight: 500;
                        color: #E5EBFF;
                        letter-spacing: -0.01em;
                        padding-right: 10px; }
                      .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-toggle label {
                        display: flex; }
                        .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-toggle label input[type=checkbox] {
                          position: absolute;
                          left: -9999px; }
                          .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-toggle label input[type=checkbox]:checked ~ .ic-toggle {
                            background: url("../img/ic_toggle_on.svg") no-repeat center/cover; }
                      .contents .view-contents .inner .left-side-tab .side-tab-contents .tab-contents .tab-content .inner .panorama-list-wrap .list-item-box .overlay-wrap .inner .option-toggle .ic-toggle {
                        background: url("../img/ic_toggle_off.svg") no-repeat center/cover;
                        width: 48px;
                        height: 22px;
                        cursor: pointer; }

/*# sourceMappingURL=style.css.map */