@charset "utf-8";


$font : 'Pretendard'; // 변수를 지정

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}




// 모바일
@mixin m{
	@media (max-width: 375px) {
		@content
	}
}


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font;

}


section.custom{
	background: url("../img/img_bg.png") repeat top/ auto auto;

	.custom-group{
		background: url("../img/img_tit_bg.png") no-repeat top center / 994px 515px;
		padding-top: 61px;



		.inner{
			max-width: 995px;
			margin: 0 auto;


			.custom-tit-box{
				max-width: 488px;
				margin: 0 auto;
				img{
					width: 100%;
				}
			}

			.step-content{
				padding: 75px 0 165px;
				.step-wrap{
					max-width: 700px;
					margin: 0 auto;
					.step-box{

						& + .step-box{
							padding-top: 56px;
						}
						.step-tit-box{
							color: #303030;
							font-size: 20px;
							font-weight: 700;
							line-height: 31px;
							letter-spacing: -1px;



						}

						.msg-box{
							color: #303030;
							font-size: 20px;
							font-weight: 500;
							line-height: 31px;
							letter-spacing: -1px;
						}
						.img-upload{
							padding-top: 20px;
							.upload-btn{
								display: flex;
								width: 360px;
								height: 60px;
								padding: 20px 0px 19px 0px;
								justify-content: center;
								align-items: center;
								border-radius: 3px;
								background: #000;
								color: #FFF;
								font-size: 18px;
								font-weight: 700;
								letter-spacing: -0.54px;
								text-decoration: none;
							}
						}
						.con-box{
							padding-top: 20px;

							.item-box{

								& + .item-box{
									padding-top: 20px;
								}

								.subject-box{
									color: #303030;
									font-size: 20px;
									font-weight: 500;
									line-height: 31px;
									letter-spacing: -1px;
								}

								.input-wrap{
									padding-top: 12px;
								}
								.add-wrap{
									display: flex;
									align-items: center;
									.tbox{
										flex: 1;
										width: 100%;

									}

									.add-box{
										padding-left: 12px;

										.add-btn{
											color: #FFF;
											font-size: 18px;
											font-weight: 700;
											letter-spacing: -0.54px;
											border-radius: 3px;
											background: #000;
											width: 284px;
											height: 65px;
											padding: 23px 2px;
											display: flex;
											align-items: center;
											justify-content: center;
											text-decoration: none;
										}

									}
								}

								.tbox{

									input{
										width: 100%;
										height: 65px;
										padding: 20px 16px;
										color: #2E2E2E;
										font-size: 18px;
										font-weight: 600;
										line-height: 25px;
										letter-spacing: -0.72px;
										border-radius: 3px;
										border: 2px solid #19191A;
										background:  #FFF;

									}
								}

								.textbox{

									textarea{
										width: 100%;
										height: 500px;
										padding: 20px 16px;
										color: #2E2E2E;
										font-size: 18px;
										font-weight: 600;
										line-height: 25px;
										letter-spacing: -0.72px;
										resize:none;
										border-radius: 3px;
										border: 2px solid #19191A;
										background: var(--00_ffffff, #FFF);

									}
								}
							}

							.swiper-container{
								.swiper-wrapper{
									.swiper-slide{

										.item-wrap{
											.ic-close{
											}
										}
									}
								}
							}
						}

						.agree-box{
							padding-top: 57px;
							.agree-btn-box {

								& + .agree-btn-box {
									padding-top: 20px;
								}

								.chk-box{
									label{
										cursor: pointer;
										width: 100%;
										display: flex;
										align-items: center;

										input[type=checkbox]{
											position: absolute;
											left: -9999px;

											&:checked{
												& ~ i{
													background: url("../img/ic_chk_on.svg")no-repeat center/cover;
													width: 33px;
													height: 33px;
												}
											}

										}

									}

									i{
										background: url("../img/ic_chk_off.svg")no-repeat center/cover;
										width: 33px;
										height: 33px;
										display: block;
									}


									.txt{
										padding-left: 10px;
										color: #303030;
										font-size: 18px;
										font-style: normal;
										font-weight: 500;
										line-height: 31px;
										letter-spacing: -1.26px;
										.strong{
											font-weight: 700;
											text-decoration-line: underline;
										}

									}
								}
							}

							.sing-box{
								padding-top: 76px;




								.sing-btn{
									margin: 0 auto;
									border-radius: 3px;
									background: #000;
									display: flex;
									width: 360px;
									height: 60px;
									padding: 20px 0px 19px 0px;
									justify-content: center;
									align-items: center;
									text-decoration: none;
									color: #FFF;
									font-size: 18px;
									font-weight: 700;
									letter-spacing: -0.54px;
								}
							}

						}
					}

				}
			}

		}
	}
}
