
*{
	padding: 0;
	margin: 0;
}


.map-container{
	.map-inner{
		position: relative;

		.map-wrap{
			.map-btn-list{
				position: absolute;
				top: 21px;
				right: 18px;
				.map-btn{
					height: 42px;
					width: 42px;
					cursor: pointer;
					border: 0;
					background-color: transparent;
					display: flex;
					flex-flow: column;

					& + .map-btn{
						margin-top: 10px;
					}

					&.active{
						border: 2px solid #3060EA;
						border-radius: 3px;
					}




					img{
						width: 100%;

					}

				}
			}

			.map-img-box{
				.map-con{
					width: 100%;
					height: 100%;
					margin: 0 auto;
					overflow: hidden;

					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					&.is-hidden{
						display: none;
					}
				}
			}
		}

		//.side-slide-container{
		//	position: absolute;
		//	left:0;
		//	top:0;
		//	bottom:0;
		//	width: 500px;
		//	background-color: #0f1825;
		//	transition:width 0.3s linear;
		//
		//	&.is-hide{
		//		width: 0;
		//	}
		//
		//	.menu-bar{
		//		position: absolute;
		//		top: 155px;
		//		right:-24px;
		//		width: 24px;
		//		height: 82px;
		//		background-color: #0F1825;
		//		border-radius: 0 5px 5px 0;
		//		cursor: pointer;
		//		border: none;
		//
		//		.bar-icon{
		//			position: relative;
		//			&:after{
		//				content: '';
		//				display: block;
		//				background: url("../img/ic_slide_open.svg")no-repeat center/cover;
		//				width: 5px;
		//				height: 10px;
		//				right: -2px;
		//				top: -6px;
		//				position: absolute;
		//			}
		//		}
		//	}
		//
		//	.side-slide-wrap{
		//		position: relative;
		//		width: 100%;
		//		height: 100%;
		//
		//		.slide-inner{
		//			width: 100%;
		//			height: 100%;
		//			padding: 21px 20px;
		//			box-sizing: border-box;
		//			background-color: #0F1825;
		//
		//			.tab-btn-wrap{
		//				display: flex;
		//				border-radius: 5px;
		//				overflow: hidden;
		//
		//
		//				.tab-btn-box{
		//					background-color: #1D2942;
		//					width: 50%;
		//					height: 42px;
		//					cursor: pointer;
		//					border: none;
		//
		//					&.active{
		//						background-color: #3060EA;
		//					}
		//
		//					.con-box{
		//						display: flex;
		//						justify-content: center;
		//
		//
		//						.list-icon{
		//							display: block;
		//							background: url("../img/ic_list.svg")no-repeat center / cover;
		//							width: 20px;
		//							height: 20px;
		//						}
		//						.write-icon{
		//							display: block;
		//							background: url("../img/ic_write.svg")no-repeat center / cover;
		//							width: 20px;
		//							height: 20px;
		//						}
		//
		//
		//						.txt-box{
		//							margin-left: 12px;
		//							font-size: 18px;
		//							font-weight: 600;
		//							color: #FFFFff;
		//							line-height: 20px;
		//
		//						}
		//					}
		//				}
		//			}
		//		}
		//	}
		//}


		.side-slide-container{
			position: absolute; //지도 위에 띄워야 하니까 absolute로 주기
			left:0; // 왼쪽 기준으로
			top:0; //위 기준으로
			bottom:0; // 아래 기준으로
			width: 500px;
			background-color: #0f1825;
			transition:width 0.3s linear; // 너비만큼 3초 동안 펼쳐지기

			&.is-hide{
				width: 0;
			}

			.toggle-box{
				position: absolute; //토글 띄우기
				top: 155px;
				right: -24px; //0이면 side-slide-container안에 들어가니까 -로 줘서 왼쪽으로 나오게 값 주기
				width: 24px;
				height: 82px;
				background-color: #0F1825;
				border-radius: 0 5px 5px 0;
				cursor: pointer;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				.toggle-icon{
					display: block;
					background: url("../img/ic_slide_open.svg")no-repeat center/cover;
					width: 5px;
					height: 10px;
					transition: transform 0.5s linear; // 5초 동안 일정한 속도로 애니매에션 작동

					&.close{
						background: url("../img/ic_slide_close.svg")no-repeat center/cover;
						transform: rotate(360deg); //시계방향으로 360도 회전
					}
				}
			}

			.side-slide-wrap {
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
	}
}