@charset "UTF-8";

$font : 'Pretendard';

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

.wrapper{
	min-height: 100dvh;
	display: flex;
	flex-flow: column;
	background-color: #EBEFF7;

	header{
		background-color: #162955;
		.main-box{
			padding: 10px 33px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.header-box{
				display: flex;
				align-items: center;
				h1{
					.logo-box{
						display: block;
						width: 212px;
						height: 44px;

						img{
							width: 100%;
						}
					}
				}

				.main-tit{
					display: flex;
					align-items: center;
					padding-left: 50px;
					.icon{
						display: block;
						background: url("../img/ic_panorama.svg") no-repeat center/cover;
						width: 19px;
						height: 18px;

					}

					.txt{
						padding-left: 10px;
						font-size: 16px;
						font-weight: 400;
						color: #FFFFFF;
					}
				}

				.option-box{
					display: flex;
					align-items: center;

					& + .option-box{
						position: relative;

						&:after{
							content: '';
							position: absolute;
							width: 1px;
							height: 19px;
							top: 3px;
							left: 20px;
							background-color: #eeeeee;
						}

					}
					.lang-box{
						display: flex;
						align-items: center;
						text-decoration: none;
						.txt{
							font-size: 16px;
							font-weight: 400;
							color: #FFFFFF;

						}

						.icon{
							margin-left: 5px;
							display: block;
							background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
							width: 8px;
							height: 4px;

						}
					}

					.login-box{
						display: flex;
						align-items: center;
						padding-left: 50px;
						text-decoration: none;
						.txt{
							font-size: 16px;
							font-weight: 400;
							color: #FFFFFF;

						}

						.icon{
							margin-left: 5px;
							display: block;
							background: url("../img/ic_login.svg") no-repeat center/cover;
							width: 24px;
							height: 24px;

						}
					}
				}
			}
		}
		.sub-box{
			padding: 10px 33px;
			border-top: 1px solid #eeeeee;
			.txt{
				font-size: 16px;
				font-weight: 700;
				color: #FFFFFF;

			}
		}
	}

	.content{
		min-height: 0;
		flex: 1;
		padding-top: 153px;
		display: flex;
		justify-content: center;
		.in  ner{
			width: 820px;
			height: 520px;


			.login-form-layout{
				display: flex;
				align-content: center;
				.login-img-box{
					width: 416px;
					height: 520px;
					.img-box{
						background: url(../img/login_img.png) no-repeat center / cover;
						height: 100%;
					}
				}

				.login-form-box{
					background-color: #fff;
					height: 100%;
					padding: 48px 41px;
					flex: 1;
					position: relative;


					.login-tit {
						font-size: 28px;
						font-weight: 700;
						color: #1E2431;
					}

					.login-form-list{
						padding-top: 31px;
						.item-box{

							& + .item-box{
								padding-top: 25px;
							}
							.subject-box{
								font-size: 18px;
								font-weight: 400;
								letter-spacing: -0.03em;
								color: #222222;
							}



							.tbox{
								input{
									width: 100%;
									height: 45px;
									border: 1px solid #dddddd;
									border-radius: 5px;

								}
							}
						}
					}
				}
			}

		}
	}
}


