@charset "UTF-8";

$font : 'Pretendard';

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}


.wrapper{
	display: flex;
	flex-flow: column;
	min-height: 100dvh;
	header{
		background-color: #162955;
		.main-box{
			padding: 10px 33px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.header-box{
				display: flex;
				align-items: center;
				h1{
					.logo-box{
						display: block;
						width: 213px;
						height: 44px;
						img{
							width: 100%;
						}
					}
				}

				.tit-box{
					padding-left: 50px;
					display: flex;
					align-items: center;
					.icon-box{
						display: block;
						background: url("../img/ic_panorama.svg")no-repeat center/cover;
						width: 19px;
						height: 18px;

					}

					.txt-box{
						padding-left: 10px;
						padding-left: 5px;
						font-size: 16px;
						font-weight: 400;
						color: #FFFFFF;
					}
				}

				.lang-btn-box{
					text-decoration: none;
					display: flex;
					align-items: center;
					.txt-box{
						font-size: 16px;
						font-weight: 400;
						color: #FFFFFF;

					}
					.icon-box{
						display: block;
						margin-left: 10px;
						background: url("../img/ic_logo_arrow.svg")no-repeat center/cover;
						width:8px;
						height: 4px;
					}
				}


				.login-btn-box{
					padding-left: 40px;
					text-decoration: none;
					display: flex;
					align-items: center;
					position: relative;


					&:after{
						content: '';
						width: 1px ;
						height: 20px;
						background-color: #eeeeee;
						position: absolute;
						top: 4px;
						left: 22px;
					}
					.txt-box{
						font-size: 16px;
						font-weight: 400;
						color: #FFFFFF;

					}
					.icon-box{
						display: block;
						margin-left: 10px;
						background: url("../img/ic_login.svg")no-repeat center/cover;
						width: 24px;
						height: 24px;
					}
				}


			}
		}


		.sub-box {
			padding: 10px 33px;
			border-top: 1px solid #dddddd;
			.txt-box{
				font-size: 16px;
				font-weight: 700;
				color: #FFFFFF;

			}
		}
	}

	.content{
		display: flex;
		flex: 1;
		min-height: 0;
		background-color: #EBEFF7;
		padding-top: 57px;
		.content-inner{

			margin: 0 auto;
			width: 1024px;
			background-color: #FFFFFF;
			padding: 41px 45px;


			.tit-box{
				font-size: 28px;
				font-weight: 700;
				color: #000;

			}

			.form-wrap{
				width: 472px;
				margin: 0 auto;
				padding-top: 46px;
				top: 46px;
				.item-box{
					padding-bottom: 52px;
					position: relative;
					.label-box{
						display: flex;
						align-items: center;
						padding-bottom: 7px;
						.txt-box{
							font-size: 16px;
							font-weight: 400;
							color: #000;

						}

						.msg2-box{
							padding-left: 10px;
							font-size: 12px;
							font-weight: 400;
							color: #0085FF

						}
					}

					.tbox{

						input{
							width: 100%;
							height: 42px;
							border-radius: 3px;
							border: 1px solid #dddddd;
							padding: 0 5px;
							&:focus{
								outline: none;
								background-color: #EBEFF7;
							}

						}
					}

					.msg-box{
						display: flex;
						align-items: center;
						position: absolute;
						bottom: 25px;
						left:0;
						.icon{
							display: block;
							background:url("../img/ic_warning.svg")no-repeat center/cover;
							width: 22px;
							height: 22px;

						}

						.txt{
							font-size: 12px;
							font-weight: 400;
							color: red;

						}
					}

					.tbox-wrap{
						display: flex;
						align-items: center;

						.dot{
							padding: 0 5px;
						}

						.sbox{
							padding-left: 10px;
							select{
								width: 140px;
								height: 42px;
								border-radius: 3px;
								border: 1px solid #dddddd;
								appearance: none;
								background: url("../img/ic_sbox_arrow.svg")no-repeat right 8px center;
								padding: 0 5px;

								&:focus{
									outline: none;
								}
							}
						}

						.tbox{
							width: 100%;
						}

						.send1-btn-box{
							padding-left: 5px;
							.send1-btn{
								text-decoration: none;
								background-color: #D8D8D8;
								width: 100px;
								height: 42px;
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: 16px;
								font-weight: 400;
								color: #222222;
							}
						}
					}

					.send-btn-box{
						padding-top: 10px;
						.send-btn{
							text-decoration: none;
							background-color: #D8D8D8;
							width: 100%;
							height: 42px;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 16px;
							font-weight: 400;
							color: #222222;

						}
					}



				}
			}

			.option-btn-box{
				display: flex;
				align-items: center;
				justify-content: center;
				border-top: 1px solid #dddddd;
				padding-top: 35px;

				.btn-box{

					& + .btn-box{
						padding-left: 30px;
					}
					.btn{
						width: 212px;
						height: 54px;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: #FFFFFF;
						font-size: 20px;
						font-weight: 500;
						text-decoration: none;
						background-color: #3060EA;
						&.type-close{
							background-color: #3E4E75;
							
						}
					}
				}
			}

		}
	}
}

