@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column; }
  .wrapper header .header-wrap {
    background-color: #162955; }
    .wrapper header .header-wrap .header-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 25px; }
      .wrapper header .header-wrap .header-box .item-box {
        display: flex;
        align-items: center; }
        .wrapper header .header-wrap .header-box .item-box .logo-box {
          width: 213px;
          height: 44px; }
          .wrapper header .header-wrap .header-box .item-box .logo-box img {
            width: 100%; }
        .wrapper header .header-wrap .header-box .item-box .header-tit-box {
          padding-left: 50px;
          display: flex;
          align-items: center; }
          .wrapper header .header-wrap .header-box .item-box .header-tit-box .icon-box {
            background: url("../img/ic_panorama.svg") no-repeat center/cover;
            width: 19px;
            height: 18px; }
          .wrapper header .header-wrap .header-box .item-box .header-tit-box .tit-txt-box {
            padding-left: 15px;
            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF; }
        .wrapper header .header-wrap .header-box .item-box .lang-box {
          text-decoration: none;
          display: flex;
          align-items: center; }
          .wrapper header .header-wrap .header-box .item-box .lang-box .lang-txt-box {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            padding-right: 10px; }
          .wrapper header .header-wrap .header-box .item-box .lang-box .icon-box {
            background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
            width: 8px;
            height: 4px; }
        .wrapper header .header-wrap .header-box .item-box .login-btn-box {
          text-decoration: none;
          display: flex;
          align-items: center;
          padding-left: 60px;
          position: relative; }
          .wrapper header .header-wrap .header-box .item-box .login-btn-box:after {
            content: '';
            width: 1px;
            height: 20px;
            background-color: #D0D0D0;
            position: absolute;
            left: 32px;
            top: 3px; }
          .wrapper header .header-wrap .header-box .item-box .login-btn-box .btn-txt-box {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            padding-right: 10px; }
          .wrapper header .header-wrap .header-box .item-box .login-btn-box .icon-box {
            background: url("../img/ic_login.svg") no-repeat center/cover;
            width: 24px;
            height: 24px; }
    .wrapper header .header-wrap .header-sub-box {
      padding: 10px 25px;
      border-top: 1px solid #37466F; }
      .wrapper header .header-wrap .header-sub-box .sub-tit-box {
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: -0.05em; }
  .wrapper .contents {
    background-color: #EBEFF7;
    min-height: 0;
    flex: 1; }
    .wrapper .contents .contents-inner {
      padding-top: 153px;
      display: flex;
      justify-content: center; }
      .wrapper .contents .contents-inner .login-wrap {
        display: flex;
        justify-content: center;
        width: 820px;
        height: 520px; }
        .wrapper .contents .contents-inner .login-wrap .con-box {
          width: 100%;
          display: inline-flex; }
          .wrapper .contents .contents-inner .login-wrap .con-box .login-img-box {
            background-color: #f9f9f9;
            width: 416px;
            height: 520px;
            display: flex; }
            .wrapper .contents .contents-inner .login-wrap .con-box .login-img-box img {
              max-width: 100%; }
          .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box {
            flex: 1;
            padding: 48px 38px 48px;
            background-color: #FFFFFF; }
            .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .tit-box {
              font-size: 28px;
              font-weight: 700;
              color: #1E2431; }
            .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box {
              padding-top: 31px; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box + .item-box {
                padding-top: 25px;
                position: relative; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .t-box {
                font-size: 18px;
                font-weight: 400;
                color: #222222;
                letter-spacing: -0.03px; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .tbox {
                padding-top: 7px; }
                .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .tbox input {
                  width: 100%;
                  height: 42px;
                  padding: 0 10px;
                  border-radius: 3px;
                  border: 1px solid #C6C6C6; }
                  .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .tbox input:focus {
                    outline: none; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .msg-box {
                position: absolute;
                top: 104px;
                display: flex;
                align-items: center; }
                .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .msg-box .icon-box {
                  background: url("../img/ic_warning.svg") no-repeat center/cover;
                  width: 18px;
                  height: 17px; }
                .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .form-box .item-box .msg-box .txt-box {
                  padding-left: 8px;
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: -0.05em;
                  color: #FF004D; }
            .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .login-btn-box {
              padding-top: 52px; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .login-btn-box .login-btn {
                text-decoration: none;
                border-radius: 5px;
                background-color: #3060EA;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: -0.01em;
                color: #FFFFFF;
                width: 100%;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center; }
            .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .option-box {
              display: flex;
              align-items: center;
              justify-content: space-around;
              padding-top: 25px; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .option-box .item-box + .item-box {
                position: relative; }
                .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .option-box .item-box + .item-box:after {
                  content: '';
                  width: 1px;
                  height: 20px;
                  background-color: #D0D0D0;
                  position: absolute;
                  left: -28px;
                  top: 3px; }
              .wrapper .contents .contents-inner .login-wrap .con-box .login-layout-box .layout-inner .option-box .item-box .item-txt-box {
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #888888; }

/*# sourceMappingURL=style2.css.map */