@charset "UTF-8";

$font : 'Pretendard';

@each $font-size in R, M, B, SB{

	@font-face{
		font-family: $font;
		src: url("../fonts/#{$font}-#{$font-size}.woff") format('woff');


		@if $font-size == R {
			font-weight: 400;
		}

		@else if $font-size == M {
			font-weight: 500;
		}

		@else if $font-size == B {
			font-weight: 700;
		}

		@else if $font-size == SB {
			font-weight: 800;
		}

		font-style:normal;
	}
}


*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}



.wrapper{
	min-height: 100dvh;
	display: flex;
	flex-flow: column;
	 
	header{
		background-color: #162955;

		.top-box{
			padding: 13px 33px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.header-box{
				display: flex;
				align-items: center;

				.logo-box{
					display: flex;
					align-items: center;

					.logo{
						width: 213px;
						height: 44px;
						img{
							width: 100%;
							height: 100%;
						}
					}
				}
				.header-tit-box{
					padding-left: 70px;
					display: flex;
					align-items: center;
					.icon{
						background: url("../img/ic_panorama.svg")no-repeat center/cover;
						width: 19px;
						height: 18px;
					}

					.txt-box{
						padding-left: 10px;
						font-size: 16px;
						font-weight: 400;
						color: #FFFFff;

					}
				}


				.header-option-box{

					& + .header-option-box{
						padding-left: 50px;
						position: relative;

						&:after{
							content: '';
							width: 1px;
							height: 20px;
							background-color: #fff;
							position: absolute;
							top: 3px;
							left: 27px;
						}
					}
					.btn-box{
						text-decoration: none;
						display: flex;
						align-items: center;

						.txt-box{
							font-size: 14px;
							font-weight: 400;
							color: #ffffff;
							padding-right: 10px;
						}

						.icon{
							&.type-lang{
								background: url("../img/ic_logo_arrow.svg")no-repeat center/cover;
								width: 8px;
								height: 4px;
							}

							&.type-login{
								background: url("../img/ic_login.svg")no-repeat center/cover;
								width: 24px;
								height: 24px;
							}

						}
					}

				}


			}
		}

		.bottom-box{
			padding: 13px 30px;
			border-top: 1px solid #FFFFff;
			.txt-box{

				font-size: 16px;
				font-weight: 400;
				color: #FFFFff;
			}
		}
	}

	.contents{
		background-color: #EBEFF7;
		flex: 1;
		min-height: 0;

			.inner{
				padding: 57px 0;

				.agree-layout-wrap{
					background-color: #fff;
					width: 1024px;
					margin: 0 auto;
					padding: 41px 45px 63px;
					.item-box{

						& + .item-box{
							padding-top: 38px;
						}
						.item-subject-txt-box{
							.subject-txt{
								font-size: 20px;
								font-weight: 700;
								color: #222222;
							}
						}

						.con-box{
							padding-top: 27px;
							.agree-wrap{
								.agree-checkbox-list{
									.agree-chk-box{
										border-bottom: 1px solid #D0D0D0;
										padding: 20px 0;

										.agree-box{
											display: flex;
											align-items: center;
											justify-content: space-between;


											label{
												display: flex;
												align-items: center;
												cursor: pointer;

												input[type="checkbox"]{
													position: absolute;
													width: 0;
													height: 0;
													opacity: 0;
												}

												.chkeckicon{
													position: relative;
													background: url("../img/ic_agree_off.svg")no-repeat center/cover;
													width: 22px;
													height: 22px;
													display: inline-flex;
												}

												.txt-box{
													font-size: 20px;
													font-weight: 400;
													color: #222222;
													padding-left: 10px;
												}

												input[type="checkbox"]:checked + .chkeckicon{
													background: url("../img/ic_agree_on.svg")no-repeat center/cover;
												}
											}

											button{
												font-size: 16px;
												font-weight: 400;
												color: #222222;
												border-radius: 3px;
												border: 1px solid #C4C4C4;
												background-color: #FFFFff;
												height: 32px;
												width: 100px;
												cursor: pointer;


											}
										}

										.terms{
											display: none;
											margin-top: 20px;
											background-color: #F3F3F3;
											padding: 26px 25px 0;
											overflow-y: auto;
											height: 280px;


										}
									}

								}
							}

							.form-wrap{
								border-bottom: 1px solid #D0D0D0;
								.form-inner{
									margin: 0 auto;
									width: 472px;
									.form-box{

										padding-bottom: 23px;


										.tit-box{
											padding-bottom: 7px;
											display: flex;
											align-items: center;


											.txt-box{
												font-size: 16px;
												font-weight: 400;
												color: #222222;
											}

											.desc-box{
												padding-left: 10px;
												font-size: 12px;
												font-weight: 400;
												color: #0085FF;
											}
										}
										.form-layout-box{
											display: flex;
											align-items: center;

											.tbox{
												width: 100%;
												input{
													width: 100%;
													border-radius: 3px;
													border: 1px solid #C6C6C6;
													height: 42px;
													padding: 0 5px;

													&:focus{
														outline: none;
													}

												}
											}


											.email-box{
												display: flex;
												align-items: center;

												.dot-box{
													font-size: 16px;
													font-weight: 400;
													color: #555555;
													padding: 0 5px  ;

												}
											}

											.ebox{
												padding-left: 8px;
												select{
													width: 140px;
													border-radius: 3px;
													border: 1px solid #C6C6C6;
													height: 42px;
													padding: 0 5px;
													option{
													}

												}
											}

											.overlap-btn-box{
												padding-left: 8px;
												.overlap-btn{
													font-size: 16px;
													font-weight: 400;
													color: #222222;
													width: 100px;
													height: 42px;
													display: flex;
													align-items: center;
													justify-content: center;
													border-radius: 3px;
													background-color: #F3F3F3;
													text-decoration: none;
												}
											}
										}

										.send-btn-box{
											padding-top: 11px;
											.send-btn{
												display: flex;
												align-items: center;
												justify-content: center;
												width: 100%;
												height: 42px;
												border-radius: 3px;
												background-color: #F3F3F3;
												font-size: 16px;
												font-weight: 400;
												color: #222222;
												text-decoration: none;

											}
										}

										.msg-box{
											height: 24px;
											display: flex;
											align-items: center;
											position: relative;
											top: 0;
											left: 0;
											.icon{
												background: url("../img/ic_warning.svg")no-repeat center/cover;
												width: 22px;
												height: 22px;

											}

											.txt-box{

												color: #FF004D;
												font-size: 12px;
												font-weight: 400;


											}
										}
									}
								}
							}
						}



						.agree-send-wrap{
							display: flex;
							align-items: center;
							justify-content: center;


							.agree-send-box{

								& + .agree-send-box{
									padding-left: 30px;
								}

								.send-btn{
									background-color: #3E4E75;
									font-size: 20px;
									font-weight: 400;
									border-radius: 5px;
									height: 54px;
									width: 212px;
									display: flex;
									align-items: center;
									justify-content: center;
									text-decoration: none;
									color: #FFFFff;

									&.c-blue{
										background-color: #3060EA;

									}
								}
						}

						}
					}
				}
			}
	}
}