@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

html {
  height: 100%; }

body {
  height: 100%; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.wrapper {
  height: 100%; }
  .wrapper header .header-wrap .header-group {
    background-color: #162955;
    padding: 10px 25px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrapper header .header-wrap .header-group .header-box {
      display: flex;
      align-items: center; }
      .wrapper header .header-wrap .header-group .header-box .logo-box .logo-btn-box {
        display: block;
        background: url("../img/img_logo.svg") no-repeat center/cover;
        width: 213px;
        height: 44px; }
      .wrapper header .header-wrap .header-group .header-box .tit-box {
        padding-left: 104px;
        display: flex;
        align-items: center; }
        .wrapper header .header-wrap .header-group .header-box .tit-box .icon-box {
          background: url("../img/ic_panorama.svg") no-repeat center/cover;
          width: 19px;
          height: 18px; }
        .wrapper header .header-wrap .header-group .header-box .tit-box .tit-txt {
          padding-left: 14px;
          font-size: 18px;
          font-weight: 500;
          color: #FFFFFF; }
    .wrapper header .header-wrap .header-group .menu-box {
      display: flex;
      align-items: center; }
      .wrapper header .header-wrap .header-group .menu-box .menu ul {
        list-style-type: none; }
        .wrapper header .header-wrap .header-group .menu-box .menu ul li {
          float: left;
          position: relative; }
          .wrapper header .header-wrap .header-group .menu-box .menu ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 16px;
            text-decoration: none;
            font-size: 14px;
            width: 100px; }
          .wrapper header .header-wrap .header-group .menu-box .menu ul li .lan-box {
            display: flex;
            align-items: center;
            justify-content: center; }
            .wrapper header .header-wrap .header-group .menu-box .menu ul li .lan-box .lan-txt {
              font-size: 14px;
              font-weight: 400;
              letter-spacing: -0.05em;
              color: #FFFFff; }
            .wrapper header .header-wrap .header-group .menu-box .menu ul li .lan-box .icon-box {
              margin-left: 18px;
              background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
              width: 8px;
              height: 4px; }
          .wrapper header .header-wrap .header-group .menu-box .menu ul li .dropdown-content {
            display: none;
            position: absolute;
            background-color: #162955;
            z-index: 1; }
            .wrapper header .header-wrap .header-group .menu-box .menu ul li .dropdown-content li a {
              color: white;
              padding: 12px 16px;
              text-align: center; }
      .wrapper header .header-wrap .header-group .menu-box .login-box {
        padding-left: 50px;
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative; }
        .wrapper header .header-wrap .header-group .menu-box .login-box:after {
          content: '';
          background-color: #323F64;
          height: 17px;
          width: 1px;
          position: absolute;
          top: 4px;
          left: 12px; }
        .wrapper header .header-wrap .header-group .menu-box .login-box .login-txt {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: #FFFFFF; }
        .wrapper header .header-wrap .header-group .menu-box .login-box .icon-box {
          margin-left: 13px; }
          .wrapper header .header-wrap .header-group .menu-box .login-box .icon-box.ic-login {
            background: url("../img/ic_login.svg") no-repeat center/cover;
            width: 24px;
            height: 24px; }
  .wrapper header .header-wrap .sub-tit-box {
    background-color: #162955;
    border-top: 1px solid #37466F;
    padding: 12px 33px; }
    .wrapper header .header-wrap .sub-tit-box .tit-txt {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -0.05em;
      color: #FFFFFF; }
  .wrapper .body-wrap {
    height: 100%; }
    .wrapper .body-wrap .body-wrap-inner {
      background-color: #EBEFF7;
      padding-top: 153px;
      height: 100%;
      display: flex;
      justify-content: center; }
      .wrapper .body-wrap .body-wrap-inner .login-wrap {
        display: flex;
        align-items: center;
        width: 820px;
        height: 520px; }
        .wrapper .body-wrap .body-wrap-inner .login-wrap .login-bg-box {
          width: 416px;
          height: 520px; }
          .wrapper .body-wrap .body-wrap-inner .login-wrap .login-bg-box .img-box {
            background: url("../img/login_img.png") no-repeat center/cover;
            height: 100%; }
        .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box {
          background-color: #fff;
          height: 100%;
          padding: 48px 41px;
          flex: 1;
          position: relative; }
          .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .subject-box {
            font-size: 28px;
            font-weight: 700;
            color: #1E2431; }
          .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-form-layout {
            padding-top: 31px; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-form-layout .con-box + .con-box {
              padding-top: 25px; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-form-layout .con-box .t-item-box .tbox-txt {
              font-size: 18px;
              font-weight: 400;
              letter-spacing: -0.03em;
              color: #222222; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-form-layout .con-box .t-item-box .tbox input {
              background-color: #FFFFFF;
              width: 100%;
              height: 42px;
              border-radius: 3px;
              border: 1px solid #C6C6C6;
              padding: 0 5px; }
              .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-form-layout .con-box .t-item-box .tbox input:focus {
                outline: none; }
          .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-btn-box {
            margin-top: 52px; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .login-btn-box .login-btn {
              background-color: #3060EA;
              border-radius: 5px;
              width: 100%;
              height: 54px;
              font-size: 20px;
              font-weight: 600;
              letter-spacing: -0.01em;
              color: #FFFFFF;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none; }
          .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .msg-box {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 218px; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .msg-box .icon-box {
              display: block;
              background: url("../img/ic_warning.svg") no-repeat center/cover;
              width: 18px;
              height: 17px; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .msg-box .msg-txt {
              padding-left: 4px;
              color: #FF004D;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: -0.04em; }
          .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .option-list {
            padding-top: 24px;
            display: flex;
            align-items: center;
            justify-content: space-around; }
            .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .option-list .option-box {
              position: relative; }
              .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .option-list .option-box + .option-box:after {
                content: '';
                background-color: #D0D0D0;
                height: 20px;
                width: 1px;
                position: absolute;
                top: 4px;
                left: -28px; }
              .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .option-list .option-box .option-btn {
                text-decoration: none; }
                .wrapper .body-wrap .body-wrap-inner .login-wrap .login-form-box .option-list .option-box .option-btn .option-txt {
                  font-size: 16px;
                  font-weight: 400;
                  letter-spacing: -0.3px;
                  color: #888888; }

/*# sourceMappingURL=login.css.map */