@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic-L.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic-R.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic-B.woff") format("woff");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.lotto {
  max-width: 1024px;
  margin: 0 auto;
}

.lotto .lotto-contents {
  background-color: #1C1D4A;
}

.lotto .lotto-contents header {
  background: url("../img/img_bg.png") no-repeat center/100% 100%;
  height: 170px;
  padding: 18px 48px 24px;
  box-sizing: border-box;
}

.lotto .lotto-contents header .header-wrap {
  display: flex;
  align-items: center;
}

.lotto .lotto-contents header .header-wrap h1.header-box a.lotto-logo {
  display: block;
  max-width: 133px;
}

.lotto .lotto-contents header .header-wrap h1.header-box a.lotto-logo img {
  width: 100%;
}

.lotto .lotto-contents header .header-wrap .header-con-box .txt {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
}

.lotto .lotto-contents .lotto-play {
  padding: 24px 48px 109px;
}

.lotto .lotto-contents .lotto-play .lotto-user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lotto .lotto-contents .lotto-play .lotto-user-box .user-mane-box .txt {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.lotto .lotto-contents .lotto-play .lotto-user-box .user-point-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lotto .lotto-contents .lotto-play .lotto-user-box .user-point-box .point-box {
  padding-right: 24px;
}

.lotto .lotto-contents .lotto-play .lotto-user-box .user-point-box .point-box .point-txt {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.lotto .lotto-contents .lotto-play .lotto-user-box .user-point-box .move-btn-box .move-btn {
  color: #5899FA;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid #5899FA;
  background: #2B2D5D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  max-width: 92px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box {
  padding-top: 40px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-tab-box .tab-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-tab-box .tab-wrap .tab-btn-box {
  width: 25%;
  border-radius: 10px 10px 0 0;
  background: #2B2D5D;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.2);
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-tab-box .tab-wrap .tab-btn-box + .tab-btn-box {
  margin-left: 4px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-tab-box .tab-wrap .tab-btn-box .tab-btn {
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  color: #888;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-tab-box .tab-wrap .tab-btn-box.on {
  background: #34B5F7;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-tab-box .tab-wrap .tab-btn-box.on .tab-btn {
  color: #FFF;
  font-weight: 600;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap {
  background: url("../img/img_check_bg.png") no-repeat center/cover;
  padding: 40px 24px 37px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout {
  margin-top: 32px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #EF3A81;
  background-color: #ffffff;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list {
  display: flex;
  width: 20%;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box + .item-box {
  border-left: 1px solid #EF3A81;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .subject-box {
  display: flex;
  border-bottom: 1px solid #EF3A81;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .subject-box .label-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .subject-box .label-box .label-txt {
  color: #EF3A81;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .subject-box .price-box {
  background: #EF3A81;
  height: 40px;
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .subject-box .price-box .price-txt {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box {
  padding: 20px 24px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap {
  display: inline-flex;
  flex-flow: wrap;
  margin: -6px -6px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box {
  width: calc(20% - 12px);
  margin: 6px 6px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box a {
  text-decoration: none;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box .check-num-txt {
  color: #EF3A81;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  height: 21px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box .check-num-txt:after {
  content: '';
  background: url("../img/ic_click_front.svg") no-repeat center/cover;
  width: 16px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box .check-num-txt:before {
  content: '';
  background: url("../img/ic_click_back.svg") no-repeat center/cover;
  width: 16px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box .check-num-txt.on {
  color: #FFF;
  background-color: #000000;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box .check-num-txt.on:after {
  display: none;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .check-num-wrap .check-num-box .check-num-txt.on:before {
  display: none;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box {
  padding-top: 22px;
  text-align: right;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box .auto-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box .auto-box + .auto-box {
  padding-top: 8px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box .auto-box .txt {
  color: #EF3A81;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box .auto-box .check-btn-box {
  margin-left: 12px;
  display: inline-flex;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box .auto-box .check-btn-box .check-btn {
  background: url("../img/ic_check_off.svg") no-repeat center/cover;
  width: 15px;
  height: 16px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .lotto-info-layout .item-list .item-box .con-box .option-box .auto-box .check-btn-box .check-btn.on {
  background: url("../img/ic_check_on.svg") no-repeat center/cover;
  width: 15px;
  height: 16px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .buy-box {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .buy-box .total-box {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 50px;
  border: 1px solid #5899FA;
  background: rgba(43, 45, 93, 0.9);
  display: flex;
  align-items: center;
  width: 280px;
  text-align: center;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .buy-box .total-box .subject-box {
  padding: 19px 5px;
  width: 140px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .buy-box .total-box .con-box {
  border-left: 1px solid #5899FA;
  padding: 19px 5px;
  width: 140px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .buy-box .buy-btn-box {
  width: 260px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .buy-box .buy-btn-box .buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #34B5F7;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-decoration: none;
  padding: 19px 5px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box {
  margin-top: 38px;
  border-top: 1px solid #6E6F9D;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-desc-box {
  padding-top: 32px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group {
  padding: 0 38px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row {
  border-bottom: 1px solid #41427A;
  display: flex;
  justify-content: center;
  padding: 28px 0 24px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row .num-box {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), -4px -4px 4px 0px rgba(0, 0, 0, 0.16) inset;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row .num-box + .num-box {
  margin-left: 12px;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row .num-box.type-yellow {
  background: #FBB600;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row .num-box.type-blue {
  background: #4190B5;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row .num-box.type-red {
  background: #CF4748;
}

.lotto .lotto-contents .lotto-play .lotto-check-form-box .lotto-check-box .check-wrap .num-list-box .num-group .row .num-box.type-green {
  background: #49AF5C;
}

article.check-desc-box {
  display: flex;
  align-items: center;
}

article.check-desc-box .icon-box {
  border-radius: 50%;
  background: rgba(88, 153, 250, 0.3);
  width: 18px;
  height: 18px;
  margin-right: 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

article.check-desc-box .txt-box {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

/*# sourceMappingURL=style.css.map */