@charset "UTF-8";


$font : 'NanumBarunGothic';
@each $size in L, R, B{

	@font-face{
		font-family:$font;
		src: url("../fonts/#{$font}-#{$size}.woff") format('woff');

		@if $font == L {
			font-weight: 300;
		}
		@else if $font == R {
			font-weight: 400;
		}
		@else if $font == B {
			font-weight: 700;
		}
		font-style:normal;
	}
}


