@charset "UTF-8";
@import "global.scss";

section.moment-page {

	section.page-title {
		padding-top: 60px;

		@include m{
		    padding-top: 0 ;
		}

		.page-title{
			.title-img-box{
				img{
					width: 100%;


					&.web{
						aspect-ratio: 1273/225;
						max-width: 1273px;

						@include m{
						    display: none;
						}

					}

					&.mobile{
						display: none;
						aspect-ratio: 375/130;
						max-width: 375px;



						@include m{
						    display: block;
						}
					}
				}
			}

			.title-con-box {
				font-size: 18px;
				letter-spacing: -0.02em;
				line-height: 140%;
				text-align: center;
				.mobile-enter {
					display: none;
					font-weight: 700;

					@include m {
						display: block;
					}

				}
			}
		}



	}

}




