@charset "UTF-8";
/*
AUTH : ssooya
VERSION : version 2
*/
/**********
펑션
***********/
/**********
텍스트 자간
***********/
/**********
텍스트 말줄임
***********/
/**********
아이콘
***********/
@media (max-width: 1160px) {
  .web {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 1160px) {
  .mobile {
    display: block;
  }
}

@media (max-width: 1160px) {
  .mobile-enter {
    display: block;
  }
}

.fw-light {
  font-weight: 300 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.f-underline {
  text-decoration: underline;
  text-underline-position: under;
}

.fc-goods {
  color: #FF4C76 !important;
}

.fc-tech {
  color: #f25839 !important;
}

.fc-romance {
  color: #1fb051 !important;
}

.fc-style {
  color: #9836EB !important;
}

.bg-goods {
  background-color: #FF4C76 !important;
}

.bg-tech {
  background-color: #f25839 !important;
}

.bg-romance {
  background-color: #1fb051 !important;
}

.bg-style {
  background-color: #9836EB !important;
}

.fc-red {
  color: #EA3255 !important;
}

.fc-blue {
  color: #173DAB !important;
}

.fc-primary {
  color: #2f68db !important;
}

.fc-white {
  color: #fff !important;
}

.left-align {
  text-align: left !important;
}

.right-align {
  text-align: right !important;
}

.center-align {
  text-align: center;
}

.pt90 {
  padding-top: 90px;
}

.pt40 {
  padding-top: 40px;
}

.pt30 {
  padding-top: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pt10 {
  padding-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt5 {
  margin-top: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt80 {
  margin-top: 80px;
}

.p-none {
  padding: 0 !important;
}

.scroll-effect::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scroll-effect::-webkit-scrollbar-track {
  background: #fff;
}
.scroll-effect::-webkit-scrollbar-thumb {
  background: #000000;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.overlay:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 500;
}

.overlay2:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 550;
}

.relative {
  position: relative;
}

.type-en {
  font-family: "Pretendard";
}

article.menu-btn-box {
  display: inline-flex;
  justify-content: center;
}
article.menu-btn-box.full {
  width: 100%;
}
article.menu-btn-box.right {
  justify-content: flex-end;
}
article.menu-btn-box .menu-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
article.menu-btn-box .menu-box + .menu-box {
  margin-left: 10px;
}
article.menu-btn-box .menu-box + .menu-box.space-short {
  margin-left: 12px;
}
article.menu-btn-box .menu-box + .menu-box.space-short2 {
  margin-left: 18px;
}
article.menu-btn-box .menu-box.dynamic {
  width: auto;
}
article.menu-btn-box .menu-box.dynamic .menu-btn {
  padding: 0 14.5px;
}
article.menu-btn-box .menu-box.full {
  width: 100% !important;
}
article.menu-btn-box .menu-box.long {
  width: 407px;
}
article.menu-btn-box .menu-box.long2 {
  width: 230px;
}
article.menu-btn-box .menu-box.medium {
  width: 160px;
}
article.menu-btn-box .menu-box.short {
  width: 120px;
}
article.menu-btn-box .menu-box.shorter {
  width: 90px;
}
article.menu-btn-box .menu-box.shorter2 {
  width: 95px;
}
article.menu-btn-box .menu-box.shortest2 {
  width: 78px;
}
article.menu-btn-box .menu-box.small .menu-btn {
  height: 40px;
  font-size: 14px;
  font-weight: 500;
}
article.menu-btn-box .menu-box.normal .menu-btn {
  height: 50px;
  font-size: 16px;
  font-weight: 500;
}
article.menu-btn-box .menu-box.smallest .menu-btn {
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
article.menu-btn-box .menu-box.type-border .menu-btn {
  background-color: #fff;
  border: 1px solid #CCCCCC;
}
article.menu-btn-box .menu-box.type-border-primary .menu-btn {
  color: #203D7A;
  border: 1px solid #85BEF1;
  background-color: #CEE8FF;
}
article.menu-btn-box .menu-box.type-1 .menu-btn {
  color: #fff;
  background-color: #444;
}
article.menu-btn-box .menu-box.type-2 .menu-btn {
  color: #fff;
  background-color: #D4A79A;
}
article.menu-btn-box .menu-box.type-primary .menu-btn {
  color: #fff;
  background-color: #1067ee;
}
article.menu-btn-box .menu-box.type-second .menu-btn {
  color: #203D7A;
  background-color: #c4e0fc;
  border: 1px solid #9BB6E2;
}
article.menu-btn-box .menu-box.type-cancel .menu-btn {
  color: #fff;
  background-color: #5b6068;
}
article.menu-btn-box .menu-box.type-remove .menu-btn {
  color: #fff;
  background-color: #FD6161;
}
article.menu-btn-box .menu-box.type-green .menu-btn {
  background: #23935B;
  color: #fff;
}
article.menu-btn-box .menu-box .menu-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  border-radius: 3px;
  height: 32px;
  position: relative;
  z-index: 10;
}
article.menu-btn-box .menu-box .menu-btn .ic {
  margin-right: 10px;
}
article.menu-btn-box .menu-box .menu-btn .ic.ic-cancel {
  background: url("../img/ic_cancel.svg") no-repeat center/cover;
  width: 16px;
  height: 16px;
}
article.menu-btn-box .menu-box .menu-btn .ic.ic-save {
  background: url("../img/ic_save.svg") no-repeat center/cover;
  width: 24px;
  height: 25px;
}
article.menu-btn-box .menu-box .menu-btn .ic.ic-print {
  background: url("../img/ic_print.svg") no-repeat center/cover;
  width: 24px;
  height: 24px;
}
article.menu-btn-box .menu-box .menu-btn .ic.ic-refresh {
  background: url("../img/ic_refresh.svg") no-repeat center/cover;
  width: 24px;
  height: 24px;
}
article.menu-btn-box .menu-box .menu-btn .txt {
  line-height: 1;
}
article.menu-btn-box .menu-btn + .menu-btn {
  margin-left: 46px;
}
article.menu-btn-box .menu-btn.full {
  width: 100%;
}

article.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DADCE0;
  border-radius: 4px;
  overflow: hidden;
}
article.spinner .spinner-btn {
  width: 30px;
  height: 32px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: #F5F5F5;
}
article.spinner .spinner-btn.type-minus {
  background: #fff url("../img/ic_spinner_minus.svg") no-repeat center;
}
article.spinner .spinner-btn.type-plus {
  background: #fff url("../img/ic_spinner_plus.svg") no-repeat center;
}
article.spinner input {
  height: 32px;
  width: 50px;
  border-left: 1px solid #DADCE0;
  border-right: 1px solid #DADCE0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  outline: none;
  background-color: #fff;
}
article.spinner input::placeholder {
  color: #ccc;
}

.textbox {
  background-color: #FCFCFC;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  padding: 16px 20px;
}
@media (max-width: 1160px) {
  .textbox {
    border-radius: 8px;
    padding: 12px 16px;
  }
}
.textbox.full {
  width: 100%;
}
.textbox textarea {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  resize: none;
  line-height: 160%;
  background-color: #fcfcfc;
  font-size: 16px;
  letter-spacing: -0.03em;
  height: 200px;
}
@media (max-width: 1160px) {
  .textbox textarea {
    font-size: 14px;
    height: 160px;
  }
}
.textbox textarea::placeholder {
  color: #C2C2C2;
}
.textbox .limit-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-weight: 500;
  color: #A2A2A2;
}
@media (max-width: 1160px) {
  .textbox .limit-box {
    padding-top: 8px;
    font-size: 12px;
  }
}
.textbox .limit-box .limit-txt {
  margin-right: 4px;
  color: #0a0a0a;
}
@media (max-width: 1160px) {
  .textbox .limit-box .limit-txt {
    margin-right: 2px;
  }
}

.tbox.right input {
  text-align: right;
}
.tbox.full {
  width: 100% !important;
}
.tbox.normal {
  width: 212px;
}
.tbox.normal2 {
  width: 250px;
}
.tbox.shorter {
  width: 100px;
}
.tbox.short {
  width: 140px;
}
.tbox.short2m {
  width: 170px;
}
.tbox.long {
  width: 360px;
}
.tbox.long2 {
  width: 400px;
}
.tbox.longer {
  width: 420px;
}
.tbox.medium {
  width: 308px;
}
.tbox input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: #fcfcfc;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: -0.03em;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
}
@media (max-width: 1160px) {
  .tbox input {
    border-radius: 8px;
    height: 44px;
    font-size: 14px;
    padding: 0 16px;
  }
}
.tbox input::placeholder {
  color: #C2C2C2;
}
.tbox.center input {
  text-align: center;
}
.tbox::placeholder {
  color: rgba(57, 57, 57, 0.4);
  letter-spacing: -0.3px;
}
.tbox.error input {
  border: 1px solid #F05252;
}

.sbox {
  position: relative;
  text-align: left;
}
.sbox.is-active .set-btn {
  border-radius: 4px 4px 0 0;
  border: 1px solid #191919;
  background: url("../img/ic_select_arrow_show.svg") no-repeat right 8px center;
}
.sbox.is-active .select-menu {
  display: block;
}
.sbox.full {
  width: 100%;
}
.sbox.normal {
  width: 240px;
}
.sbox .set-btn {
  font-size: 14px;
  letter-spacing: -0.04em;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0 42px 0 16px;
  background: url("../img/ic_select_arrow_hide.svg") no-repeat right 8px center;
  border: 1px solid #dadce0;
  border-radius: 4px;
}
.sbox .set-btn.disabled {
  background: #fff;
}
.sbox .select-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  z-index: 20;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.sbox .select-menu ul {
  max-height: 360px;
  overflow-y: auto;
  position: relative;
}
@media (max-width: 1160px) {
  .sbox .select-menu ul {
    max-height: 110px;
  }
}
.sbox .select-menu ul li .select-btn {
  padding: 0 16px;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.04em;
}
.sbox .select-menu ul li .select-btn:hover {
  background-color: #f9f9f9;
}
.sbox select {
  border-radius: 12px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #fcfcfc url("../img/ic_select_arrow.svg") no-repeat center right 20px;
  border: 1px solid #E2E2E2;
  outline: none;
  padding: 0px 56px 0 20px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
@media (max-width: 1160px) {
  .sbox select {
    height: 44px;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 44px 0 16px;
    background-position: right 16px center;
    background-size: 20px 20px;
  }
}
.sbox select:disabled {
  opacity: 1;
}
.sbox select.off {
  color: #C9C9C9;
}

article.paging {
  padding-top: 50px;
}
@media (max-width: 1160px) {
  article.paging {
    padding-top: 40px;
  }
}
article.paging .paging-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
article.paging .paging-list .nav-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
article.paging .paging-list .nav-box .paging-btn {
  width: 36px;
  height: 36px;
}
@media (max-width: 1160px) {
  article.paging .paging-list .nav-box .paging-btn {
    width: 28px;
    height: 28px;
  }
}
article.paging .paging-list .nav-box .paging-btn.first {
  background: url("../img/ic_paging_first.svg") no-repeat center;
}
article.paging .paging-list .nav-box .paging-btn.prev {
  background: url("../img/ic_paging_prev.svg") no-repeat center;
  margin-right: 6px;
}
@media (max-width: 1160px) {
  article.paging .paging-list .nav-box .paging-btn.prev {
    margin-right: 4px;
  }
}
article.paging .paging-list .nav-box .paging-btn.next {
  background: url("../img/ic_paging_next.svg") no-repeat center;
  margin-left: 6px;
}
@media (max-width: 1160px) {
  article.paging .paging-list .nav-box .paging-btn.next {
    margin-left: 4px;
  }
}
article.paging .paging-list .nav-box .paging-btn.last {
  background: url("../img/ic_paging_last.svg") no-repeat center;
}
article.paging .paging-list .nav-box .paging-btn:disabled {
  opacity: 0.6;
}
article.paging .paging-list .num-list {
  display: inline-flex;
  align-items: center;
}
article.paging .paging-list .num-list .num-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  color: #A2A2A2;
}
@media (max-width: 1160px) {
  article.paging .paging-list .num-list .num-btn {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
}
article.paging .paging-list .num-list .num-btn.current {
  color: #444;
  font-weight: 700;
  border-radius: 50%;
  background-color: #F6F6F6;
}
article.paging .paging-list .num-list .num-btn + .paging-btn {
  margin-left: 66px;
}
@media (max-width: 1160px) {
  article.paging .paging-list .num-list .num-btn + .paging-btn {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=renewal_ui.css.map */
