@charset "UTF-8";
/*
AUTH : ssooya
VERSION : version 2
*/
/**********
펑션
***********/
/**********
텍스트 자간
***********/
/**********
텍스트 말줄임
***********/
/**********
아이콘
***********/
body {
  margin: 0;
}

.inner {
  max-width: 1042px;
  margin: 0 auto;
}

header .header-box {
  background-color: #ffffff;
}

header .header-box .logo-box {
  height: 105px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-box .logo-box .logo {
  max-width: 108px;
  display: block;
}

header .header-box .logo-box .logo img {
  width: 100%;
  height: 100%;
}

section.esg-contents .esg-group {
  background: url("../img/esg_bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

section.esg-contents .esg-group .esg-visual-box {
  padding-top: 70px;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box {
  text-align: center;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box .visual-tit-txt img {
  max-width: 554px;
  height: auto;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box .visual-sub-txt {
  padding-top: 25px;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box .visual-sub-txt img {
  max-width: 458px;
  height: auto;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box .visual-tip-txt {
  padding-top: 20px;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box .visual-tip-txt .tip-txt {
  color: #555;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.04em;
}

section.esg-contents .esg-group .esg-visual-box .visual-tit-box .visual-tip-txt .tip-txt .tip-point {
  color: #568EFF;
  box-shadow: inset 0 -11px 0 #D5FB4E;
}

section.esg-contents .esg-group .esg-visual-box .visual-bg-box {
  max-width: 1042px;
  position: relative;
  padding-top: 72px;
}

section.esg-contents .esg-group .esg-visual-box .visual-bg-box img {
  width: 100%;
  height: 100%;
}

section.esg-contents .esg-group .esg-visual-box .visual-con-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
}

section.esg-contents .esg-group .esg-visual-box .visual-con-box .row-box {
  display: flex;
  align-items: center;
}

section.esg-contents .esg-group .esg-visual-box .visual-con-box .row-box + .row-box {
  padding-top: 21px;
}

section.esg-contents .esg-group .esg-visual-box .visual-con-box .row-box .label-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #00A76F;
  color: #D5FB4E;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.72px;
  padding: 6px 14px;
  width: 120px;
  box-sizing: border-box;
}

section.esg-contents .esg-group .esg-visual-box .visual-con-box .row-box .label-box .label-txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section.esg-contents .esg-group .esg-visual-box .visual-con-box .row-box .desc-box {
  padding-left: 10px;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.36px;
}

/*# sourceMappingURL=test.css.map */