@charset "UTF-8";
@import "global.scss";

body{
	margin: 0;
}

.inner{
	max-width: 1042px;
	margin: 0 auto;
}


header{
	.header-box{
		background-color: #ffffff;

		.logo-box{
			height: 105px;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			.logo{
				max-width: 108px;
				display: block;


				img{
					width: 100%;
					height: 100%;

				}
			}
		}
	}
}


section.esg-contents{
	.esg-group{
		background: url("../img/esg_bg.png");
		background-repeat: repeat;//컨테이너를 가득 채우지 못할 때 반복해서 채우기
		background-size: cover;//사이즈가 container에 맞지 않아도 꽉 차도록 채운다.(100%, 100% )
		background-position: center center; //가로 세로 background-image가 컨테이너에 가운데로 오도록 한다.(top)

		.esg-visual-box{
			padding-top: 70px;


			.visual-tit-box {
				text-align: center;


				.visual-tit-txt {
					img {
						max-width: 554px;
						height: auto;

					}
				}

				.visual-sub-txt {
					padding-top: 25px;

					img {
						max-width: 458px;
						height: auto;

					}
				}

				.visual-tip-txt {
					padding-top: 20px;

					.tip-txt {
						color: #555;
						font-size: 20px;
						font-weight: 600;
						line-height: 20px;
						letter-spacing: -0.04em;

						.tip-point {
							color: #568EFF;
							box-shadow: inset 0 -11px 0 #D5FB4E; //박스 안쪽에 그림자를 넣어줄 때 inset로 적용
						}
					}
				}
			}
		}
	}
}