@charset "UTF-8";


// 모바일
@mixin m{
	@media (max-width: 1024px) {
		@content
	}
}



$font : 'pretendard'; //pretendard를 변수에 담은 것
@each $fonts in T, L, R, M, B, EB {

	@font-face {
		font-family: $font; //변수로 선언한 변수명으로 적기 변수명으로 선언하지 않았을 경우 사용할 폰트명 적어주기
		src: url('../fonts/#{$font}-#{$fonts}.woff') format('woff');
		// 사스 문법에서는 문자열 내에서 변수를 호출하기 위해 # 문법을 사용한다.
		@if $fonts == T {
			font-weight: 200;
		} @else if $fonts == L {
			font-weight: 300;
		} @else if $fonts == R {
			font-weight: 400;
		} @else if $fonts == M {
			font-weight: 500;
		} @else if $fonts == B {
			font-weight: 700;
		} @else if $fonts == EB {
			font-weight: 900;
		}
		font-style: normal;
	}
}


*{
	margin: 0 ;
	font-size: 0;
	font-family: $font;

}

.inner{
	padding: 0 20px;
}

section.goods{


	header{
		height: 113px;
		background-color: #ffffff;
		h1.header-box{
			.header{

			}
		}
	}

	section.visual{
		background-color: #AD263B;
		.visual-box{

			text-align: center;
			padding: 60px 0 74px;

			.visual-tit{

				.tit-box{
					max-width: 597px;
					margin: 0 auto;
					img{
						width: 100%;

					}
				}
			}

			.visual-con-box{
				padding-top: 45px;
				.visual-img{
					max-width: 660px;
					margin: 0 auto;


					img{
						width: 100%;

					}
				}
			}
		}
	}

	section.event{
		background-color: #E3B2B2;
		padding: 80px 0 100px;
		@include m{
			padding: 40px 0 60px
		}
		.inner {

			&.wrap{
				max-width: 800px;
				margin: 0 auto;
			}


			.event-row-box{
				.row{

					& + .row{
						padding-top: 50px;
						@include m{
						    padding-top: 40px;
						}
					}

					.con-box{
						padding-top: 16px;
						color: #000;
						text-align: center;
						font-size: 17px;
						font-weight: 400;
						line-height: 140%;
						@include m{
							font-size: 14px;
							line-height: 160%;
						}

					}

				}
			}

			.event-info-box{
				background-color: #ffffff;
				margin-top: 80px;
				@include m{
				    margin-top: 40px;
				}
				.inner{
					padding: 52px 84px 40px;
					@include m{
						padding: 30px 22px 30px
					}
					.info-tit-box{
						.tit-txt{
							max-width: 268px;
							margin: 0 auto;
							@include m{
							    max-width: 193px;
							}
							img{
								width: 100%;

							}
						}

						.desc-box{
							padding-top: 21px;
							color: #000;
							text-align: center;
							font-size: 20px;
							font-weight: 400;
							line-height: 100%;
							letter-spacing: -0.6px;
							br{
								display: none;
							}
							@include m{
								padding-top: 14px;
								font-size: 14px;
								line-height: 130%;
								letter-spacing: -0.42px;

								br{
									display: block;
								}
							}
						}
					}

					.info-con-box{
						padding: 40px 0 37px;
						max-width: 655px;
						img{
							width: 100%;
						}

						@include m{
						    display: none;
						}

					}
					.info-con-box-mob{
						display: none;


						@include m{
							display: block;
							padding: 30px 0;
							max-width: 269px;
							img{
								width: 100%;
							}
						}

					}



					.info-apply-btn-box{
						padding-bottom: 40px;

						.apply-btn{
							max-width: 360px;
							border-radius: 10px;
							background: #000;
							padding: 20px 0 ;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #FFF;
							font-size: 18px;
							font-weight: 700;
							line-height: normal;
							letter-spacing: -0.54px;
							text-decoration: none;
							margin: 0 auto;
						}
					}

					.info-date-box{
						border-top: 1px dashed #CECECE;
						.info-date-wrap {
							max-width: 532px;
							margin: 0 auto;

							.row-wrap {
								padding-top: 40px;


								.row {
									display: flex;

									& + .row {
										padding-top: 16px;
									}


									.subject-box {
										color: #000;
										font-size: 16px;
										font-weight: 600;
										line-height: normal;
										letter-spacing: -0.8px;
										width: 90px;
										padding-right: 24px;

									}

									.con-box {
										flex: 1;
										display: flex;



										.icon-box{
											width: 16px;
											height: 16px;
											background: url("../img/ic_date.svg") no-repeat center/cover;
											margin-right: 6px;
										}


										.txt-box {

											color: #000;
											font-size: 16px;
											font-weight: 300;
											line-height: 18px;
										}
									}
								}
							}

							.msg-box {
								padding-top: 24px;
								color: #854444;
								font-size: 14px;
								font-weight: 400;
								line-height: 20px;
								letter-spacing: -0.7px;
							}
						}
					}
				}
			}

			.view-btn-box{
				padding-top: 60px;

				.view-btn{
					max-width: 360px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFF;
					font-size: 18px;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.54px;
					border-radius: 10px;
					background: #000;
					text-decoration: none;
					padding: 20px 0;
					margin: 0 auto;
				}
			}
		}
	}
}

article.label-box{
	display: flex;
	justify-content: center;
	.label-txt{

		border-radius: 50px;
		background: #AD263B;
		padding: 5px 14px;
		color: #FFF;
		font-size: 16px;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;

		@include m{
			font-size: 15px;
		}
	}
}
