@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

.index-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column; }
  .index-wrapper .bg-contents {
    min-height: 0;
    flex: 1;
    background-color: #EBEFF7; }
    .index-wrapper .bg-contents .inner {
      height: 100%;
      padding-top: 153px; }
      .index-wrapper .bg-contents .inner .login-page-box {
        width: 820px;
        height: 520px;
        margin: 0 auto;
        display: flex; }
        .index-wrapper .bg-contents .inner .login-page-box .login-bg-box .img-box {
          max-width: 416px;
          height: 520px; }
          .index-wrapper .bg-contents .inner .login-page-box .login-bg-box .img-box img {
            width: 100%; }
        .index-wrapper .bg-contents .inner .login-page-box .login-form {
          background: #FFFFFF;
          flex: 1; }
          .index-wrapper .bg-contents .inner .login-page-box .login-form .inner {
            padding: 48px 37px 0; }
            .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .subject-box {
              font-size: 28px;
              font-weight: 700;
              color: #1E2431; }
            .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout {
              padding-top: 31px; }
              .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box + .form-box {
                padding-top: 25px; }
              .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .tbox .txt-box {
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.15em;
                color: #222222;
                padding-bottom: 7px; }
              .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .tbox input {
                background: #FFFFFF;
                border-radius: 3px;
                border: 1px solid #C6C6C6;
                width: 100%;
                height: 42px;
                padding: 0 5px;
                color: #222222;
                font-size: 16px; }
              .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box {
                padding-top: 47px;
                position: relative;
                letter-spacing: -0.03em; }
                .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box button.button {
                  font-size: 20px;
                  font-weight: 500;
                  color: #FFFFFF;
                  letter-spacing: -0.01em;
                  background-color: #3060EA;
                  border-radius: 5px;
                  border: 3px solid #3060EA;
                  width: 100%;
                  height: 54px; }
                  .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box button.button:hover {
                    border: 3px solid yellow; }
                .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box .desc-box {
                  position: absolute;
                  top: 0;
                  padding-top: 5px;
                  display: flex;
                  align-items: center; }
                  .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box .desc-box .icon-box {
                    display: block;
                    width: 22px;
                    height: 22px; }
                    .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box .desc-box .icon-box.ic-warning {
                      background: url("../img/ic_warning.svg") no-repeat center/cover; }
                  .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .form-box .login-btn-box .desc-box .txt-box {
                    color: #FF004D;
                    font-size: 14px;
                    font-weight: 300; }
              .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .option-list {
                display: flex;
                align-items: center;
                padding-top: 24px;
                position: relative; }
                .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .option-list:after {
                  position: absolute;
                  content: '';
                  background-color: #D0D0D0;
                  width: 1px;
                  height: 1px;
                  left: 10px; }
                .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .option-list .option-box {
                  margin: 0 auto; }
                  .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .option-list .option-box + .option-box {
                    border-left: 1px solid #D0D0D0;
                    padding-left: 30px; }
                  .index-wrapper .bg-contents .inner .login-page-box .login-form .inner .form-layout .option-list .option-box .option-btn {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: -0.3em;
                    color: #222222;
                    text-decoration: none;
                    width: 100%; }

header .header-inner {
  background-color: #162955; }
  header .header-inner .header-top-box .logo {
    display: flex;
    border-bottom: 1px solid #37466F;
    padding: 10px 25px 6px; }
    header .header-inner .header-top-box .logo .logo-box {
      display: flex;
      width: 100%;
      justify-items: flex-start; }
      header .header-inner .header-top-box .logo .logo-box .img-logo {
        margin: 0; }
        header .header-inner .header-top-box .logo .logo-box .img-logo a.logo-btn {
          width: 213px;
          height: 44px; }
          header .header-inner .header-top-box .logo .logo-box .img-logo a.logo-btn img {
            max-width: 100%; }
      header .header-inner .header-top-box .logo .logo-box .logo-txt {
        margin: 0;
        display: inline-flex;
        align-items: center;
        height: 44px;
        padding-left: 104px; }
        header .header-inner .header-top-box .logo .logo-box .logo-txt .icon-box {
          background: url("../img/ic_panorama.svg") no-repeat center/cover;
          width: 19px;
          height: 18px; }
        header .header-inner .header-top-box .logo .logo-box .logo-txt .txt-box {
          padding-left: 15px;
          font-size: 18px;
          font-weight: 500;
          color: #FFFFFF; }
    header .header-inner .header-top-box .logo .login {
      display: flex;
      align-items: center;
      width: 274px; }
      header .header-inner .header-top-box .logo .login .translation-box .translation-btn {
        display: flex;
        align-items: center;
        text-decoration: none; }
        header .header-inner .header-top-box .logo .login .translation-box .translation-btn .txt-box {
          font-size: 14px;
          font-weight: 300;
          line-height: -0.025em;
          color: #FFFFFF; }
        header .header-inner .header-top-box .logo .login .translation-box .translation-btn .icon-box {
          margin-left: 18px;
          background: url("../img/ic_logo_arrow.svg") no-repeat center/cover;
          width: 8px;
          height: 4px; }
      header .header-inner .header-top-box .logo .login .login-btn-box {
        width: 116px; }
        header .header-inner .header-top-box .logo .login .login-btn-box .login-btn {
          display: flex;
          align-items: center;
          text-decoration: none; }
          header .header-inner .header-top-box .logo .login .login-btn-box .login-btn .txt {
            font-size: 14px;
            font-weight: 300;
            line-height: -0.025em;
            color: #FFFFFF; }
          header .header-inner .header-top-box .logo .login .login-btn-box .login-btn .icon-box {
            margin-left: 13px;
            background: url("../img/ic_login.svg") no-repeat center/cover;
            width: 24px;
            height: 24px; }
  header .header-inner .header-top-box .page-chapter .page-box .txt {
    padding: 2px 33px 6px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #E5EBFF;
    font-weight: 700; }

/*# sourceMappingURL=style.css.map */