@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-R.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-M.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-B.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SB.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.web {
  display: block; }
  @media (max-width: 375px) {
    .web {
      display: none; } }

.mobile {
  display: none; }
  @media (max-width: 375px) {
    .mobile {
      display: block; } }

section.funny-main .main-group .visual-wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }
  section.funny-main .main-group .visual-wrap .visual-box {
    height: 580px; }
    section.funny-main .main-group .visual-wrap .visual-box img {
      width: 100%; }

section.funny-main .visual-swiper-group {
  padding-top: 40px; }
  section.funny-main .visual-swiper-group .swiper-wrap .swiper .swiper-wrapper .swiper-slide {
    background: url("../img/img_board_item1.png") no-repeat center/100% 100%;
    aspect-ratio: 848/300; }
  section.funny-main .visual-swiper-group .swiper-wrap .swiper .swiper-button-prev {
    background: url("../img/ic_prev.png") no-repeat center/cover;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -36%; }
    section.funny-main .visual-swiper-group .swiper-wrap .swiper .swiper-button-prev:after {
      display: none; }
  section.funny-main .visual-swiper-group .swiper-wrap .swiper .swiper-button-next {
    background: url("../img/ic_next.png") no-repeat center/cover;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 36%; }
    section.funny-main .visual-swiper-group .swiper-wrap .swiper .swiper-button-next:after {
      display: none; }

section.funny-main .goods-group {
  padding: 120px 0; }
  section.funny-main .goods-group .goods-list-wrap .goods-list {
    display: flex;
    align-items: center;
    justify-content: center; }
    section.funny-main .goods-group .goods-list-wrap .goods-list .item-box + .item-box {
      margin-left: 30px; }
    section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn {
      text-decoration: none; }
      section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn:hover .con-box {
        background: #1FB051; }
        section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn:hover .con-box .txt-box .label-box {
          background: #FFFFFF;
          color: #1FB051; }
      section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn.type-stop {
        pointer-events: none; }
        section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn.type-stop .con-box {
          background: url("../img/img_talk_item5.png") no-repeat center/cover; }
      section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn .con-box {
        display: flex;
        width: 188px;
        height: 188px;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: url("../img/img_talk_item4.png") no-repeat center/cover; }
        section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn .con-box .txt-box {
          text-align: center; }
          section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn .con-box .txt-box .label-box {
            border-radius: 2px;
            background: #F25839;
            display: inline-flex;
            padding: 5px 6px;
            justify-content: center;
            align-items: center;
            color: #FFFFFF; }
          section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn .con-box .txt-box .txt {
            padding-top: 4px;
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: -0.45px;
            text-decoration: none; }
          section.funny-main .goods-group .goods-list-wrap .goods-list .item-box .goods-btn .con-box .txt-box .txt-coming {
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.4px;
            text-transform: capitalize; }

section.funny-main .best-review-group .best-review-wrap {
  background-color: #F2F2F2;
  padding: 110px 280px;
  display: flex;
  position: relative; }
  section.funny-main .best-review-group .best-review-wrap:after {
    content: '';
    background: url("../img/img_talk_item1.png") no-repeat center/cover;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 43px;
    right: 150px;
    z-index: 1; }
  section.funny-main .best-review-group .best-review-wrap .best-tit-box .tit-txt {
    padding-top: 55px;
    color: #0A0A0A;
    font-size: 28px;
    letter-spacing: -0.03em;
    font-weight: 800; }
  section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap {
    padding-left: 40px;
    flex: 1;
    z-index: 10; }
    section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
      section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide {
        max-width: 245px; }
        section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide {
          padding-left: 16px; }
          section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box {
            text-decoration: none; }
            section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .review-box .img-box {
              max-width: 254px; }
              section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .review-box .img-box img {
                width: 100%; }
            section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .label-box {
              display: inline-flex;
              align-items: center; }
              section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .label-box .dot-box {
                color: #F25839;
                letter-spacing: -0.03em;
                font-weight: 700; }
              section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .label-box .dot-txt {
                padding-left: 8px;
                color: #666666;
                font-size: 14px;
                letter-spacing: -0.03em; }
            section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .subject-box {
              color: #0A0A0A;
              font-size: 16px;
              letter-spacing: -0.03em;
              font-weight: 600; }
            section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .sub-box {
              color: #444444;
              font-size: 14px;
              letter-spacing: -0.03em; }
            section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box {
              display: inline-flex;
              align-items: center;
              justify-content: center; }
              section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .label-box {
                display: inline-flex;
                align-items: center; }
                section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .label-box .ic-box {
                  background: url("../img/ic_lavel.svg") no-repeat center/cover;
                  width: 20px;
                  height: 20px; }
                section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .label-box .txt {
                  padding-left: 4px;
                  color: #888888;
                  font-size: 14px;
                  letter-spacing: -0.03em; }
              section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .option-btn-box {
                padding-left: 14px; }
                section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .option-btn-box .btn-box {
                  display: inline-flex;
                  align-items: center;
                  text-decoration: none; }
                  section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .option-btn-box .btn-box i {
                    display: block; }
                  section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .option-btn-box .btn-box .ic-talk {
                    background: url("../img/ic_msg.svg") no-repeat center/cover;
                    width: 16px;
                    height: 16px; }
                  section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .option-btn-box .btn-box .ic-like {
                    background: url("../img/ic_like.svg") no-repeat center/cover;
                    width: 16px;
                    height: 16px; }
                  section.funny-main .best-review-group .best-review-wrap .best-review-swiper-wrap .swiper.best-swiper .swiper-wrapper .swiper-slide.swiper-slide a.item-box .con-box .option-box .option-btn-box .btn-box .txt {
                    padding-left: 4px;
                    color: #888888;
                    font-size: 14px;
                    letter-spacing: -0.03em; }

/*# sourceMappingURL=style.css.map */